@import "../../../style/imports/new_vars.less";
@import "../../../style/imports/mixins.less";

/**
Auswahl Kategorie
 */

.nav_kategorie {

  .vp1202x & {

    background: none !important;

  }

}

.nav_kategorie_inner {
  .vp0x640 & {

    padding: 0;

  }
}

.nav_kategorie_list {

  display: table;
  table-layout: fixed;
  width: 100%;

}

.nav_kategorie_item {

  display: table-cell;
  vertical-align: middle;
  height: 83px;
  height: 83/@px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;

}

.nav_kategorie_item_text {

  text-transform: uppercase;
  font-size: 20px;
  .font_opensans;
  font-weight: bold;

  .vp0x640 & {

    font-size: 24px;
    font-size: 24/@px;

  }
}

/**
Auswahl Typ Startscreen
 */

.multi-cat {
  .inner_wrapper {
    padding: 0;
  }
}

.nav_typ_startscreen {

  //background-image: url(images/KategorieProgramm/kategoriebild_running.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto 100%;
  background-position: center;
  //height: 580px;
  //height: 580/@px;
  padding-top: unit(580/1202*100, ~"%");
  overflow: hidden;
  display: none;
  position: relative;

  .startscreen_inner {

    //display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    //table-layout: fixed;
    //padding: 0 0;
    top: 0;
    left: 0;

  }
  .vp0x640 & {

    width: 640px;
    width: 640/@px;
    height: 579px;
    height: 579/@px;

  }
  &.show {

    display: block;

  }
}

.hover_shoes,
.hover_apparel {

  position: absolute;
  width: 50%;
  height: 100%;

  outline: none;
  vertical-align: middle;

  text-align: center;
  text-transform: uppercase;
  font-size: 66px;

  font-weight: bold;
  letter-spacing: -5px;
  letter-spacing: -5/@px;

  cursor: pointer;
  white-space: nowrap;
  z-index: 0;
  .vp1202x & {

    font-size: 66px;

  }
  .vp0x1201 & {

    font-size: 66/1200*100vw;

  }
  .vp0x640 & {

    width: 100%;
    height: 50%;
    font-size: 66/@px;
    display: block;

    &:hover, &:focus {
      &::before {

        transform: scaleX(1);

      }
    }

  }
  &::before {

    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: @transition_duration;
    z-index: -1;

  }
  &:hover, &:focus {
    &::before {

      transform: scaleX(1);

    }
  }
  &.disabled {

    cursor: default; //fallback
    cursor: not-allowed;
    opacity: .25;

    &::before {

      display: none;

    }
  }
}

.hover_shoes {

  text-align: left;
  left: 0;

  span {
    margin-left: -.1em;
  }

  .vp0x640 & {
    left: 0;
    top: 0;
    text-align: center;
  }

  &::before {

    transform-origin: 0 0;

  }

}

.hover_apparel {

  text-align: right;
  right: 0;

  span {
    margin-right: -.1em;
  }

  .vp0x640 & {
    left: 0;
    bottom: 0;
    text-align: center;
  }

  &::before {

    transform-origin: 100% 0;

  }
}

.start_shoes, .start_apparel {

  white-space: nowrap;
  height: 1em;

  .abs_center;
  top: -45px;
  top: -45/@px;

  .vp0x640 & {

    top: 0;

  }

}

.start_shoes {
}

.start_apparel {
}

.nav_typ {

  display: none;

  &.show {

    display: block;

  }
}

/**
Auswahl Typ
 */

.nav_typ_list {

  display: table;
  width: 100%;
  table-layout: fixed;

}

.nav_typ_item {

  display: table-cell;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  height: 83px;
  height: 83/@px;
  font-size: 32px;
  font-size: 32/@px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  position: relative;

  &.disabled {

    cursor: default;
    cursor: not-allowed;
    opacity: .25;

  }
  .vp0x640 & {

    height: 38px;
    height: 38/@px;
    font-size: 21px;
    font-size: 21/@px;

  }

}

.nav_typ_item.active {

}

.nav_typ_item.disabled {

}

.nav_typ_item_inner {

  position: relative;
  display: table;
  width: 60%;
  height: 73%;
  text-align: center;
  background: transparent;
  margin: 0 auto;
  .fixRemTransformRender();

  &[data-typ=apparel] {

    margin-right: 20px;
    margin-right: 20/@px;

  }
  &[data-typ=shoes] {

    margin-left: 60px;
    margin-left: 60/@px;

  }
  &:before, &:after {

    content: "";
    position: absolute;
    display: block;
    width: 100px;
    width: 100/@px;
    height: 100%;
    background: inherit;
    top: 0;
    z-index: -1;
    transform: skewX(-56deg);

  }
  &:before {

    transform-origin: 0 100%;
    left: -100px;
    left: -100/@px;

  }
  &:after {

    transform-origin: 0 0;
    right: -100px;
    right: -100/@px;

  }

  .vp0x640 & {

    height: 100%;

    &[data-typ=apparel] {

      margin-right: 40px;
      margin-right: 40/@px;

    }
    &[data-typ=shoes] {

      margin-left: 40px;
      margin-left: 40/@px;

    }
    &:before, &:after {

      width: 64px;
      width: 64/@px;

    }
    &:before {

      transform-origin: 0 100%;
      left: -64px;
      left: -64/@px;

    }
    &:after {

      transform-origin: 0 0;
      right: -64px;
      right: -64/@px;

    }

  }

}

.nav_typ_item_text {

  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;

}

/**
Auswahl Programm
 */

.nav_programm {

  display: none;
  border-width: 10px 0 0 0;
  border-width: 10/@px 0 0 0;
  border-style: solid;
  border-color: transparent;
  transform: translateZ(0); //Rendering Fix

  &.show {

    display: block;

  }
}

@programm_bg_width: 677;
@programm_bg_inner_width: 596;

.nav_programm_item.small, .nav_tech_item {

  float: left;
  width: 50%;
  height: 206px;
  height: 206/@px;
  position: relative;
  border-width: 0 5px 10px 5px;
  border-width: 0 5/@px 10/@px 5/@px;
  border-style: solid;
  border-color: transparent;

  &:nth-child(odd) {
    border-left: none;
  }

  &:nth-child(even) {
    border-right: none;
  }

  .bg {

    position: absolute;
    background-repeat: no-repeat;
    width: @programm_bg_width+0px;
    width: @programm_bg_width/@px;
    max-width: 100%;
    height: 100%;
    transition: .25s opacity;
    background-size: 954px 200px;
    background-size: 954/@px 200/@px;

    &::after {

      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .5;
      transition-duration: @transition_duration;
      transition-property: opacity;

    }

  }

  &:hover {
    .bg::after {

      opacity: .2;

    }
  }

  .outer {

    width: @programm_bg_width+0px;
    width: @programm_bg_width/@px;
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

  }

  .inner {

    width: @programm_bg_inner_width+0px;
    width: @programm_bg_inner_width/@px;
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

  }

  .holder_name {

    position: absolute;
    display: table-cell;
    height: 1em;
    margin-top: 45px;
    margin-top: 45/@px;
    vertical-align: middle;
    color: #000;
    font-size: 60px;
    font-size: 60/@px;
    font-weight: bold;
    text-transform: uppercase;

  }

  .text_name {

    display: inline-block;
    vertical-align: middle;

  }

  .overlay_konzept {

    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    width: @programm_bg_width+0px;
    width: @programm_bg_width/@px;
    max-width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;

  }

  .overlay_konzept_inner {

    position: absolute;
    width: @programm_bg_inner_width+0px;
    width: @programm_bg_inner_width/@px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    padding: unit(20/@programm_bg_inner_width*100, ~"%");

  }

  .overlay_konzept_close {

    position: absolute;
    right: 15px;
    right: 15/@px;
    top: 15px;
    top: 15/@px;

    [lang="ar"] & {
      right: auto;
      left: 15px;
      left: 15/@px;
    }

    .close {

      width: 20px;
      width: 20/@px;
      height: 20px;
      height: 20/@px;

      b {

        height: 10%;

      }
    }
  }

  .overlay_konzept_titel {

    .font_opensans;
    font-weight: 600;
    font-size: 18px;
    font-size: 18/@px;
    text-transform: uppercase;

    [lang="ar"] & {
      text-align: right;
    }

  }

  .overlay_konzept_beschreibung {

    height: 100px;
    height: 100/@px;
    margin-top: 8px;
    margin-top: 8/@px;
    overflow: hidden;
    font-size: 0;

  }

  .overlay_konzept_beschreibung_holder {

    display: inline-block;

    [lang="ar"] & {
      text-align: right;
      direction: rtl;
    }

  }

  .overlay_konzept_beschreibung_text {

    .font_opensans;
    font-size: 16px;
    font-size: 16/@px;
    font-weight: 600;

  }

  .weiterlesen {

    .font_opensans;
    font-weight: bold;
    font-size: 16px;
    font-size: 16/@px;
    white-space: nowrap;
    cursor: pointer;

  }

  .holder_buttons {

    position: absolute;
    bottom: 0;
    z-index: 2;
    font-size: 0;

  }

  .holder_buttons_cell {

    display: inline-block;

  }

  .btn_programm, .btn_konzept {

    .font_opensans;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 8px 13px;
    padding: 8/@px 13/@px;
    background: #000;
    font-size: 20px;
    font-size: 20/@px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    cursor: pointer;
    .fixRemTransformRender();

    &:before, &:after {

      content: "";
      position: absolute;
      display: block;
      width: 54px;
      width: 54/@px;
      height: 100%;
      background: inherit;
      top: 0;
      z-index: -1;
      transform: skewX(-56deg);

    }

    &:before {

      transform-origin: 0 100%;
      left: -54px;
      left: -54/@px;

    }

    &:after {

      transform-origin: 0 0;
      right: -54px;
      right: -54/@px;

    }

  }

  .vp0x640 & {

    float: none;
    width: 100%;
    height: 191px;
    height: 191/@px;
    border: none;
    margin-bottom: 16px;
    margin-bottom: 16/@px;
    overflow: hidden;

    .bg {

      width: 100%;
      background-size: 640px 191px;
      background-size: 640/@px 191/@px;

    }
    .outer {

      width: 100%;

    }
    .inner {

      width: 100%;

    }
    .holder_name {

      font-size: 67.9px;
      font-size: 67.9/@px;

    }
    .btn_programm, .btn_konzept {

      padding: 6px 0;
      padding: 6/@px 0;

      &:before, &:after {

        width: 47px;
        width: 47/@px;

      }
      &:before {

        left: -47px;
        left: -47/@px;

      }
      &:after {

        right: -47px;
        right: -47/@px;

      }
    }
    .overlay_konzept_inner {

      width: 100%;
      padding: 20px 55px;
      padding: 20/@px 55/@px;

    }
  }

}

.nav_tech_item {

  .outer {
    position: relative;
  }

  a.inner {
    position: absolute;
    display: table;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
  }

  .tech_container {

    text-align: center;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2;

    .headline {
      display: block;

      font-weight: bold;
      font-size: 32px;
      font-size: 32/@px;

    }
    .subtitle {

      display: block;
      font-size: 20px;
      font-size: 20/@px;
      font-weight: bold;
      margin: .5em 0;
      .font_opensans;

      .arrow {

        display: block;
        border-width: 7px;
        border-width: 7/@px;
        margin: .5em auto;

      }
    }
  }
}

.nav_programm_item.small.left, .nav_tech_item.left {
  .bg {

    background-position: right center;
    right: 0;

  }
  .outer, .inner {

    margin: 0 0 0 auto;

  }
  .holder_name {

    //right: -8px;
    //right: -8/@px;
    right: 0;

  }
  .overlay_konzept {

    right: 0;
    transform: translateX(-100%);

  }
  .overlay_konzept.open {

    transform: translateX(0%);

  }
  .overlay_konzept_inner {

    right: 0;
    padding-left: 145px;
    padding-left: 145/@px;

  }
  .holder_buttons {

    right: 0;

  }
  .btn_programm {

    margin-right: 64px;
    margin-right: 64/@px;

  }
  .btn_konzept {

    margin-right: 54px;
    margin-right: 54/@px;

  }

}

.nav_programm_item.small.right, .nav_tech_item.right {
  //Styles für den rechten Container; soll im Mobile-Viewport auch für links greifen.
  .bg {

    left: 0;
    background-position: right center;
    transform: scaleX(-1);

  }
  .outer, .inner {

    margin: 0 auto 0 0;

  }
  .overlay_konzept {

    left: 0;
    transform: translateX(100%);

  }
  .overlay_konzept.open {

    transform: translateX(0%);

  }
  .overlay_konzept_inner {

    left: 0;
    padding-right: 145px;
    padding-right: 145/@px;

  }
  .holder_name {

    left: 0;

  }
  .holder_buttons {

    left: 0;

  }
  .btn_konzept {

    margin-left: 54px;
    margin-left: 54/@px;

  }
  .btn_programm {

    margin-left: 64px;
    margin-left: 64/@px;

  }
  .vp0x640 & {
    .btn_konzept {

      margin-left: 47px;
      margin-left: 47/@px;

    }
    .btn_programm {

      margin-left: 57px;
      margin-left: 57/@px;

    }
    .overlay_konzept_inner {

      padding-left: 110px;
      padding-left: 110/@px;

    }
  }

}

.nav_programm_list {

  display: none;

  &.show {

    display: block;

  }
}

.auswahl_bereich {
  min-height: 60vh;
}

/*
.auswahl_bereich {
  padding-bottom: 125/@px;
  .tech {

    float: left;
    width: 50%;
    height: 206px;
    height: 206/@px;
    position: relative;
    border-width: 0 5px 10px 5px;
    border-width: 0 5/@px 10/@px 5/@px;
    border-style: solid;
    border-color: transparent;

    .vp0x640 & {

      width: 100%;
      width: 640px;
      width: 640/@px;
      height: 191px;
      height: 191/@px;

    }

    &:hover {
      &:before {

        opacity: 0;

      }
    }
    &:before {

      content: '';
      width: 100%;
      height: 100%;
      opacity: 0.5;
      display: block;
      position: absolute;
      top: 0;
      z-index: 1;
      background: #000;
      transition: @transition_duration opacity;

    }
    > a {

      position: absolute;
      display: table;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      text-decoration: none;

    }
    .tech_container {

      text-align: center;
      text-transform: uppercase;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 2;

      .headline {
        display: block;

        font-weight: bold;
        font-size: 32px;
        font-size: 32/@px;

      }
      .subtitle {

        display: block;
        font-size: 20px;
        font-size: 20/@px;
        font-weight: bold;
        margin: .5em 0;
        .font_opensans;

        .arrow {

          display: block;
          border-width: 7px;
          border-width: 7/@px;
          margin: .5em auto;

        }
      }
    }
  }
}
*/