@import "../../../style/imports/mixins.less";
@import "../../../style/imports/vars.less";

@path: "../module/Footer/";

.footer_wrapper {

	background: #1a1f21;

	.footer_inner {
		padding: 20/@px 30/@px 45/@px 30/@px;
		position: relative;
		.vp-640 &{
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}

		.border-horicontal {
			background: linear-gradient(to right, transparent, @trennlinien-farbe, transparent);
			width: 100%;
			height: 2/@px;
			top: 0;
			left: 0;
		}

	}

	.footer_logo_src {
		width: 105/@px;
		height: 34/@px;
		.vp-640 &{
			display: block;
			margin: auto;
			margin-top: 40/@px;
		}
	}

	.footer_copyright, .footer_nav {
		font-size: 16/@px;
		color: #fff;
		float: left;
		width: 50%;
		margin-top: 5/@px;
		text-transform: uppercase;
		.vp-640 &{
			width: auto;
			text-align: center;
		}
	}

	.footer_copyright {
		font-family: @font-condensed;
		text-align: left;
	}

	.footer_nav {
		font-family: @font-condensed;
		font-style: italic;
		text-align: right;
	}

	.footer_nav_item {

		display: inline-block;
		padding: 0 10/@px;
		cursor: pointer;
		.vp-640 &{
			font-size: 30/@px;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

	}

}
