@import "../../../style/imports/new_vars.less";
@import "../../../style/imports/mixins.less";

@keyframes fade_in_highlight {
  0% {
	opacity: 0;
  }
  50% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}

@keyframes slide_left {
  0% {
	left: 100%;
  }
  100% {
	left: 0%;
  }
}

@keyframes fade_left {
  0% {
	left: 0%;
  }
  100% {
	left: -100%;
  }
}

@keyframes slide_right {
  0% {
	left: -100%;
  }
  100% {
	left: 0%;
  }
}

@keyframes fade_right {
  0% {
	left: 0%;
  }
  100% {
	left: 100%;
  }
}

.page_type_product {

  .page_content {
	padding-top: 65px;
	padding-bottom: 51px;

  }
  .product_single {

  }
  .detail_section {

	padding: 0 75px;

  }
  .product_description {

	.font_opensans;
	  .has_paragraphs;
	font-weight: bold;
	text-align: left;

	[lang="ar"] & {
	  text-align: right;
	  direction: rtl;
	}

  }
  .info-menu {

	.font_opensans;
	font-size: 16px;
	font-size: 16/@px;
	line-height: 24px;
	line-height: 24/@px;
	font-style: normal;
	margin-top: 80px;
	margin-top: 80/@px;

	[lang="ar"] & {
	  direction: rtl;
	  text-align: right;
	}

	.menu-title {

	  display: inline;
	  text-transform: uppercase;
	  font-weight: bold;
	  margin-right: 16px;
	  vertical-align: top;

	  [lang="ar"] & {
		margin-right: 0;
		margin-left: 16px;
		text-align: right;
	  }

	}

	.menu-wrapper {
	  display: inline;
	  vertical-align: top;
	}

	.menu-point {

	  display: inline-block;
	  cursor: pointer;
	  vertical-align: top;

	  &.active {
		font-weight: bold;
	  }

	  &:after {
		content: " | ";
		display: inline;
		font-weight: normal;
		vertical-align: top;
		color: inherit;
	  }

	  &:last-child {
		&:after {
		  display: none;
		}
	  }

	}

  }

  .slider_section {

	position: relative;

  }

  .slider {

	width: 100%;
	margin: 0 auto;

  }

  .slider_wrapper {

	position: relative;
	margin-top: 70px;
	padding: 0 65px;

	.arrow {

	  cursor: pointer;
	  position: absolute;
	  width: 50px;
	  height: 95px;
	  top: 251px;
	  margin: auto 0;
	  z-index: 1;
	  opacity: .5;

	  &:after {

		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
		opacity: .35;
		left: 0;
		top: 0;
		transition-duration: .165s;
		transition-property: opacity, transform;
		border-width: 47px 50px 47px 0;

	  }

	  &:before {

		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
		opacity: .35;
		left: 0;
		top: 0;
		transition-duration: @transition_duration;
		transition-property: opacity, transform;
		border-width: 43px 45px 43px 0;
		left: 0px;
		top: 15px;

	  }

	  &:hover {

		&:after {
		  opacity: .7;
		  transform: translate(3px, -3px);
		}

		&:before {
		  opacity: .7;
		  transform: translate(-3px, 3px);
		}

	  }

	}

	.arrow.prev {
	  outline: none;
	}

	.arrow.next {
	  transform: scaleX(-1);
	  outline: none;
	}

  }

  .slider_holder {

	width: 100%;
	height: 306px;
	position: relative;

	.arrow {

	  cursor: pointer;
	  position: absolute;
	  width: 50px;
	  height: 95px;
	  top: 0;
	  bottom: 0;
	  margin: auto 0;
	  z-index: 1;

	  &:after {

		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
		opacity: .35;
		left: 0;
		top: 0;
		transition-duration: .165s;
		transition-property: opacity, transform;
		border-width: 47px 50px 47px 0;

	  }

	  &:before {

		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
		opacity: .35;
		left: 0;
		top: 0;
		transition-duration: @transition_duration;
		transition-property: opacity, transform;
		border-width: 43px 45px 43px 0;
		left: 0px;
		top: 15px;

	  }

	  &:hover {

		&:after {
		  opacity: .7;
		  transform: translate(3px, -3px);
		}

		&:before {
		  opacity: .7;
		  transform: translate(-3px, 3px);
		}

	  }

	}

	.arrow.prev {
	  left: -70px;
	  outline: none;
	}

	.arrow.next {
	  right: -70px;
	  transform: scaleX(-1);
	  outline: none;
	}

  }

  .slider_gallery {

	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
	position: relative;

  }

  .slider_frame {

	width: 100%;
	height: 100%;
	display: block;
	transition: 0.33s transform ease-out;

  }

  .slider_item {

	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	left: 100%;

	img {
	  width: 100%;
	  height: auto;
	  max-width: 100%;
	  max-height: 100%;
	}

	&[data-item="0"] {
	  left: 0;
	}

	&.pos-pre {
	  animation: @transition_duration fade_left forwards;
	}

	&.pos-next {
	  animation: @transition_duration fade_right forwards;
	}

	&.transition {
	  transition: left @transition_duration ease-out;
	}

	&.anim-right {
	  animation: @transition_duration slide_left forwards;
	}

	&.anim-left {
	  animation: @transition_duration slide_right forwards;
	}

  }

  .slider_nav {
	text-align: center;
	margin-top: 32px;
  }

  .slider_nav_triangle {

	display: inline-block;
	margin: 0 6px;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 18px 18px 18px;
	border-color: transparent transparent #fff transparent;
	transition-duration: @transition_duration;
	transition-property: opacity, transform;
	opacity: .35;
	outline: none;

	&:hover {
	  opacity: .66;
	}

  }

  .slider_nav_triangle.active {
	opacity: 1;
  }

  .highlights {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
  }

  .highlight {

	top: 0;
	left: 0;
	width: 0;
	height: 0;
	position: absolute;
	transition: all 1s;
	transform: rotate(-115deg);
	transform-origin: 50% 50%;
	outline: none;
	cursor: pointer;

	&:hover {

	  z-index: 6;

	  .highlight_transparent {
		border: 5px solid transparent;
	  }

	  .highlight_hover {
		background: transparent;
	  }

	  .highlight_canvas {
		height: 100%;
		border-radius: 100%;
		box-sizing: border-box;
		z-index: 5;
	  }

	  .highlight_hover_active {
		animation: 0.33s fade_in_highlight forwards;
	  }

	}

	svg {
	  margin-left: -50px;
	  margin-left: -50/@px;
	  margin-top: -65px;
	  margin-top: -65/@px;
	  transform-origin: 50% 50%;
	}

  }

  .highlight_transparent {

	width: 100%;
	height: 100%;
	transition: all 0.3s;
	border-radius: 100%;
	background-color: transparent;

  }

  .highlight.active {

	.highlight_transparent {
	  border: 5px solid transparent;
	}

	.highlight_hover {
	  background: transparent;
	}

	.highlight_canvas {
	  height: 100%;
	  border-radius: 100%;
	  box-sizing: border-box;
	  z-index: 5;
	}

	.highlight_hover_active {
	  animation: 0.33s fade_in_highlight forwards;
	}

  }

  .highlight_inner {
	border: 1px solid #ffffff;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
  }

  .highlight_hover {
	top: 0;
	left: 0;
	width: 75%;
	height: 32px;
	height: 32/@px;
  }

  .highlight_canvas {
	background-color: #fff;
	width: 100%;
	height: 20%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.33s all;
	color: #000;
	.font_opensans;
	font-size: 16px;
	font-size: 16/@px;
	text-transform: uppercase;
	span {
	  font-weight: bold;
	  font-style: italic;
	  line-height: 0;
	}
  }

  .hightlight_canvas_inner {
	transform: rotate(115deg);
	transform-origin: 50% 50%;
	display: table;
	width: 100%;
	height: 100%;
  }

  .highlight_hover_active {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	vertical-align: middle;
	text-align: center;
  }

  .more-svg {
	background-image: url('images/Product_v200/info_logo.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 32px;
	height: 32/@px;
	margin: 8px auto;
	margin: 8/@px auto;
	background-size: contain;
	width: 100%;
	display: block;
  }

  .highlight_canvas.active {
	height: 100%;
	border-radius: 100%;
	box-sizing: border-box;
	z-index: 5;
	.highlight_hover_active {
	  animation: 0.33s fade_in_highlight forwards;
	}
  }

  .info-btns-wrapper {
	text-align: right;
  }

  .info-btns {

	font-size: 0;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: -152px;
	font-weight: bold;
	display: inline-block;

  }

  .info-btn {

	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	white-space: nowrap;
	text-transform: uppercase;
	cursor: pointer;
	z-index: 2;
	.fixRemTransformRender();

	&:nth-child(1) {
	  top: -40px;
	}

	&:nth-child(2) {
	  top: 0px;
	}

	&:nth-child(3) {
	  top: 40px;
	}

	&:before, &:after {

	  content: "";
	  position: absolute;
	  display: block;
	  width: 65px;
	  height: 40px;
	  background: inherit;
	  top: 0;
	  z-index: -1;
	  transform: skewX(-58deg);

	}

	&:before {
	  transform-origin: 0 100%;
	  left: -65px;
	}

	&:after {
	  transform-origin: 0 0;
	  right: -65px;
	}

	i, span {
	  vertical-align: middle;
	}

  }

  &.vp0x1440 {
	.info-menu {

	  padding-right: 200px;
	  padding-right: 200/@px;

	}
	.info-btns {

	  right: 8px;
	  right: 8/@px;
	  top: 0;
	  bottom: auto;

	}
	.info-btn {

	  display: block;
	  margin-bottom: 16px;
	  margin-bottom: 16/@px;
	  top: 0;

	}

  }

  .vid {
	i {
	  font-size: 29px;
	  font-size: 29/@px;
	  line-height: 29px;
	  line-height: 29/@px;
	}
  }

  .learn-more {
	i {
	  font-size: 24px;
	  font-size: 24/@px;
	  position: absolute;
	  left: 0;
	  right: 0;
	  margin: 0;
	  text-align: center;
	  bottom: -5px;
	  bottom: -5/@px;
	}
  }

  .design {
	padding-top: 40px;
	padding-top: 40/@px;
	margin-bottom: 80px;
	margin-bottom: 80/@px;
  }

  .gender_select {

	text-align: center;
	white-space: nowrap;
	font-size: 0;
	outline: none;
	margin-bottom: 40px;

	.men, .women {

	  vertical-align: middle;
	  display: inline-block;
	  height: 40px;
	  overflow: hidden;
	  padding: 0 65px;
	  margin: 0 -26px;
	  white-space: nowrap;
	  cursor: pointer;

	  &.inactive {
		opacity: .5;
		cursor: default;
		cursor: not-allowed;
	  }

	}

	.men_label, .women_label {

	  position: relative;
	  display: inline-block;
	  vertical-align: top;
	  height: 40px;
	  min-width: 120px;
	  z-index: 1;

	  &:before, &:after {

		content: "";
		position: absolute;
		display: block;
		width: 65px;
		height: 40px;
		background: inherit;
		top: 0;
		z-index: -1;
		transform: skewX(-58deg);

	  }

	  &:before {

		transform-origin: 0 100%;
		left: -65px;

	  }

	  &:after {

		transform-origin: 0 0;
		right: -65px;

	  }

	}

	.men_text, .women_text {

	  font-size: 18px;
	  font-weight: bold;
	  line-height: 40px;
	  text-transform: uppercase;
	  white-space: nowrap;
	  margin-left: -4px;

	}

	.men_icon, .women_icon {

	  display: inline-block;
	  position: relative;
	  width: 12px;
	  height: 40px;
	  vertical-align: top;
	  z-index: 1;

	  &:before, &:after {

		content: "";
		position: absolute;
		display: block;
		width: 65px;
		height: 40px;
		background: inherit;
		top: 0;
		z-index: -1;
		transform: skewX(-58deg);

	  }

	  &:before {

		transform-origin: 0 100%;
		left: -65px;

	  }

	  &:after {

		transform-origin: 0 0;
		right: -65px;

	  }

	}

	.men_icon {
	  margin-right: 72px;
	}

	.women_icon {
	  margin-left: 72px;
	}

	.men_icon_holder, .women_icon_holder {

	  position: relative;
	  width: 40px;
	  height: 40px;

	}

	.men_icon_holder {

	  top: 12px;
	  left: -34px;

	}

	.women_icon_clip {

	  position: relative;
	  width: 78px;
	  left: -33px;
	  transform: skew(-58deg);
	  overflow: hidden;

	}

	.women_icon_holder {

	  transform: skew(58deg);
	  top: -6px;
	  left: 6px;

	}

	.men_svg, .women_svg {

	  width: 100%;
	  height: 100%;

	}

  }

  .material_items {

	text-align: center;
	font-size: 0;

	.tri {

	  width: 120px;
	  width: 120/@px;
	  height: 80px;
	  height: 80/@px;
	  position: relative;
	  cursor: pointer;
	  display: inline-block;
	  margin: 8px 4px;
	  margin: 8/@px 4/@px;

	  &:hover {
		.tri_hover {
		  opacity: .25;
		}
	  }

	  &.active {
		.tri_hover {
		  opacity: 0;
		}
	  }

	}

	.tri_hover {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background: #000;
	  opacity: .5;
	  outline: none;
	  transition: opacity @transition_duration;
	}

	.tri_container {
	  width: 100%;
	  height: 100%;
	}

	.tri_holder {

	  width: 100%;
	  height: 100%;
	  background-size: 458px 212px;
	  background-size: 458/@px 212/@px;
	  background-position: 50% 60%;

	}

  }

  .section_technologies, .section_features {

	padding-bottom: 80px;
	padding-bottom: 80/@px;

  }

  .technologies_header, .features_header {

	text-align: center;

  }

  .features_header_inner, .technologies_header_inner {

	display: inline-block;
	position: relative;

  }

  .detail_section_controls {

	position: absolute;
	top: 100%;
	left: 100%;
	height: 40px;
	height: 40/@px;
	white-space: nowrap;

  }

  .detail_content {
	overflow: hidden;
  }

  .detail_auf, .detail_zu {

	display: inline-block;
	position: relative;
	width: 25px;
	width: 25/@px;
	height: 40px;
	height: 40/@px;
	line-height: 40px;
	line-height: 40/@px;
	vertical-align: middle;
	font-size: 18px;
	font-size: 18/@px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1;
	background: #000;
	margin-right: 65px;
	margin-right: 65/@px;
	cursor: pointer;
	color: #fff;

	&:before, &:after {

	  content: "";
	  position: absolute;
	  display: block;
	  width: 65px;
	  width: 65/@px;
	  height: 40px;
	  height: 40/@px;
	  background: inherit;
	  top: 0;
	  z-index: -1;
	  transform: skewX(-58deg);

	}

	&:before {
	  transform-origin: 0 100%;
	  left: -65px;
	  left: -65/@px;
	}

	&:after {
	  transform-origin: 0 0;
	  right: -65px;
	  right: -65/@px;
	}

  }

  .technologies_headline, .features_headline {

	display: inline-block;
	position: relative;
	min-width: 395px;
	min-width: 395/@px;
	height: 40px;
	height: 40/@px;
	line-height: 40px;
	line-height: 40/@px;
	vertical-align: middle;
	font-size: 18px;
	font-size: 18/@px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1;

	.fixRemTransformRender();

	&:before, &:after {

	  content: "";
	  position: absolute;
	  display: block;
	  width: 65px;
	  width: 65/@px;
	  height: 40px;
	  height: 40/@px;
	  background: inherit;
	  top: 0;
	  z-index: -1;
	  transform: skewX(-58deg);

	}

	&:before {
	  transform-origin: 0 100%;
	  left: -65px;
	  left: -65/@px;
	}

	&:after {
	  transform-origin: 0 0;
	  right: -65px;
	  right: -65/@px;
	}

  }

  .features {

	display: table;
	table-layout: fixed;
	width: 100%;
	margin-top: 80px;
	margin-top: 80/@px;
	.font_opensans;
	font-size: 16px;
	font-size: 16/@px;
	line-height: 21px;
	line-height: 21/@px;

  }

  .features_list {
	[lang="ar"] & {
	  direction: rtl;
	}
  }

  .feature_column {

	display: table-cell;
	width: 33%;

  }

  .feature_category_holder {

	font-weight: bold;

	[lang="ar"] & {
	  direction: rtl;
	}

  }

  .feature_category_name {

	width: 50%;
	text-align: right;

	[lang="ar"] & {
	  text-align: left;
	}

  }

  .feature_item {

	display: table;
	table-layout: fixed;
	width: 100%;

  }

  .feature_name, .feature_value {

	display: table-cell;
	width: 50%;
	padding: 0 0;

  }

  .feature_name {

	text-align: right;

	[lang="ar"] & {
	  text-align: left;
	}

  }

  .feature_value {

	text-align: left;
	padding-left: 32px;
	padding-left: 32/@px;
	font-weight: bold;

	[lang="ar"] & {
	  text-align: right;
	  padding-left: 0;
	  padding-right: 32px;
	  padding-right: 32/@px;
	}

  }

  .technologies_list {

	.font_opensans;
	margin-top: 80px;
	margin-top: 80/@px;
	font-size: 0;
	text-align: left;
	overflow: hidden;

	[lang="ar"] & {
	  direction: rtl;
	}

	li {

	  display: inline-block;
	  width: 50%;
	  margin-bottom: 20px;
	  margin-bottom: 20/@px;
	  vertical-align: top;
	  text-align: left;
	  padding: 0 8px;
	  padding: 0 8/@px;

	  h2 {

		font-size: 18px;
		font-size: 18/@px;
		line-height: 24px;
		line-height: 24/@px;
		font-weight: bold;
		text-transform: uppercase;

		[lang="ar"] & {
		  text-align: right;
		}

	  }

	  p {

		  .has_paragraphs;
		font-weight: bold;

		[lang="ar"] & {
		  text-align: right;
		}

	  }

	  &.updates {

		width: 100%;

	  }

	}

	.tech-desc {
	  outline: none;
	  cursor: pointer;
	}

  }
  &.vp0x1201 {
	.detail_section {

	  padding-right: 0;
	  padding-left: 0;

	}
  }
  &.vp0x960 {
	.info-menu {
	  .menu-title {

		display: block;
		margin-bottom: 24px;
		margin-bottom: 24/@px;

	  }
	  .menu-wrapper {

		display: block;

	  }
	  .menu-point {

		display: block;
		margin-bottom: 24px;
		margin-bottom: 24/@px;
		line-height: 28px;
		line-height: 28/@px;

		&:after {

		  display: none;

		}

	  }
	}
	.technologies_header, .features_header {

	  padding-right: 164px;
	  padding-left: 40px;
	  padding-right: 164/@px;
	  padding-left: 40/@px;

	}
	.features_header_inner, .technologies_header_inner {

	  width: 100%;

	}
	.technologies_headline, .features_headline {

	  width: 100%;

	}
	.technologies_list li {

	  width: 100%;
	  padding: 0;

	}
	.features {

	  display: block;

	}
	.feature_column {

	  display: block;
	  width: 100%;
	  margin: 0 auto;
	  margin-bottom: 48px;
	  margin-bottom: 48/@px;

	  &:last-child {

		margin-bottom: 0;

	  }

	}
  }
  &.vp0x640 {

	.page_content {

	  padding-top: 50px;
	  padding-top: 50/@px;
	  padding-bottom: 50px;
	  padding-bottom: 50/@px;

	}

	.product_description {

	  font-size: 20px;
	  font-size: 20/@px;

	}
	.info-menu {

	  font-size: 20px;
	  font-size: 20/@px;
	  min-height: 180px;
	  min-height: 180/@px;

	  .menu-point {

		margin-bottom: 24px;
		margin-bottom: 24/@px;

	  }

	}
	.info-btns {

	  top: -40px;
	  top: -40/@px;

	}
	.info-btn {

	  height: 40px;
	  height: 40/@px;
	  font-size: 14px;
	  font-size: 14/@px;
	  line-height: 40px;
	  line-height: 40/@px;
	  margin-bottom: 16px;
	  margin-bottom: 16/@px;
	  text-align: center;

	  &:before, &:after {

		content: "";
		position: absolute;
		display: block;
		width: 65px;
		width: 65/@px;
		height: 40px;
		height: 40/@px;
		background: inherit;
		top: 0;
		z-index: -1;
		transform: skewX(-58deg);

	  }

	  &:before {
		transform-origin: 0 100%;
		left: -65px;
		left: -65/@px;
	  }

	  &:after {
		transform-origin: 0 0;
		right: -65px;
		right: -65/@px;
	  }

	}
	.slider_wrapper {

	  margin-top: 30px;
	  margin-top: 30/@px;
	  padding: 0 32px;
	  padding: 0 32/@px;

	}
	.slider_holder {

	  height: 306px;
	  height: 306/@px;

	  .arrow {

		width: 40px;
		width: 40/@px;
		height: 60px;
		height: 60/@px;

		&:after {

		  border-width: 47/2px 50/2px 47/2px 0;
		  border-width: 47/2/@px 50/2/@px 47/2/@px 0;

		}

		&:before {

		  border-width: 43/2px 45/2px 43/2px 0;
		  border-width: 43/2/@px 45/2/@px 43/2/@px 0;
		  top: 7.5px;
		  top: 7.5/@px;

		}
		&:hover {
		  &:after {

			opacity: .7;
			transform: translate(2px, -2px);

		  }
		  &:before {

			opacity: .7;
			transform: translate(-2px, 2px);

		  }
		}
		&.next {

		  right: -40px;
		  right: -40/@px;

		}
		&.prev {

		  left: -40px;
		  left: -40/@px;

		}
	  }
	}
	.slider_nav_triangle {

	  margin: 0 4px;
	  margin: 0 4/@px;
	  border-width: 0px 12px 12px 12px;
	  border-width: 0px 12/@px 12/@px 12/@px;

	}
	.gender_select {

	  margin-bottom: 40px;
	  margin-bottom: 40/@px;

	  .men, .women {

		height: 40px;
		height: 40/@px;
		padding: 0 65px;
		padding: 0 65/@px;
		margin: 0 -26px;
		margin: 0 -26/@px;
	  }

	  .men_label, .women_label {

		height: 40px;
		height: 40/@px;
		min-width: 120/@px;
		.fixRemTransformRender();

		&:before, &:after {

		  width: 65px;
		  width: 65/@px;
		  height: 40px;
		  height: 40/@px;

		}

		&:before {

		  transform-origin: 0 100%;
		  left: -65px;
		  left: -65/@px;

		}

		&:after {

		  transform-origin: 0 0;
		  right: -65px;
		  right: -65/@px;

		}

	  }

	  .men_text, .women_text {

		font-size: 17px;
		font-size: 17/@px;
		line-height: 38px;
		line-height: 38/@px;
		margin-left: -4px;
		margin-left: -4/@px;

	  }

	  .men_icon, .women_icon {

		width: 12px;
		width: 12/@px;
		height: 40px;
		height: 40/@px;
		.fixRemTransformRender();

		&:before, &:after {

		  width: 65px;
		  width: 65/@px;
		  height: 40px;
		  height: 40/@px;

		}

		&:before {

		  left: -65px;
		  left: -65/@px;

		}

		&:after {

		  right: -65px;
		  right: -65/@px;

		}

	  }

	  .men_icon {
		margin-right: 72px;
		margin-right: 72/@px;
	  }

	  .women_icon {
		margin-left: 72px;
		margin-left: 72/@px;
	  }

	  .men_icon_holder, .women_icon_holder {

		width: 40px;
		width: 40/@px;
		height: 40px;
		height: 40/@px;

	  }

	  .men_icon_holder {

		top: 12px;
		top: 12/@px;
		left: -34px;
		left: -34/@px;

	  }

	  .women_icon_clip {

		width: 78px;
		width: 78/@px;
		left: -33px;
		left: -33/@px;

	  }

	  .women_icon_holder {

		top: -8px;
		top: -8/@px;
		left: 0;

	  }
	}
	.technologies_list {
	  li {
		h2, p {

		  font-size: 20px;
		  font-size: 20/@px;
		  line-height: 26px;
		  line-height: 26/@px;

		}
	  }
	}
	.features {

	  font-size: 20px;
	  font-size: 20/@px;
	  line-height: 26px;
	  line-height: 26/@px;

	  .feature_name, .feature_category_name {

		width: 45%;

	  }

	  .feature_value {

		width: 55%;

	  }

	}
  }
}