/////////// Text Settings

@base: 16;
@px: unit(@base, rem); //Divisor to transform px values to rem

////////// Color Scheme

//Text Color
@text: #fff;

//blue colors		   H   S   B
@b-color-a: #093248; //200 87 28
@b-color-b: #415069; //217 38 41
@b-color-c: #788093; //222 18 57

//lightblue colors
@lb-color-a: #4498b4; //195 62 70
@lb-color-b: #7fb0c6; //198 35 77
@lb-color-c: #aec9d9; //202 19 85

//lightgreen colors
@lg-color-a: #4eb9a7;
@lg-color-b: #8bccbe;
@lg-color-c: #b8ded4;

//green colors
@g-color-a: #00534c;
@g-color-b: #4a746e;
@g-color-c: #849b97;

//Names after '|' are the names as they are in backend slug.
//Volleyball - Tangerine | orange
@or-color-a: rgb(244, 148, 0);
@or-color-b: #f6bf69;
@or-color-c: #e6c694;

//Handball - Tangerine Yellow | yellow
@y-color-a: rgb(255, 203, 0);
@y-color-b: #f5db77;
@y-color-c: #f5e29a;

//Multicourt - Carrot Orange | carrot
@c-color-a: rgb(236, 107, 16);
@c-color-b: #e49863;
@c-color-c: #e9b38e;

//Tennis - Harley Davidson Orange | red
@r-color-a: rgb(207, 63, 19);
@r-color-b: #cb7054;
@r-color-c: #d09785;

//Training - Dark Cerulean | ocean
@oc-color-a: rgb(10, 59, 147);
@oc-color-b: #3e5b90;
@oc-color-c: rgb(89, 110, 148);

//ASICS SILVER
@s-color-a: #445253;
@s-color-b: #526166;
@s-color-c: #8d9496;

/////////////
@overlay-fade: 25%;

////////////
@trennlinien-farbe: rgba(255, 255, 255, .33);

////////// Font Scheme

@font-regular: "Roboto Condensed", sans-serif;
@font-condensed: "Roboto Condensed", sans-serif;

////////// Cool Mixins

.fontsize(@fs:@base) {
  font-size: unit(@fs, px);
  font-size: unit(@fs/@base, rem);
}

.margin(@a:0,@b:0,@c:@a,@d:@b) {
  margin: unit(@a, px) unit(@b, px) unit(@c, px) unit(@d, px);
  margin: unit(@a/16, rem) unit(@b/16, rem) unit(@c/16, rem) unit(@d/16, rem);
}

.padding(@a:0,@b:0,@c:@a,@d:@b) {
  padding: unit(@a, px) unit(@b, px) unit(@c, px) unit(@d, px);
  padding: unit(@a/16, rem) unit(@b/16, rem) unit(@c/16, rem) unit(@d/16, rem);
}

.bg-data(@url) {
  background-image: data-uri(@url);
  background-repeat: no-repeat;
}

.bg-url(@url) {
  background-image: url(@url);
  background-repeat: no-repeat;
}

.bg-cover() {
  background-size: cover;
}

.bg-data-cover(@url) {
  .bg-data(@url);
  .bg-cover();
}

.bg-url-cover(@url) {
  .bg-url(@url);
  .bg-cover();
}

.transitions(@prop...) {
  -webkit-transition: linear 250ms;
  -moz-transition: linear 250ms;
  -ms-transition: linear 250ms;
  -o-transition: linear 250ms;
  transition: linear 250ms;
  -webkit-transition-property: @prop;
  -moz-transition-property: @prop;
  -ms-transition-property: @prop;
  -o-transition-property: @prop;
  transition-property: @prop;
}

.bg-center() {
  background-position: center;
}

.bg-right() {
  background-position: center right;
}

.bg-left() {
  background-position: center left;
}

.remify(@prop, @px: 16) {
    @{prop}: unit(@px, px);
    @{prop}: unit(@px/16, rem);
}

.user-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}