@import "../../../style/imports/mixins.less";
@import "../../../style/imports/new_vars.less";

.header_wrapper {
  margin: 0 auto;
}

.header_inner {
  padding: 0 !important;
}

.header_space {
  position: relative;
  padding-bottom: 433px;
  padding-bottom: unit(433/1202*100, ~"%");
}

.vp0x640 {
  .header_space {
    padding-bottom: 573px;
    padding-bottom: unit(573/640*100, ~"%");
  }
}

.header_bg {
  background-image: url("images/Header/Asics_Start_Header_Desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}