@import "../../../style/imports/new_vars.less";

@mod: "module/SpecialKayano/";

.padding-zero {
  padding: 0 !important;
}

.padding-wrapper {
  padding: 0 76/@px;
}

.vp0x960 .padding-wrapper {
  padding: 0 32/@px;
}

.vp0x1201 .padding-zero-mobile {
  padding: 0 !important;
}

.pointer-ignore {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.block {
  display: block;
}

.special_page {
  overflow: hidden;
  h4 {
    color: #fff;
    text-transform: uppercase;
  }
  h4 {
    font: inherit;
  }
  p {
    margin: 1em 0;
  }
  ol, ul {
    &:first-child {
      li:first-child {
        margin-top: 0;
      }
    }
  }
  ol {
    list-style: decimal;
    list-style-position: inside;
  }
  ul {
    list-style: none;
    li {
      margin-left: 1em;
      &::before {
        content: "\2022";
        float: left;
        display: block;
        margin-left: -1em;
        font-size: 1.2em;
      }
    }
  }
  li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2.25em;
  }
}

.vp0x960 .special_section {
  background-image: none !important;
}

.special_section {

  &:first-of-type {
    padding-top: 40/@px;
  }
  min-height: 115vh;

  //fix collapsing margin
  &::before, &::after {
    content: "\00a0\00a0";
    display: block;
    font-size: 0/@px;
  }

  //schemes (default style_2)

  color: #1f1d5d;

  &.style_1 {
    background-color: #40b7ed;

    background-image: url("@{mod}/backgrounds/style_1/1.png"), url("@{mod}/backgrounds/style_1/2.png");
    background-repeat: no-repeat;
    background-position: ~"calc(0% - (1020px - (50vw - 500px)))" bottom, ~"calc(100% + (1020px - (50vw - 500px)))" bottom;

    .special_headline_skewed_skew {
      background: #a100bc;
    }
  }

  &.style_2 {
    background-color: #f8485e;

    background-image: url("@{mod}/backgrounds/style_2/1.png");
    background-repeat: no-repeat;
    background-position: ~"calc(0% - (252px - (50vw - 575px)))" center;

    .special_headline_skewed_skew {
      background: #a100bc;
    }
  }

  &.style_3 {
    background-color: #001e64;

    background-image: url("@{mod}/backgrounds/style_3/1.png"), url("@{mod}/backgrounds/style_3/2.png");
    background-repeat: no-repeat;
    background-position: ~"calc(0% - (1952px - (50vw + 25px)))" top, ~"calc(100% - (50vw - 640px - 154px))" 76px;

    color: #00b398;
    .special_headline_skewed_skew {
      background: #a100bc;
    }
  }

  &.style_4 {
    background-color: #d0df00;

    background-image: url("@{mod}/backgrounds/style_4/1.png"), url("@{mod}/backgrounds/style_4/2.png");
    background-repeat: no-repeat;
    background-position: ~"calc(0% - (414px - (50vw - 648px)))" top, ~"calc(100% - (50vw - 659px - 134px))" 76px;

    .special_headline_skewed_skew {
      background: #a100bc;
    }
  }

  &.style_5 {
    background-color: #ffa300;

    background-image: url("@{mod}/backgrounds/style_5/1.png"), url("@{mod}/backgrounds/style_5/2.png");
    background-repeat: no-repeat;
    //background-position: ~"calc(0% - (414px - (50vw - 648px)))" top, ~"calc(100% - (50vw - 659px - 134px))" 76px;
    background-position: ~"calc(0% - (624px - (50vw - 609px)))" 45%, ~"calc(100% - (50vw - 609px - 624px))" 55%;

    .special_headline_skewed_skew {
      background: #a100bc;
    }

  }

  &.style_6 {
    background-color: #00bbdc;

    background-image: url("@{mod}/backgrounds/style_6/1.png"), url("@{mod}/backgrounds/style_6/2.png");
    background-repeat: no-repeat;
    background-position: ~"calc(0% - (641px - (50vw - 648px)))" 39px, ~"calc(100% - (50vw - 659px - 125px))" 98%;

    .special_headline_skewed_skew {
      background: #b31dba;
    }
  }

  &.style_7 {
    background-color: #f8495e;

    background-image: url("@{mod}/backgrounds/style_7/1.png");
    background-repeat: no-repeat;
    background-position: ~"calc(0% - (1292px - (50vw + 320px)))" 100.1%;

    padding-bottom: 425px;

    .special_headline_skewed_skew {
      background: #a100bc;
    }
  }

}

.special_header {
  &_image {
    display: block;
    width: 100%;
    .img-responsive;
  }
}

.special_headline {
  text-align: center;
  text-transform: uppercase;
  margin: 32/@px -16/@px;
  &_sub {
    font-size: 26/@px;
    line-height: 2;
    font-weight: bold;
  }
  &_main {
    font-size: 36/@px;
    line-height: 1.25;
  }
  .vp0x1201 & {
    margin-left: 0;
    margin-right: 0;
    &_sub {
      font-size: 20/@px;
    }
    &_main {
      font-size: 30/@px;
    }
  }
}

.special_text {

  [lang=ar] & {
    text-align: right;
    direction: rtl;
  }

  p + ul {
    margin-top: -1em;
  }
  ul + p {
    margin-top: 0em;
  }
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
  h4 {
    margin-top: 1em;
  }
  h4 + p {
    margin-top: 0;
  }
}

.special_pic {
  margin: 16/@px 0;
  img {
    .img-responsive;
    display: block;
    margin: 0 auto;
  }
  .vp0x1201 & {
    padding: 0 1em;
  }
}

.special_block, .special_block_compact {

  .paragraphs {
    [lang=ar] & {
      text-align: right;
      direction: rtl;
    }
  }

  margin: 32/@px 0;

  .special_block_content {
    display: flex;
    flex-wrap: wrap;
  }

  p {

    &:first-child {
      margin-top: 0;
    }

  }

  &_text_above {
    flex: 0 0 100%;
  }

  &_left {
    flex: 0 0 auto;
    max-width: 50%;
    img {
      .img-responsive;
      display: block;
    }
    .vp0x960 & {
      flex: 0 0 100%;
      max-width: none;
      img {
        margin: 0 auto;
      }
    }
  }

  &_right {
    flex: 1;
    padding-left: 40/@px;
    p:last-child {
      margin-bottom: 0;
    }
    .vp0x960 & {
      padding-left: 0;
      flex: 0 0 100%;
      margin-top: 1em;
    }
  }

}

.special_block {
  padding-left: 0;
  .special_block_content {
    padding-left: 0;
    .vp0x960 & {
      padding-right: 0;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
  75% {
    box-shadow: 0 0 0 .5rem rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.special_crumbs {
  text-align: center;
  background-color: #40b7ed;
  padding: 0 30/@px;
  a {
    margin-bottom: 10/@px;
    display: inline-block;
    text-align: center;
    transform: skew(-58deg);
    backface-visibility: hidden;
    background: #9b26b6;
    color: #08bbdc;
    text-decoration: none;
    &:hover {
      background: #001e62;
    }
    &.active {
      color: #fff;
      box-shadow: 0 0 0 rgba(255, 255, 255, 1);
      animation: pulse 1s;
    }
  }
  span {
    display: block;
    transform: skew(58deg);
    backface-visibility: hidden;
    padding: 0 25/@px;
    line-height: 35/@px;
    vertical-align: middle;
    font-size: 13/@px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.vp0x960 .special_crumbs {
  padding: 0 25/@px;
  white-space: nowrap;
  overflow-x: auto;
  span {
    padding: 0 25/@px;
    line-height: 35/@px;
    font-size: 13/@px;
  }
}

.special_headline_skewed {
  margin: 40/@px auto;
  text-align: center;
  &_skew {
    display: inline-block;
    //transform: skew(-58deg);
    backface-visibility: hidden;
    background: none !important;
  }
  &_text {
    //transform: skew(58deg);
    backface-visibility: hidden;
    padding: 0 65/@px;
    line-height: 40/@px;
    vertical-align: middle;
    font-size: 18/@px;
    text-transform: uppercase;
    //color: #fff;
  }
}

.special_technologies {
  margin-top: -200/@px;
  margin-bottom: 32/@px;
  &_padding {
    display: flex;
    flex-wrap: wrap;
  }
  &_illustration {
    flex: 0 0 50%;
  }
  &_details {
    flex: 0 0 50%;
    margin-top: 250/@px;
  }
  h4 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-top: .5em;
    text-transform: uppercase;
  }
  h4 + p {
    margin-top: 0;
  }
  .vp0x640 & {
    margin-top: 0;
    &_illustration {
      flex: 0 0 100%;
    }
    &_details {
      margin-top: 1em;
      flex: 0 0 100%;
    }
  }
}