// @imports
@import "reset";
@import "imports/mixins";
@import "imports/vars";

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/RobotoCondensed/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/RobotoCondensed/roboto-condensed-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700italic - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/RobotoCondensed/roboto-condensed-v16-latin-700italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/**
 * Debugs
 */
.print-debug {
  padding: 25px;
  background: limegreen;
  color: #000;
  font-family: "Lucida Console", Monaco, monospace;
  border: 0 solid aliceblue;
  border-bottom-width: 2px;
  strong {
    font-weight: bold;
  }
}

.error {
  padding: 25px;
  background: darkred;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
}

.no-trans * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/*
 * Clearfix
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/**
Main Styles
 */

.site_wrapper {

  overflow-x: hidden;
  position: relative;
  margin: 0 auto;

  .paragraphs {
    p {
      .remify(font-size, 16);
      line-height: 1.5em;
      margin: 1em 0;
      font-family: @font-regular;
    }
  }

  i {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6 {
    display: block;
    text-transform: uppercase;
    font-family: @font-condensed;
    font-style: italic;
    font-weight: bold;
    color: #788093;
    margin: 0.67em 0;
  }

  h1 {
    .remify(font-size, 50);
  }

  h2 {
    .remify(font-size, 42);
  }

  h3 {
    .remify(font-size, 32);
  }

  h4 {
    .remify(font-size, 22);
  }

  h5 {
    .remify(font-size, 16);
  }

  h6 {
    .remify(font-size, 12);
  }

  a {
    color: #fff;
    text-decoration: none;
    outline: none;
    &:hover, &:focus {

    }
  }

}

.page_title {
  margin-top: 0;
}

//Select Color

.blue, [data-farbe=blue] {
  *::selection {
    background: darken(fadeout(@b-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@b-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.lightblue, [data-farbe=lightblue] {
  *::selection {
    background: darken(fadeout(@lb-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@lb-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.darkgreen, [data-farbe=darkgreen] {
  *::selection {
    background: darken(fadeout(@g-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@g-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.lightgreen, [data-farbe=lightgreen] {
  *::selection {
    background: darken(fadeout(@lg-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@lg-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.yellow, [data-farbe=yellow] {
  *::selection {
    background: darken(fadeout(@y-color-a, 20%), 5%);
    color: #333;
  }
  p::-moz-selection {
    background: darken(fadeout(@y-color-a, 20%), 5%);
    color: #3f4142;
  }
}

.orange, [data-farbe=orange] {
  *::selection {
    background: darken(fadeout(@or-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@or-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.carrot, [data-farbe=carrot] {
  *::selection {
    background: darken(fadeout(@c-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@c-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.red, [data-farbe=red] {
  *::selection {
    background: darken(fadeout(@r-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@r-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.ocean, [data-farbe=ocean] {
  *::selection {
    background: darken(fadeout(@oc-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@oc-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

.silver, #tech, [data-farbe=silver] {
  *::selection {
    background: darken(fadeout(@s-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
  p::-moz-selection {
    background: darken(fadeout(@s-color-a, 20%), 5%);
    color: darken(@text, 10%);
  }
}

/**
* Desktop Main
 */

/*
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(images/arrow-up.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  &:hover {
    background-color: lighten(#1a1f21, 1%);
  }
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(images/arrow-down.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  &:hover {
    background-color: lighten(#1a1f21, 1%);
  }
}

::-webkit-scrollbar-thumb {
  background: #1a1f21;
  border: 0px dotted #ffffff;
  border-radius: 0;
  transition: ease 500ms;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten(#1a1f21, 1%);
}

::-webkit-scrollbar-thumb:active {
  background: lighten(#1a1f21, 1%);
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 1px solid #1a1f21;
}

::-webkit-scrollbar-track:hover {
  background: lighten(#000, 1%);
}

::-webkit-scrollbar-track:active {
  background: lighten(#000, 1%);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
*/

body {
  overflow-x: hidden;
  background: #1a1f21;
  color: #fff;
  font-family: @font-condensed;
  /*scrollbar-face-color: #000;
  scrollbar-base-color: #1a1f21;
  scrollbar-3dlight-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-track-color: #1a1f21;
  scrollbar-arrow-color: #fff;
  scrollbar-shadow-color: lighten(#1a1f21, 5%);
  scrollbar-dark-shadow-color: #C0C0C0;*/

}

.inner_wrapper {
  width: 960/@px;
  margin: 0 auto;
  padding: 0 30/@px;
  box-sizing: border-box;
  .vp-960 & {
    width: 660 /@px;
  }
  .vp-640 & {
    width: 600/@px;
    padding: 0;
  }
}

/**
* Trennlinien
*/

.border-horicontal, .border-vertical {
  position: absolute;
}

.border-vertical {
  position: absolute;
}

/**
* Overlay
*/

.prevent_page {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  background: #000;
  opacity: .5;

}

.big_overlay {

  position: absolute;
  z-index: 99;

  .white_1, .white_2 {
    content: "";
    position: absolute;
    display: block;
    background: #fff;
    opacity: .33;
    z-index: -1;
  }

  .white_2 {
    transform: rotate(8deg);
  }

}

.big_content {

  width: 500/@px;
  box-sizing: border-box;
  padding: 50/@px 40/@px;

  &[data-farbe=dunkelblau], &[data-farbe=blue] {
    background: @b-color-a;
    background: linear-gradient(to left bottom, fadeout(@b-color-a, @overlay-fade) 0%, fadeout(@b-color-c, @overlay-fade) 50%, fadeout(@b-color-a, @overlay-fade) 100%);
    color: @text;
  }

  &[data-farbe=hellblau], &[data-farbe=lightblue] {
    background: @lb-color-a;
    background: linear-gradient(to left fadeout(@lb-color-a, @overlay-fade) 0%, fadeout(@lb-color-c, @overlay-fade) 50%, fadeout(@lb-color-a, @overlay-fade) 100%);
    color: @text;
  }

  &[data-farbe=hellgruen], &[data-farbe=lightgreen] {
    background: @lg-color-a;
    background: linear-gradient(to left bottom, fadeout(@lg-color-a, @overlay-fade) 0%, fadeout(@lg-color-c, @overlay-fade) 50%, fadeout(@lg-color-a, @overlay-fade) 100%);
    color: @text;
  }

  &[data-farbe=dunkelgruen], &[data-farbe=darkgreen] {
    background: #00534c;
    background: linear-gradient(to left bottom, fadeout(@g-color-a, @overlay-fade) 0%, fadeout(@g-color-c, @overlay-fade) 50%, fadeout(@g-color-a, @overlay-fade) 100%);
    color: #fff;
  }
  &[data-farbe=orange] {
    background: @or-color-a;
    background: linear-gradient(to left bottom, fadeout(@or-color-a, @overlay-fade) 0%, darken(fadeout(@or-color-c, @overlay-fade), 5%) 50%, fadeout(@or-color-a, @overlay-fade) 100%);
    color: #fff;
  }
  &[data-farbe=yellow] {
    background: @y-color-a;
    background: linear-gradient(to left bottom, fadeout(@y-color-a, @overlay-fade) 0%, darken(fadeout(@y-color-c, @overlay-fade), 5%) 50%, fadeout(@y-color-a, @overlay-fade) 100%);
    color: #3f4142;
  }
  &[data-farbe=carrot] {
    background: @c-color-a;
    background: linear-gradient(to left bottom, fadeout(@c-color-a, @overlay-fade) 0%, darken(fadeout(@c-color-c, @overlay-fade), 5%) 50%, fadeout(@c-color-a, @overlay-fade) 100%);
    color: #fff;
  }
  &[data-farbe=red] {
    background: @r-color-a;
    background: linear-gradient(to left bottom, fadeout(@r-color-a, @overlay-fade) 0%, darken(fadeout(@r-color-c, @overlay-fade), 5%) 50%, fadeout(@r-color-a, @overlay-fade) 100%);
    color: #fff;
  }
  &[data-farbe=ocean] {
    background: @oc-color-a;
    background: linear-gradient(to left bottom, fadeout(@oc-color-a, @overlay-fade) 0%, darken(fadeout(@oc-color-c, @overlay-fade), 5%) 50%, fadeout(@oc-color-a, @overlay-fade) 100%);
    color: #fff;
  }
  &[data-farbe=video] {
    padding: 0;
    width: 32rem;
    .big_title {
      display: none;
    }
    .big_beschreibung {
      margin: 0;
      video, iframe {
        width: 32rem;
        display: block;
      }
    }
  }

}

.big_titel {

  font-family: @font-condensed;
  font-style: italic;
  font-weight: bold;
  font-size: 32/@px;
  text-transform: uppercase;

}

.big_beschreibung {

  font-family: @font-condensed;
  font-style: italic;
  font-size: 16/@px;
  margin-top: 1em;
  line-height: 1.25em;

}

.big_close {

  background-image: url(images/overlay_close.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 63/@px;
  height: 63/@px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

}

/**
* Season Button
 */

.offcanvas_nav_top {

  .season_list {

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 220px;
    left: 220/@px;
    height: 40px;
    height: 40/@px;
    line-height: 40px;
    line-height: 40/@px;
    white-space: nowrap;
    z-index: 3;
    font-size: 20px;
    font-size: 20/@px;

  }

  .season_item {

    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    left: 4px;
    left: 4/@px;
    top: 1px;
    background: #292c2d;

    .season_item_holder {

      display: block;
      height: 40px;
      height: 2.5rem;
      width: 100%;
      box-sizing: content-box;
      span {
        vertical-align: middle;
      }

    }

    &:first-child {

      background: none;
      left: 0;
      top: 0;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #292c2d;
        z-index: -1;
        transform: skew(-45deg);
        transform-origin: 0 0;
        padding: 0 24px;
        padding: 0 24/@px;
      }

    }

  }

  .season_icon {
    float: left;
    width: 40px;
    width: 40/@px;
    height: 40px;
    height: 40/@px;
    margin-right: 8px;
    margin-right: 8/@px;
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: #fff;
      }
    }
  }

  .season_text {
    float: left;
    color: #fff;
    text-transform: uppercase;
  }

}

.header_space {
  position: relative;
  width: 120%;
  .vp-1400 & {
    width: 100%;
  }
}

.season_toggle_btn {
  color: #536268;
  background: #1a1f21;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  min-height: 55px;
  min-height: 55/@px;
  min-width: 220px;
  min-width: 220/@px;
  font-weight: bold;
  font-style: italic;
  z-index: 1;
}

.season_toggle_icon {
  float: left;
  position: relative;
  width: 70px;
  width: 70/@px;
  height: 55px;
  height: 55/@px;
  svg {
    display: block;
    width: 39px;
    width: 39/@px;
    height: 24px;
    height: 24/@px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    path {
      fill: #536268;
    }
  }
}

.season_toggle_text {
  display: block;
  float: left;
  padding-left: 7px;
  padding-left: 7/@px;
  padding-right: 15px;
  padding-right: 15/@px;
  padding-top: 3px;
  padding-top: 3/@px;
  padding-bottom: 2px;
  padding-bottom: 2/@px;
  text-transform: uppercase;
}

.season_toggle_goto {
  font-size: 20px;
  font-size: 20/@px;
  white-space: nowrap;
}

.season_toggle_label {
  font-size: 30px;
  font-size: 30/@px;
  white-space: nowrap;
}
