@import "../../../style/imports/vars";

@flap-headline-lighten-factor: 2%;
@menu-focus-darken-factor: 1%;

@tech-hover-color: #adb5bb;
@p_background_color_1: #1b2225;
@p_background_color_2: #1e2325;
@p_background_color_7: rgba(255, 255, 255, 0.04);
@p_background_color_8: transparent;

.page_type_product {

  background-color: @p_background_color_1;

  .breadcrumbs {

    background: #252c2e;
    z-index: 3;
    position: relative;

    .bread_item {
      &:first-child {
        margin-left: -260px;
        padding-left: 260px;
      }
    }
  }
  .product_top {
    background: #252c2e;
    padding-top: 1px;
    position: relative;
    z-index: 1;
    padding-bottom: 1px;
    &:after {
      content: '';
      background-image: url('images/Product_v200/product-bg.png');
      position: absolute;
      width: 14.375rem;
      height: 25.625rem;
      display: block;
      bottom: 16.138rem;
      right: -1.875rem;
      -webkit-transition: ease 125ms;
      -moz-transition: ease 125ms;
      -ms-transition: ease 125ms;
      -o-transition: ease 125ms;
      transition: ease 125ms;
    }
  }
  .design {
    background-color: @p_background_color_2;
    height: 16.125rem;
    margin-top: 1.875rem;
    overflow: hidden;
    position: relative;
    background-image: url('images/Product_v200/material_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .inner_wrapper {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &:before {
      content: "";
      background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.33), transparent);
      width: 100%;
      height: 1px;
      display: block;
      top: 0;
      z-index: 1;
      left: 0;
      position: absolute;
    }
    &:after {
      content: "";
      background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.33), transparent);
      width: 100%;
      height: 1px;
      display: block;
      bottom: 0;
      z-index: 1;
      left: 0;
      position: absolute;
    }
  }
  .flap {
    position: absolute;
    width: 22.5rem;
    height: 40rem;
    left: 50%;
    transform: translateX(-48rem);
    z-index: 4;
    top: -10rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    a {
      pointer-events: all;
    }
    p {
      position: absolute;
      left: 37%;
      font-size: 1.25rem;
      top: 37.3%;
      font-style: italic;
      color: @text;
      text-transform: uppercase;
      width: 160px;
      text-align: right;
    }
    span {
      display: block;
      top: 12.1rem;
      position: absolute;
      text-align: center;
      left: 13.25rem;
      font-family: @font-condensed;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-style: italic;
      width: 120/16rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .blue {
    .flap {
      background-image: url('images/Product_v200/flap_blue.png');
      span {
        color: lighten(@b-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@b-color-a, @menu-focus-darken-factor);
      color: lighten(@b-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: @b-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @b-color-c 0%, @b-color-b 38%, @b-color-a 100%);
        }

        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @b-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @b-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @b-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @b-color-c;
      }
      .menu-point {
        color: @b-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @b-color-c 0%, @b-color-b 28%, @b-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_Road_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/road_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @b-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_Road_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_Road_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/road_open.png');
        }
      }
      background-image: linear-gradient(to left, @b-color-c 0%, @b-color-b 28%, @b-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_Road_Produkt.png');
      }
      h2 {
        color: @b-color-c;
      }
      h4 {
        color: @b-color-b;
      }
    }
  }
  .lightblue {
    .flap {
      background-image: url('images/Product_v200/flap_lightblue.png');
      span {
        color: lighten(@lb-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@lb-color-a, @menu-focus-darken-factor);
      color: darken(@lb-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: @lb-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @lb-color-c 0%, @lb-color-b 38%, @lb-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @lb-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @lb-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @lb-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @lb-color-c;
      }
      .menu-point {
        color: @lb-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @lb-color-c 0%, @lb-color-b 28%, @lb-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_Fast_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/fast_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @lb-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_Fast_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_Fast_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/fast_open.png');
        }
      }
      background-image: linear-gradient(to left, @lb-color-c 0%, @lb-color-b 28%, @lb-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_Fast_Produkt.png');
      }
      h2 {
        color: @lb-color-c;
      }
      h4 {
        color: @lb-color-b;
      }
    }
  }
  .darkgreen{
    .flap {
      background-image: url('images/Product_v200/flap_green.png');
      span {
        color: lighten(@g-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@g-color-a, @menu-focus-darken-factor);
      color: lighten(@g-color-c, @flap-headline-lighten-factor);
      .menu-point {
        color: @g-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @g-color-c 0%, @g-color-b 38%, @g-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @g-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @g-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @g-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @g-color-c;
      }
      .menu-point {
        color: @g-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @g-color-c 0%, @g-color-b 28%, @g-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_Trail_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/trail_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @g-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_Trail_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_Trail_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/trail_open.png');
        }
      }
      background-image: linear-gradient(to left, @g-color-c 0%, @g-color-b 28%, @g-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_Trail_Produkt.png');
      }
      h2 {
        color: @g-color-c;
      }
      h4 {
        color: @g-color-b;
      }
    }
  }
  .lightgreen {
    .flap {
      background-image: url('images/Product_v200/flap_lightgreen.png');
      span {
        color: lighten(@lg-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@lg-color-a, @menu-focus-darken-factor);
      color: darken(@lg-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: @lg-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @lg-color-c 0%, @lg-color-b 38%, @lg-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @lg-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @lg-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @lg-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @lg-color-c;
      }
      .menu-point {
        color: @lg-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @lg-color-c 0%, @lg-color-b 28%, @lg-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_Easy_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/easy_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @lg-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_Easy_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_Easy_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/easy_open.png');
        }
      }
      background-image: linear-gradient(to left, @lg-color-c 0%, @lg-color-b 28%, @lg-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_Easy_Produkt.png');
      }
      h2 {
        color: @lg-color-c;
      }
      h4 {
        color: @lg-color-b;
      }
    }
  }
  .orange {
    .flap {
      background-image: url('images/Product_v200/flap_orange_new.png');
      span {
        color: lighten(@or-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@or-color-a, @menu-focus-darken-factor);
      color: darken(@or-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: @or-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @or-color-c 0%, @or-color-b 38%, @or-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @or-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @or-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @or-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @or-color-c;
      }
      .menu-point {
        color: @or-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @or-color-c 0%, @or-color-b 28%, @or-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_orange_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/orange_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @or-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_orange_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_orange_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/orange_open.png');
        }
      }
      background-image: linear-gradient(to left, @or-color-c 0%, @or-color-b 28%, @or-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_orange_Produkt.png');
      }
      h2 {
        color: @or-color-c;
      }
      h4 {
        color: @or-color-b;
      }
    }
  }
  .yellow {
    .flap {
      background-image: url('images/Product_v200/flap_yellow_new.png');
      span {
        color: lighten(@y-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@y-color-a, @menu-focus-darken-factor);
      color: darken(@y-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: desaturate(darken(@y-color-c, 50%), 10%);
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @y-color-c 0%, @y-color-b 38%, @y-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @y-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @y-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @y-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @y-color-c;
      }
      .menu-point {
        color: @y-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @y-color-c 0%, @y-color-b 28%, @y-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_yellow_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/yellow_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @y-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_yellow_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_yellow_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/yellow_open.png');
        }
      }
      background-image: linear-gradient(to left, @y-color-c 0%, @y-color-b 28%, @y-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_yellow_Produkt.png');
      }
      h2 {
        color: @y-color-c;
      }
      h4 {
        color: @y-color-b;
      }
    }
  }
  .carrot {
    .flap {
      background-image: url('images/Product_v200/flap_carrot_new.png');
      span {
        color: lighten(@c-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@c-color-a, @menu-focus-darken-factor);
      color: darken(@c-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: @c-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @c-color-c 0%, @c-color-b 38%, @c-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @c-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @c-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @c-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @c-color-c;
      }
      .menu-point {
        color: @c-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @c-color-c 0%, @c-color-b 28%, @c-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_carrot_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/carrot_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @c-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_carrot_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_carrot_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/carrot_open.png');
        }
      }
      background-image: linear-gradient(to left, @c-color-c 0%, @c-color-b 28%, @c-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_carrot_Produkt.png');
      }
      h2 {
        color: @c-color-c;
      }
      h4 {
        color: @c-color-b;
      }
    }
  }
  .red {
    .flap {
      background-image: url('images/Product_v200/flap_red_new.png');
      span {
        color: lighten(@r-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@r-color-a, @menu-focus-darken-factor);
      color: darken(@r-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: @r-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @r-color-c 0%, @r-color-b 38%, @r-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @r-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @r-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @r-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @r-color-c;
      }
      .menu-point {
        color: @r-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @r-color-c 0%, @r-color-b 28%, @r-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_red_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/red_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @r-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_red_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_red_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/red_open.png');
        }
      }
      background-image: linear-gradient(to left, @r-color-c 0%, @r-color-b 28%, @r-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_red_Produkt.png');
      }
      h2 {
        color: @r-color-c;
      }
      h4 {
        color: @r-color-b;
      }
    }
  }
  .ocean {
    .flap {
      background-image: url('images/Product_v200/flap_ocean_new.png');
      span {
        color: lighten(@oc-color-a, @flap-headline-lighten-factor);
      }
    }
    .info-menu.focus {
      background-color: darken(@oc-color-a, @menu-focus-darken-factor);
      color: darken(@oc-color-c, @menu-focus-darken-factor);
      .menu-point {
        color: @oc-color-c;
      }
      .menu-point.active {
        color: @text;
      }
      .vid {
        &:before {
          background: linear-gradient(to right, @oc-color-c 0%, @oc-color-b 38%, @oc-color-a 100%);
        }
        div {
          color: @text;
          &:before {
            border-color: transparent transparent transparent @text;
          }
        }
      }
    }
    .info-menu {
      .pre-t {
        border-top: 1.4375rem solid @oc-color-c;
      }
      .pre-t-2 {
        border-top: 1.5rem solid @oc-color-c;
      }
      .after-t {
        border-bottom: 1.4375rem solid @oc-color-c;
      }
      .after-t-2 {
        border-bottom: 23px solid @oc-color-c;
      }
      .menu-point {
        color: @oc-color-c;
      }
    }
    .tech-header {
      background-image: linear-gradient(to right, @oc-color-c 0%, @oc-color-b 28%, @oc-color-a 100%);
      div {
        background-image: url('images/Product_v200/Features_close_ocean_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/ocean_open.png');
        }
      }
    }
    .tech {
      h2 {
        color: @oc-color-c;
      }
      .close-tech {
        background-image: url('images/Product_v200/Features_close_ocean_Produkt.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/Product_v200/Features_close_ocean_Produkt.png');
      }
      span {
        &:before {
          background-image: url('images/Product_v200/ocean_open.png');
        }
      }
      background-image: linear-gradient(to left, @oc-color-c 0%, @oc-color-b 28%, @oc-color-a 100%);
    }
    .features {
      .close-features {
        background-image: url('images/Product_v200/Features_close_ocean_Produkt.png');
      }
      h2 {
        color: @oc-color-c;
      }
      h4 {
        color: @oc-color-b;
      }
    }
  }
  .product_description {
    margin: 3rem 0;
    overflow: hidden;
    height: 5rem;
    p {
      padding: 0 0 0 4.6875rem;
    }
    .paragraphs {
      p {
        pointer-events: none;
        span {
          pointer-events: all;
        }
      }
    }
    .weiterlesen {
      white-space: nowrap;
      cursor: pointer;
      font-style: italic;
      &:after {
        content: "";
        display: inline-block;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAFBAMAAABhiAtlAAAAG1BMVEUAAAD////////////////////////////////rTT7CAAAACHRSTlMA+INzWEUz31zPGGUAAAAnSURBVAjXY9BoFBTsUGBglujoEGZgYHDsaHQAUqwSogwgkJ7AwAAAbBcFNeF/F2gAAAAASUVORK5CYII=");
        background-repeat: no-repeat;
        background-size: cover;
        width: 0.6875rem;
        height: 0.3125rem;
      }
    }
  }
  section {
    position: relative;
  }
  .info-menu {
    width: 54.0625rem;
    margin: auto;
    transform: translateX(1.375rem) skew(-45deg);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    -webkit-transition: ease 500ms;
    -moz-transition: ease 500ms;
    -ms-transition: ease 500ms;
    -o-transition: ease 500ms;
    transition: ease 500ms;
    .heading {
      float: left;
    }
    .pre-t {
      overflow: hidden;
      transform: scale(0.7) skew(45deg);
      position: absolute;
      left: -1.875rem;
      top: -0.25rem;
      width: 0;
      height: 0;
      border-left: 1.375rem solid transparent;
      border-right: 1.375rem solid transparent;
      border-top: 1.4375rem solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    .pre-t-2 {
      overflow: hidden;
      transform: scale(0.7) skew(43deg);
      position: absolute;
      left: -2.1875rem;
      top: 0.125rem;
      width: 0;
      height: 0;
      border-left: 1.375rem solid transparent;
      border-right: 1.375rem solid transparent;
      border-top: 1.5rem solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    .after-t {
      overflow: hidden;
      transform: scale(0.7) skew(45deg);
      position: absolute;
      right: -1.75rem;
      bottom: -0.25rem;
      width: 0;
      height: 0;
      border-left: 1.375rem solid transparent;
      border-right: 1.375rem solid transparent;
      border-bottom: 1.4375rem solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    .after-t-2 {
      overflow: hidden;
      transform: scale(0.7) skew(45deg);
      position: absolute;
      right: -2.1875rem;
      bottom: 0.125rem;
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 23px solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    * {
      transform: skew(45deg);
    }
    .menu-point {
      font-size: 0.8125rem;
      //height: 100%; strange stuff happens
      line-height: 2.9375rem;
      align-self: center;
      cursor: pointer;
      float: left;
      margin-left: 1rem;
      margin-right: 0rem;
      -webkit-transition: ease 250ms;
      -moz-transition: ease 250ms;
      -ms-transition: ease 250ms;
      -o-transition: ease 250ms;
      transition: ease 250ms;
      transform: skew(-45deg);
    }
    .menu-point.active {
      color: @text;
    }
    h4 {
      font-size: 0.8125rem;
      font-weight: bold;
      font-style: italic;
      margin-left: 1rem;
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      margin-right: 0.5rem;
      height: 1.6875rem;
      width: 7.25rem;
      text-align: center;
      color: @text;
      position: relative;
      line-height: 1.6875rem;
      &:before {
        content: "";
        position: absolute;
        transform: skewX(-45deg);
        display: block;
        background: #3f4142;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }
    .vid {
      left: 3.1rem;
      position: absolute;
      top: ~"calc(100% - -1.25rem)";
      border: 1px solid @text;
      border-right: 2px solid @text;
      border-left: 2px solid @text;
      transform: translateZ(0);
      overflow: hidden;
      display: flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: -ms-grid;
      cursor: pointer;
      backface-visibility: hidden;
      &:hover:before {
        transform: skewX(45deg) scale(2.5);
      }
      &.update {
        right: 1.1rem;
        left: auto;
        div:before {
          content: '';
          border: 0;
          height: 1rem;
          width: 1rem;
          background: url(images/Product_v200/update_icon.svg) no-repeat;
          background-size: cover;
          image-rendering: -webkit-optimize-contrast;
          margin-right: 0.5rem;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: .125s transform ease;
        transform: skewX(45deg) scale(1.2) translateZ(0);
      }
      div {
        margin: 0 1rem;
        height: 1.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: @font-condensed;
        text-transform: uppercase;
        font-weight: bold;
        font-style: italic;
        &:before {
          content: '';
          height: 0;
          width: 0;
          position: relative;
          border: 0.375rem solid;
        }
      }
    }
  }
  .info-menu.focus {
    .pre-t {
      opacity: 0.5;
    }
    .pre-t-2 {
      opacity: 0.5;
    }
    .after-t {
      opacity: 0.5;
    }
    .after-t-2 {
      opacity: 0.5;
    }
  }
  .tech-header {
    color: @text;
    z-index: 1;
    background: linear-gradient(to right, @b-color-c 0%, @b-color-b 28%, @b-color-a 100%);
    height: 7.5rem;
    font-family: @font-condensed;
    background-repeat: no-repeat;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 7.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    h2 {
      margin: 0;
      font-size: 3.125rem;
      color: inherit;
      font-style: italic;
    }
    &:after {
      content: '';
      height: 7.5rem;
      width: 100px;
      z-index: -1;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      border-left: transparent 120px solid;
      border-right: transparent 120px solid;
      border-top: rgba(255, 255, 255, 0.05) 120px solid;
      transform-origin: 0 0;
      transform: scaleY(-1) translateY(-50%) translateX(95%);
    }
    div {
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    div.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    span {
      top: 0.875rem;
      position: absolute;
      left: 50%;
      transform: translateX(14.5625rem);
      line-height: normal;
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      transition: 1s ease;
      &:hover {
        img {
          top: 5.3125rem;
        }
      }
      img {
        -webkit-transition: ease 250ms;
        -moz-transition: ease 250ms;
        -ms-transition: ease 250ms;
        -o-transition: ease 250ms;
        transition: ease 250ms;
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: table;
        left: 50%;
        transform: translateX(-50%);
        top: 5rem;
      }
      &:before {
        content: "";
        display: block;
        height: 7.4375rem;
        width: 18.875rem;
        background-repeat: no-repeat;
        position: absolute;
        top: -0.875rem;
        transform: translateX(-45.5%);
        left: 50%;
        z-index: -1;
      }
    }
  }
  .highlight {
    z-index: 5;
    cursor: pointer;
    svg {
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
  }
  .tech-bg {
    background-color: @p_background_color_1;
  }
  .tech {
    background-color: @p_background_color_8;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-image: url('images/Product_v200/tech-t-left.png'), url('images/Product_v200/tech-t-right.png');
    background-repeat: no-repeat;
    background-size: auto, contain;
    background-position: left bottom, right;
    ul {
      margin: 2.25rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    li {
      margin-bottom: 2.25rem;
      width: 50%;
      padding-right: 1.5rem;
      p {
        font-family: @font-regular;
        line-height: 1.5em;
      }
    }
    h2 {
      font-weight: bold;
      font-family: @font-condensed;
      color: @b-color-c;
      font-style: normal;
      font-size: 20px;
      font-size: 1.25rem;
      margin: 0 0 .25em 0;
    }
    &:after {
      content: '';
      visibility: hidden;
      width: 58.625rem;
      height: 175rem;
      position: absolute;
      right: -59.5rem;
      bottom: 0;
      transform: translateX(-50%) scale(0.5);
      transform-origin: 0 0;
      z-index: -1;
    }
    .close-tech {
      cursor: pointer;
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    .close-tech.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    .updates {
      width: 100%;
      position: relative;
      h2 {
        margin-top: 2.375rem;
        font-size: 1.875rem;
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.33), transparent);
      }
    }
  }
  .tech-desc {
    transition: color .165s;
    cursor: pointer;
    &:hover {
      color: @tech-hover-color;
      text-decoration: underline;
    }
    &:focus {
      color: @tech-hover-color;
      text-decoration: underline;
    }
  }
  .features-header {
    overflow: hidden;
    height: 7.5rem;
    font-family: @font-condensed;
    font-weight: bold;
    font-style: italic;
    color: @text;
    line-height: 7.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    div {
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    div.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    span {
      top: 0.875rem;
      position: absolute;
      left: 50%;
      transform: translateX(14.5625rem);
      line-height: normal;
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      transition: 1s ease;
      &:hover {
        img {
          top: 5.3125rem;
        }
      }
      img {
        -webkit-transition: ease 250ms;
        -moz-transition: ease 250ms;
        -ms-transition: ease 250ms;
        -o-transition: ease 250ms;
        transition: ease 250ms;
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: table;
        left: 50%;
        transform: translateX(-50%);
        top: 5rem;
      }
      &:before {
        content: "";
        display: block;
        height: 7.4375rem;
        width: 18.875rem;
        background-repeat: no-repeat;
        position: absolute;
        top: -0.875rem;
        transform: translateX(-45.5%);
        left: 50%;
        z-index: -1;
      }
    }
    h2 {
      margin: 0;
      font-size: 3.125rem;
      color: inherit;
    }
    &:after {
      content: '';
      background-size: contain;
      transform-origin: 0 0;
      display: block;
      position: absolute;
      top: 0;
      z-index: -1;
      height: 7.5rem;
      width: 80px;
      left: 50%;
      border-left: transparent 120px solid;
      border-right: transparent 120px solid;
      border-top: rgba(255, 255, 255, 0.05) 120px solid;
      transform: scaleY(-1) translateY(-50%) translateX(-210%);
    }
  }
  .features {
    overflow: hidden;
    position: relative;
    background-image: url('images/Product_v200/feat-t-top.png'), url('images/Product_v200/feat-t-right.png');
    background-position: left top, right;
    background-repeat: no-repeat;
    .column {
      margin: 2.25rem 0;
      display: block;
      width: 33%;
      float: left;
    }
    .close-features {
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    .close-features.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    li {
      margin: 0em 0;
    }
    h2 {
      text-align: center;
      font-size: 1.25rem;
      color: @b-color-c;
      margin-bottom: .5em;
      font-style: normal;
      float: left;
      text-align: right;
      width: 50%;
    }
    h4 {
      display: block;
      float: left;
      width: 50%;
      line-height: 1.5em;
      vertical-align: top;
      font-size: 16px;
      font-size: 1rem;
      color: @b-color-b;
      text-align: right;
      font-style: normal;
      text-transform: none;
      margin: 0;
    }
    span {
      display: block;
      float: left;
      width: 50%;
      line-height: 1.5em;
      vertical-align: top;
      vertical-align: top;
      font-size: 16px;
      font-size: 1rem;
      text-align: left;
      padding-left: 1em;
      font-family: @font-regular;
    }
  }
  .footer_wrapper {
    position: relative;
    z-index: 1;
  }
  .site_wrapper {
    .paragraphs {
      p {
        margin: 0;
      }
    }
  }
  .learn-more {
    cursor: pointer;
    right: ~'calc(50% - 27.7rem)';
    font-size: 13/@px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    text-align: center;
    transform: translateY(-2.75rem);
    text-transform: uppercase;
    transition: 250ms right;
    &:before {
      content: '';
      height: 0px;
      width: 0px;
      border: solid gray;
      position: absolute;
      border-color: #3b4243 transparent transparent transparent;
      left: 50%;
      transform: translateX(-50%);
      top: 15%;
      z-index: -1;
      border-top-width: 44/@px;
      border-left-width: 44/@px;
      border-bottom-width: 0;
      border-right-width: 44/@px;
    }
    &:after {
      content: '';
      display: inline-block;
      border: solid;
      border-left-width: 12/@px;
      border-right-width: 12/@px;
      border-top-width: 12/@px;
      position: relative;
      margin-top: 6/@px;
      transition: .125s ease;
      border-color: #fff transparent transparent transparent;
    }
    &:hover:after {
      margin-top: 16/@px;
    }
  }
  &.vp-1400 {
    .product_top {
      &:after {
        right: 0;
      }
    }
    .tech-header {
      &:after {
        width: 100%;
        background-image: url('images/Product_v200/tech-bg-1400.png');
        background-size: cover;
        background-position: center;
        top: 0;
        border: none;
        transform: none;
        left: 0;
      }
    }
    .features-header {
      &:after {
        height: 7.5rem;
        width: 100%;
        background-image: url('images/Product_v200/feat-bg-1400.png');
        background-size: cover;
        background-position: center;
        transform: unset;
        border: none;
        left: 0;
      }
    }
  }
  &.vp-960 {
    .vid.update {
      right: -3.8rem;
    }
    .learn-more {
      right: ~'calc(50% - 19.8rem)';
    }
    .breadcrumbs {
      position: relative;
    }
    .product_top {
      &:after {
        display: none;
      }
    }
    .design {
      height: 15.125rem;
    }
    .flap {
      a {
        font-size: 1.25rem;
        width: 10%;
      }
      p {
        width: 5rem;
        top: 37%;
        text-align: right;
        left: 53%;
        line-height: 1.4rem;
      }
      transform: translateX(-32rem);
      z-index: 2;
    }
    .product_description {
      height: 7.5rem;
      margin-bottom: 6rem;
      p {
        padding: 0 0 0 11.25rem;
        width: 35rem;
      }
    }
    .info-menu {
      .heading {
        font-size: 1.125rem;
        margin-right: 20rem;
        line-height: 1.8rem;
        height: 1.8rem;
        width: 8rem;
      }
      .menu-point {
        height: auto;
        border-right: 0.125rem solid gray;
        padding-right: 1.5rem;
        line-height: 1.25rem;
        &:nth-last-child(1) {
          border: none;
          padding: 0;
        }
      }
      background-color: @p_background_color_7;
      width: 30rem;
      transform-origin: 0 0;
      transform: translateX(7.375rem) skew(-45deg);
      padding-bottom: 0.625rem;
      margin-top: -4.5rem;
      .menu-wrapper {
        margin-left: 3.5rem;
        width: 23rem;
      }

    }
    .tech-header {
      h2 {
        width: 41.25rem;
        margin: 0 auto;
        text-align: left;
        padding: 0 1.875rem;
      }
      &:after {
        width: 59.9375rem;
        background-image: url('images/Product_v200/tech_header_tablet.png');
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
      }
      div.out {
        transform: translateX(3.125rem) translateY(100%);
      }
      div {
        transform: translateX(3.125rem);
      }
      span {
        transform: translateX(8rem);
      }
    }
    .tech {
      background: none;
      li {
        width: 75%;
      }
      &:after {
        visibility: visible;
        height: 22.5rem;
        width: 11.3125rem;
        right: -10rem;
        top: 2rem;
        transform: translateX(-50%);
        background-image: url('images/Product_v200/tech_tri_top.png');
        position: absolute;
        background-size: contain;
      }
      .close-tech.out {
        transform: translateX(9.375rem) translateY(100%);
      }
      .close-tech {
        transform: translateX(9.375rem);
      }
    }
    .features-header {
      div.out {
        transform: translateX(3.125rem) translateY(100%);
      }
      div {
        transform: translateX(3.125rem);
      }
      span {
        transform: translateX(8rem);
      }
      h2 {
        width: 41.25rem;
        margin: 0 auto;
        text-align: left;
        padding: 0 1.875rem;
      }
      &:after {
        height: 7.4375rem;
        width: 19.25rem;
        background-image: url('images/Product_v200/feat_header_tablet.png');
        background-position: inherit;
        background-size: auto;
        left: 50%;
        transform: translateX(70%);
      }
    }
    .features {
      background: none;
      .column {
        width: 50%;
      }
      .close-features.out {
        transform: translateX(9.375rem) translateY(100%);
      }
      .close-features {
        transform: translateX(9.375rem);
      }
      &:after {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 11.25rem;
        width: 5rem;
        right: 0;
        bottom: 1.875rem;
        background-image: url('images/Product_v200/feat_tri_bottom.png');
        position: absolute;
        background-size: contain;
      }
    }
  }
  &.vp-640 {
    .learn-more {
      right: ~'calc(50% - 17.7rem)';
    }
    .vid.update {
      right: 19.1rem;
    }
    .flap {
      transform: translateX(-30rem);
      top: -6.5rem;
    }
    .product_description {
      height: 11.5rem;
      p {
        padding: 0 0 0 4.6875rem;
        float: right;
        width: 80%;
        font-size: 1.25rem;
      }
      .paragraphs {
        p {
          pointer-events: all;
        }
        overflow: hidden;
      }
    }
    .info-menu {
      .heading {
        margin-right: 40rem;
      }
      .pre-t {
        transform: scale(1.6) skew(45deg);
        left: -3.5rem;
        top: 1.1rem;
      }
      .pre-t-2 {
        transform: scale(1.8) skew(43deg);
        left: -2.59rem;
        top: 0.55rem;
      }
      .menu-point {
        font-size: 1.25rem;
        height: 2rem;
        line-height: 2rem;
        margin-bottom: 0.25rem;
      }
      width: 50rem;
      margin-top: -2rem;
      transform: translateX(13.375rem) skew(-45deg);
      .menu-wrapper {
        margin-left: 5rem;
      }
    }
    .tech-header {
      h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
      }
      &:after {
        width: 40rem;
        background-image: url('images/Product_v200/tech_header.png');
        background-size: contain;
      }
      div {
        transform: none;
        left: auto;
        right: 0;
      }
      div.out {
        transform: translateY(100%);
      }
      span {
        img {
          left: 50%;
          top: 3rem;
        }
        &:before {
          left: 5%;
          width: 14.5rem;
        }
        left: 60%;
      }
    }
    .tech {
      li {
        p {
          font-size: 1.25rem;
        }
        width: 100%;
      }
      h2 {
        font-size: 1.5625rem;
      }
      &:before {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 22.5rem;
        width: 17.8125rem;
        left: 6rem;
        bottom: -1.5rem;
        transform: translateX(-50%);
        background-image: url('images/Product_v200/tech_tri_bottom.png');
        position: absolute;
        background-size: contain;
      }
      .close-tech {
        transform: none;
        left: auto;
        right: 0;
      }
      .close-tech.out {
        transform: translateY(100%);
      }
    }
    .features-header {
      div {
        transform: none;
        left: auto;
        right: 0;
      }
      div.out {
        transform: translateY(100%);
      }
      span {
        img {
          left: 50%;
          top: 3rem;
        }
        &:before {
          left: 5%;
          width: 14.5rem;
        }
        left: 60%;
      }
      h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
      }
      &:after {
        height: 7.5rem;
        width: 40rem;
        background-image: url('images/Product_v200/feat_header.png');
        left: 0;
        transform: unset;
      }
    }
    .lightgreen {
      .tech-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_lightgreen.png');
            background-size: contain;
          }
        }
      }
      .features-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_lightgreen.png');
            background-size: contain;
          }
        }
      }
    }
    .blue {
      .tech-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_blue.png');
            background-size: contain;
          }
        }
      }
      .features-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_blue.png');
            background-size: contain;
          }
        }
      }
    }
    .lightblue {
      .tech-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_lightblue.png');
            background-size: contain;
          }
        }
      }
      .features-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_lightblue.png');
            background-size: contain;
          }
        }
      }
    }
    .darkgreen{
      .tech-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_green.png');
            background-size: contain;
          }
        }
      }
      .features-header {
        span {
          &:before {
            background-image: url('images/Product_v200/open_mobile_green.png');
            background-size: contain;
          }
        }
      }
    }
    .features {
      .close-features {
        transform: translateY(0);
        left: auto;
        right: 0;
      }
      .close-features.out {
        transform: translateY(100%);
      }
      .column {
        width: 100%;
        margin: 0.9375rem 0;
      }
      h2 {
        font-size: 1.5625rem;
      }
      h4 {
        font-size: 1.25rem;
      }
      span {
        font-size: 1.25rem;
      }
      &:after {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 22.4375rem;
        width: 10.0625rem;
        right: 0;
        bottom: 1.875rem;
        background-image: url('images/Product_v200/feat_tri_bottom.png');
        position: absolute;
        background-size: contain;
      }
      &:before {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 3.9375rem;
        width: 6.375rem;
        left: 0;
        top: 0;
        background-image: url('images/Product_v200/feat_tri_top.png');
        position: absolute;
        background-size: contain;
      }
    }
  }
}

@sl_color_1: #202020;
@sl_color_2: #000000;
@sl_font_family_1: "Roboto Condensed", sans-serif;
@sl_background_color_1: transparent;
@sl_background_color_2: #ffffff;
@sl_border_color_1: transparent #fff transparent transparent;
@sl_border_color_2: transparent transparent #fff transparent;

.page_type_product {
  @keyframes fade_in_highlight {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide_left {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  @keyframes fade_left {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }
  @keyframes slide_right {
    0% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
  }
  @keyframes fade_right {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
  .slider {
    width: 47.5rem;
    margin: 0 auto;
  }
  .slider_holder {
    width: 100%;
    height: 19.125rem;
    position: relative;
    margin-bottom: 1.5625rem;
    .arrow {
      cursor: pointer;
      position: absolute;
      width: 50px;
      height: 95px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: @sl_border_color_1;
        opacity: .2;
        left: 0;
        top: 0;
        transition-duration: .165s;
        transition-property: opacity, transform;
        border-width: 2.96875rem 3.125rem 2.96875rem 0;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: @sl_border_color_1;
        opacity: .2;
        left: 0;
        top: 0;
        transition-duration: .165s;
        transition-property: opacity, transform;
        border-width: 2.671875rem 2.8125rem 2.671875rem 0;
        left: 0px;
        top: 0.9375rem;
      }
      &:hover {
        &:after {
          opacity: .4;
          transform: translate(0.1875rem, -0.1875rem);
        }
        &:before {
          opacity: .4;
          transform: translate(-0.1875rem, 0.1875rem);
        }
      }
    }
    .arrow.prev {
      left: -4.0625rem;
      outline: none;
    }
    .arrow.next {
      right: -4.0625rem;
      transform: scaleX(-1);
      outline: none;
    }
  }
  .slider_gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 1rem;
      background: linear-gradient(to right, #252c2e, rgba(37, 44, 46, 0));
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 1rem;
      right: 0;
      background: linear-gradient(to left, #252c2e, rgba(37, 44, 46, 0));
    }
  }
  .slider_frame {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.33s transform ease-out;
  }
  .slider_item {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 100%;
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .slider_item[data-item="0"] {
    left: 0;
  }
  .slider_nav {
    text-align: center;
  }
  .slider_nav_triangle {
    display: inline-block;
    margin: 0 0.375rem;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.09375rem 1.125rem 1.09375rem;
    border-color: @sl_border_color_2;
    transition-duration: .165s;
    transition-property: opacity, transform;
    opacity: .33;
    &:hover {
      opacity: .66;
    }
  }
  .slider_nav_triangle.active {
    opacity: 1;
  }
  .gender_select {
    width: 16.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: @sl_color_1;
    white-space: nowrap;
    position: relative;
    margin-bottom: 2.5rem;
    top: 0;
    bottom: 0;
    cursor: pointer;
    outline: none;
    .unskew {
      width: 100%;
    }
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      background: #373b3d;
      border: 1px solid #a0a2a3;
      transform: skew(-45deg);
      width: 100%;
      height: 100%;
    }
    .bg-active {
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      border: 1px solid #fff;
      width: 69%;
      height: 100%;
      transform: skew(-45deg) scaleX(0.75);
      transform-origin: 0% 50%;
      transition: transform-origin 0.165s;
    }
    .men {
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 7.75rem;
      left: 0;
      top: 0;
      .unskew {
        padding-left: 0.9375rem;
      }
    }
    .women {
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 7.75rem;
      right: 0;
      top: 0;
      text-align: right;
      .unskew {
        padding-right: 0.9375rem;
      }
    }
    .men_icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-image: url('images/Product_v200/men-icon-active.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 0.875rem;
      height: 0.875rem;
      margin-right: 1.125rem;
    }
    .men_label {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
    }
    .women_icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-image: url('images/Product_v200/women-icon-active.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 0.6875rem;
      height: 1.0625rem;
      margin-left: 1.125rem;
    }
    .women_label {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
    }
    .men.inactive {
      .men_icon {
        background-image: url('images/Product_v200/men-icon-inactive.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .women.inactive {
      .women_icon {
        background-image: url('images/Product_v200/women-icon-inactive.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .gender_select.men {
    .bg-active {
      transform-origin: 0% 50%;
    }
    .men_label {
      opacity: 1;
    }
  }
  .gender_select.women {
    .bg-active {
      transform-origin: 100% 250%;
    }
    .women_label {
      opacity: 1;
    }
  }
  .material_selection {
    text-align: center;
    font-size: 0;
    white-space: nowrap;
    .material_inner {
      display: inline-block;
      vertical-align: middle;
      line-height: 5.9375rem;
    }
    .tri {
      pointer-events: none;
      vertical-align: top;
      display: inline-block;
      margin: 0 -2.1875rem;
      width: 9.375rem;
      height: 4.6875rem;
      position: relative;
      top: 0;
      .tri_container {
        width: 9.375rem;
        height: 4.6875rem;
        position: relative;
        overflow: hidden;
        transition: transform .33s;
      }
      .tri_hover {
        pointer-events: all;
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 6.625rem;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        cursor: pointer;
        background: #000;
        opacity: .5;
        transition: opacity .33s;
        &:hover {
          opacity: 0;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(even) {
        transform: rotate(180deg);
        margin-top: 1.25rem;
      }
      &:nth-child(even).active {
        .tri_container {
          transform: translateY(-0.625rem);
        }
      }
    }
    .tri.active {
      .tri_hover {
        opacity: .01;
      }
      .tri_container {
        transform: translateY(-0.625rem);
      }
    }
    .tri_holder {
      position: relative;
      left: -13.75rem;
      top: -9.375rem;
    }
  }
  .darkgreen{
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_green.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .blue {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_blue.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .lightblue {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_lightblue.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .lightgreen {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_lightgreen.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .orange {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_orange.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .yellow {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_yellow.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .carrot {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_carrot.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .red {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_red.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .ocean {
    .material_selection {
      .tri {
        background-image: url('images/Product_v200/farbauswahl_ocean.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .highlights {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .highlight {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    transform: rotate(-115deg);
    transform-origin: 50% 50%;
    &:hover {
      z-index: 6;
      .highlight_transparent {
        border: 5px solid transparent;
      }
      .highlight_hover {
        background: transparent;
      }
      .highlight_canvas {
        height: 100%;
        border-radius: 100%;
        box-sizing: border-box;
        z-index: 5;
      }
      .highlight_hover_active {
        -webkit-animation: 0.33s fade_in_highlight forwards;
        -moz-animation: 0.33s fade_in_highlight forwards;
        -o-animation: 0.33s fade_in_highlight forwards;
        animation: 0.33s fade_in_highlight forwards;
      }
    }
    svg {
      margin-left: -3.125rem;
      margin-top: -4.0625rem;
      transform-origin: 50% 50%;
    }
  }
  .highlight_transparent {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 100%;
    background-color: @sl_background_color_1;
  }
  .highlight.active {
    .highlight_transparent {
      border: 5px solid transparent;
    }
    .highlight_hover {
      background: transparent;
    }
    .highlight_canvas {
      height: 100%;
      border-radius: 100%;
      box-sizing: border-box;
      z-index: 5;
    }
    .highlight_hover_active {
      -webkit-animation: 0.33s fade_in_highlight forwards;
      -moz-animation: 0.33s fade_in_highlight forwards;
      -o-animation: 0.33s fade_in_highlight forwards;
      animation: 0.33s fade_in_highlight forwards;
    }
  }
  .highlight_inner {
    border: 1px solid #ffffff;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
  }
  .highlight_hover {
    background: url(images/Product_v200/info.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 75%;
    height: 2em;
  }
  .highlight_canvas {
    background-color: @sl_background_color_2;
    width: 100%;
    height: 20%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.33s all;
    color: @sl_color_2;
    font-family: @sl_font_family_1;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .hightlight_canvas_inner {
    transform: rotate(115deg);
    transform-origin: 50% 50%;
    display: table;
    width: 100%;
    height: 100%;
  }
  .highlight_hover_active {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  .more-svg {
    background-image: url('images/Product_v200/info_logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 2em;
    margin: 0.5em auto;
    background-size: contain;
    width: 100%;
    display: block;
  }
  .highlight_canvas.active {
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 5;
    .highlight_hover_active {
      -webkit-animation: 0.33s fade_in_highlight forwards;
      -moz-animation: 0.33s fade_in_highlight forwards;
      -o-animation: 0.33s fade_in_highlight forwards;
      animation: 0.33s fade_in_highlight forwards;
    }
  }
  .slider_item.pos-pre {
    -webkit-animation: 0.33s fade_left forwards;
    -moz-animation: 0.33s fade_left forwards;
    -o-animation: 0.33s fade_left forwards;
    animation: 0.33s fade_left forwards;
  }
  .slider_item.pos-active {
    left: 0;
  }
  .slider_item.pos-next {
    -webkit-animation: 0.33s fade_right forwards;
    -moz-animation: 0.33s fade_right forwards;
    -o-animation: 0.33s fade_right forwards;
    animation: 0.33s fade_right forwards;
  }
  .slider_item.transition {
    -webkit-transition: left 0.33s ease-out;
    -moz-transition: left 0.33s ease-out;
    -ms-transition: left 0.33s ease-out;
    -o-transition: left 0.33s ease-out;
    transition: left 0.33s ease-out;
  }
  .anim-right {
    -webkit-animation: 0.33s slide_left forwards;
    -moz-animation: 0.33s slide_left forwards;
    -o-animation: 0.33s slide_left forwards;
    animation: 0.33s slide_left forwards;
  }
  .anim-left {
    -webkit-animation: 0.33s slide_right forwards;
    -moz-animation: 0.33s slide_right forwards;
    -o-animation: 0.33s slide_right forwards;
    animation: 0.33s slide_right forwards;
  }
  &.vp-960 {
    .slider {
      width: 32rem;
    }
    .slider_item {
      background-size: contain;
    }
  }
  &.vp-640 {
    .slider {
      width: 80%;
    }
    .slider_holder {
      .arrow.prev {
        left: -2.9rem;
      }
      .arrow.next {
        right: -2.9rem;
      }
    }
  }
}