@import "../imports/new_vars";
@import "../imports/mixins";

/////Scheme2 Road

.nav_programm_item {

  &.scheme_2 {
    .holder_name {
      color: @asics_skyblue;
    }
    .btn_programm, .btn_konzept {
      color: @asics_blue;
      background: @asics_skyblue;
    }
    .overlay_konzept {
      color: @asics_blue;
      background: fade(@asics_skyblue, 90%);
    }
    .overlay_konzept_close .close b {
      background: @asics_blue;
    }
  }

}

.body_scheme.scheme_2 {

  background-color: @scheme2_primary;
  &.stability {
    background-color: @scheme2_light;
  }

  background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &::before {
    background-attachment: fixed;
    .bgStripes(@scheme2_light, #fff);
  }

  &.page_type_overview, &.page_type_tech_overview {
    .site_wrapper {
      background-image: url(images/global/scheme2/scheme2_overview.png);
      background-position: 0% 50vh;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }

  &.page_type_product, &.page_type_tech {
    .site_wrapper {
      background-image: url(images/global/scheme2/scheme2_detail.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;
    }
    .inner_wrapper {
      background-color: @scheme2_primary;
    }
  }

  &.stability {
    &.page_type_product, &.page_type_tech {
      .inner_wrapper {
        background-color: @scheme2_light;
      }
    }
  }

  //Overlay
  .big_content {
    background: @scheme2_primary;
  }

  &.stability {
    .big_content {
      background: @scheme2_light;
    }
  }

  //Topbar, Footer

  .footer_wrapper {
    color: @scheme2_accent;
    background-color: fade(@scheme2_primary, 60%);
    .inner_wrapper {
      background: transparent !important;
    }
  }
  &.striped, &.stability {
    .footer_wrapper {
      background-color: fade(@scheme2_light, 60%);
    }
  }

  .topbar_svg, .footer_svg {
    path, rect {
      fill: @scheme2_accent;
    }
  }

  .topnav_btn {
    &:hover, &:focus {
      background: fade(@scheme2_btn_hover, 60%);
    }
  }

  .topnav_search_icon {
    background-image: url(images/Navigation/Suchicon_blue.png);
  }

  .topnav_search_close {
    b {
      background: @scheme2_accent;
    }
  }

  .topnav_icon_facebook {
    background-image: url(images/Navigation/Facebook_blue.png);
  }

  //Suchfeld

  //.topnav_search {
  //  background: @scheme2_primary;
  //}

  #search {
    border-color: @scheme2_accent;
  }

  #search-result {
    background: @scheme2_primary;
    color: @scheme2_accent;
    border-color: @scheme2_accent;
  }

  .stability {
    #search-result {
      background-color: @scheme2_light;
    }
  }

  //Breadcrumbs
  .bread_item {
    background: @scheme2_secondary;
    color: @scheme2_primary;
    &.bread_last {
      color: #fff !important;
    }
  }
  &.striped, &.stability {
    .bread_item {
      color: @scheme2_light;
    }
  }

  //Startseite: Auswahl Kategorie
  .nav_kategorie_item {
    color: #fff;
    &.active {
      color: @scheme2_accent;
    }
    &:hover, &:focus {
      background: @scheme2_btn_hover;
    }
  }

  //Startseite: Startscreen
  .hover_shoes,
  .hover_apparel {
    color: @startbild_textcolor;
    &::before {
      background: @scheme2_primary;
    }
  }

  //Startseite: Auswahl Typ
  .nav_typ_item {
    color: @scheme2_secondary;
    &.active {
      color: @scheme2_primary;
      .nav_typ_item_inner {
        background: @scheme2_secondary;
      }
    }
  }

  //Overview Shoes
  .selector_item {
    span {
      color: @scheme2_secondary;
    }
    &.active {
      span {
        color: #fff;
      }
      &.structured-cushioning {
        span {
          .textStroke(@asics_blue);
        }
      }
    }
  }

  .product-box {
    color: @scheme2_secondary;
    a::before {
      background: @scheme2_primary;
    }
  }
  &.striped {
    .product-box a::before {
      background: @scheme2_light;
    }
  }

  //Overview Technologies
  .tech-box {
    background-color: @scheme2_primary;
  }

  //Detailseite Shoes

  .product_description {
    color: @scheme2_secondary;
  }

  .info-btn {
    background: @scheme2_secondary;
    color: @scheme2_primary;
  }
  &.stability .info-btn {
    color: @scheme2_light;
  }

  .menu-point {
    color: @scheme2_secondary;
  }

  .gender_select {

    .men_label, .women_label, .men_icon, .women_icon {
      background: @scheme2_secondary;
      color: @scheme2_primary;
    }

    .men_icon, .women_icon {
      path {
        fill: @scheme2_primary;
      }
    }

    &.men {
      .men_label, .men_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

    &.women {
      .women_label, .women_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

  }

  &.stability {

    .gender_select {

      .men_label, .women_label, .men_icon, .women_icon {
        color: @scheme2_light;
      }

      .men_icon, .women_icon {
        path {
          fill: @scheme2_light;
        }
      }

      &.men {
        .men_label, .men_icon {
          color: #fff;
          path {
            fill: #fff;
          }
        }
      }

      &.women {
        .women_label, .women_icon {
          color: #fff;
          path {
            fill: #fff;
          }
        }
      }

    }

  }

  .technologies_headline, .features_headline, .detail_auf, .detail_zu {
    background: @scheme2_secondary;
    color: #fff;
    &.active {
      color: @scheme2_primary;
    }
  }

  &.stability {
    .technologies_headline, .features_headline, .detail_auf, .detail_zu {
      &.active {
        color: @scheme2_light;
      }
    }
  }

  .technologies_list {
    li {
      h2 {
        color: #fff;
      }
      p {
        color: @scheme2_secondary;
      }
    }
  }

  .feature_value {
    color: @scheme2_secondary;
  }

}