@import "../imports/new_vars";

/////scheme10 Wellness

.nav_programm_item {

  &.scheme_10 {
    .holder_name {
      color: @asics_lightgreen;
    }
    .btn_programm, .btn_konzept {
      color: @asics_lightgreen;
      background: @asics_purple;
    }
    .overlay_konzept {
      color: @asics_lightgreen;
      background: fade(@asics_purple, 90%);
    }
    .overlay_konzept_close .close b {
      background: @asics_lightgreen;
    }
  }

}

.body_scheme.scheme_10 {

  background-color: @scheme10_primary;

  .page_content {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &.page_type_overview, &.page_type_tech_overview {
    .page_content {
      background-image: url(images/global/scheme10/scheme10_overview.png);
      background-position: center bottom;
    }
  }

  &.page_type_product, &.page_type_tech {
    .page_content {
      background-image: url(images/global/scheme10/scheme10_detail.png);
      background-position: right bottom;
      .inner_wrapper {
        background-color: @scheme10_primary;
      }
    }
  }

  //Overlay
  .big_content {
    background: @scheme10_primary;
  }

  //Topbar, Footer

  .footer_wrapper {
    color: @scheme10_accent;
    background-color: fade(@scheme10_primary, 60%);
    .inner_wrapper {
      background: transparent !important;
    }
  }

  .topbar_svg, .footer_svg {
    path, rect {
      fill: @scheme10_accent;
    }
  }

  .topnav_btn {
    &:hover, &:focus {
      background: @scheme10_btn_hover;
    }
  }

  .topnav_search_icon {
    background-image: url(images/Navigation/Suchicon_default.png);
  }

  .topnav_search_close {
    b {
      background: @scheme10_accent;
    }
  }

  .topnav_icon_facebook {
    background-image: url(images/Navigation/Facebook_default.png);
  }

  //Suchfeld

  .topnav_search {
    background: @scheme10_primary;
  }

  #search {
    border-color: @scheme10_accent;
  }

  #search-result {
    background: @scheme10_primary;
    color: @scheme10_accent;
    border-color: @scheme10_accent;
  }

  //Breadcrumbs
  .bread_item {

    background: @scheme10_secondary;
    color: @scheme10_primary;

    &.bread_last {
      color: @asics_blue;
    }

  }

  //Startseite: Auswahl Kategorie
  .nav_kategorie_item {
    color: #fff;
    &.active {
      color: @scheme10_accent;
    }
    &:hover, &:focus {
      background: @scheme10_btn_hover;
    }
  }

  //Startseite: Startscreen
  .hover_shoes,
  .hover_apparel {
    color: @startbild_textcolor;
    &::before {
      background: @scheme10_primary;
    }
  }

  //Startseite: Auswahl Typ
  .nav_typ_item {
    color: @scheme10_secondary;
    &.active {
      color: @scheme10_primary;
      .nav_typ_item_inner {
        background: @scheme10_secondary;
      }
    }
  }

  //Overview Shoes
  .selector_item {
    span {
      color: @scheme10_secondary;
    }
    &.active {
      span {
        color: #fff;
      }
    }
  }

  .product-box {
    color: @asics_blue;
  }

  //Overview Technologies
  .tech-box {
    background-color: @scheme10_primary;
  }

  //Detailseite Shoes

  .product_description {
    color: @asics_blue;
  }

  .info-btn {
    background: @scheme10_secondary;
    color: @scheme10_primary;
  }

  .menu-point {
    color: @asics_blue;
  }

  .gender_select {

    .men_label, .women_label, .men_icon, .women_icon {
      background: @scheme10_secondary;
      color: @scheme10_primary;
    }

    .men_icon, .women_icon {
      path {
        fill: @scheme10_primary;
      }
    }

    &.men {
      .men_label, .men_icon {
        color: @asics_blue;
        path {
          fill: @asics_blue;
        }
      }
    }

    &.women {
      .women_label, .women_icon {
        color: @asics_blue;
        path {
          fill: @asics_blue;
        }
      }
    }

  }

  .technologies_headline, .features_headline, .detail_auf, .detail_zu {

    background: @scheme10_secondary;
    color: @asics_blue;

  }

  .technologies_list {

    li {

      h2 {
        color: #fff;
      }

      p {
        color: @asics_blue;
      }

    }

  }

  .feature_value {
    color: @asics_blue;
  }

}