@import "../imports/new_vars";

/////scheme12 Multicourt

.nav_programm_item {

  &.scheme_12 {
    .holder_name {
      color: @asics_purple;
    }
    .btn_programm, .btn_konzept {
      color: @asics_purple;
      background: @asics_darkorange;
    }
    .overlay_konzept {
      color: @asics_purple;
      background: fade(@asics_darkorange, 90%);
    }
    .overlay_konzept_close .close b {
      background: @asics_purple;
    }
  }

}

.body_scheme.scheme_12 {

  background-color: @scheme12_primary;

  &.page_type_overview, &.page_type_tech_overview {
    .site_wrapper {
      background-image: url(images/global/scheme12/scheme12_overview.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }

  &.page_type_product, &.page_type_tech {
    .site_wrapper {
      background-image: url(images/global/scheme12/scheme12_detail_top.png), url(images/global/scheme12/scheme12_detail_bottom.png);
      background-position: left top, right bottom;
      background-repeat: no-repeat;
      background-attachment: fixed;
      .inner_wrapper {
        background-color: @scheme12_primary;
      }
    }
  }

  //Overlay
  .big_content {
    background: @scheme12_primary;
  }

  //Topbar, Footer

  .footer_wrapper {
    color: @scheme12_accent;
    background-color: fade(@scheme12_primary, 60%);
    .inner_wrapper {
      background: transparent !important;
    }
  }

  .topbar_svg, .footer_svg {
    path, rect {
      fill: @scheme12_accent;
    }
  }

  .topnav_btn {
    &:hover, &:focus {
      background: @scheme12_btn_hover;
    }
  }

  .topnav_search_icon {
    background-image: url(images/Navigation/Suchicon_purple.png);
  }

  .topnav_search_close {
    b {
      background: @scheme12_accent;
    }
  }

  .topnav_icon_facebook {
    background-image: url(images/Navigation/Facebook_purple.png);
  }

  //Suchfeld

  .topnav_search {
    background: @scheme12_primary;
  }

  #search {
    border-color: @scheme12_accent;
  }

  #search-result {
    background: @scheme12_primary;
    color: @scheme12_accent;
    border-color: @scheme12_accent;
  }

  //Breadcrumbs
  .bread_item {

    background: @scheme12_secondary;
    color: @scheme12_primary;

    &.bread_last {
      color: #fff;
    }

  }

  //Startseite: Auswahl Kategorie
  .nav_kategorie_item {
    color: #fff;
    &.active {
      color: @scheme12_accent;
    }
    &:hover, &:focus {
      background: @scheme12_btn_hover;
    }
  }

  //Startseite: Startscreen
  .hover_shoes,
  .hover_apparel {
    color: @startbild_textcolor;
    &::before {
      background: @scheme12_primary;
    }
  }

  //Startseite: Auswahl Typ
  .nav_typ_item {
    color: @scheme12_secondary;
    &.active {
      color: @scheme12_primary;
      .nav_typ_item_inner {
        background: @scheme12_secondary;
      }
    }
  }

  //Overview Shoes
  .selector_item {
    span {
      color: @scheme12_secondary;
    }
    &.active {
      span {
        color: #fff;
      }
    }
  }

  .product-box {
    color: @scheme12_secondary;
  }

  //Overview Technologies
  .tech-box {
    background-color: @scheme12_primary;
  }

  //Detailseite Shoes

  .product_description {
    color: @asics_blue;
  }

  .info-btn {
    background: @scheme12_secondary;
    color: @scheme12_primary;
  }

  .menu-point {
    color: @asics_blue;
  }

  .gender_select {

    .men_label, .women_label, .men_icon, .women_icon {
      background: @scheme12_secondary;
      color: @scheme12_primary;
    }

    .men_icon, .women_icon {
      path {
        fill: @scheme12_primary;
      }
    }

    &.men {
      .men_label, .men_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

    &.women {
      .women_label, .women_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

  }

  .technologies_headline, .features_headline, .detail_auf, .detail_zu {

    background: @scheme12_secondary;
    color: #fff;

    &.active {
      color: @scheme12_primary;
    }

  }

  .technologies_list {

    li {

      h2 {
        color: #fff;
      }

      p {
        color: @asics_blue;
      }

    }

  }

  .feature_value {
    color: @asics_blue;
  }

}