@import "../../../style/imports/new_vars.less";
@import "../../../style/imports/mixins.less";

.page_type_tech_overview {

  .page_content {
	padding: 56px 0 244px 0;
	padding: 56/@px 0 244/@px 0;
  }

  .products-inner {
	text-align: center;
  }

  .selector {
	margin: 32px 0 56px 0;
	margin: 32/@px 0 56/@px 0;
	text-align: center;
  }

  .selector_item {

	display: inline-block;
	cursor: pointer;
	margin: 0 -25px;
	margin: 0 -25/@px;
	white-space: nowrap;

	span {

	  position: relative;
	  display: block;
	  margin: 0 70px;
	  margin: 0 70/@px;
	  background: #000;
	  line-height: 33px;
	  line-height: 33/@px;
	  .font_opensans;
	  font-size: 16px;
	  font-size: 16/@px;
	  font-weight: bold;
	  text-transform: uppercase;
	  transition: background-color @transition_duration;

	  &:before, &:after {

		content: "";
		position: absolute;
		display: block;
		width: 70px;
		width: 70/@px;
		height: 33px;
		height: 33/@px;
		background: inherit;
		top: 0;
		z-index: -1;
		transform: skewX(-58deg);

	  }

	  &:before {
		transform-origin: 0 100%;
		left: -70px;
		left: -70/@px;
	  }

	  &:after {
		transform-origin: 0 0;
		right: -70px;
		right: -70/@px;
	  }

	}

  }

  .wrapper_product_list {
	//margin-top: 56px;
  }

  .tech-divider {
	display: none;
	&:nth-of-type(2n) {
	  display: block;
	}
  }

  .tech-box {

	display: inline-block;
	position: relative;
	width: 290px;
	width: 290/@px;
	margin: 0 8px;
	margin: 0 8/@px;
	margin-bottom: 56px;
	margin-bottom: 56/@px;
	height: 220px;
	height: 220/@px;
	vertical-align: top;
	.font_opensans;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	overflow: hidden;

	//&::before, &::after {
	//
	//  content: "";
	//  position: absolute;
	//  display: block;
	//  width: 70px;
	//  width: 70/@px;
	//  height: 40px;
	//  height: 40/@px;
	//  background-color: inherit;
	//  top: 0;
	//  transform: skewX(-58deg);
	//
	//}
	//
	//&:before {
	//  transform-origin: 0 100%;
	//  left: -70px;
	//  left: -70/@px;
	//  top: 43px;
	//  top: 43/@px;
	//  width: 90px;
	//  width: 90/@px;
	//}
	//
	//&:after {
	//  transform-origin: 0 0;
	//  right: -80px;
	//  right: -80/@px;
	//  top: 148px;
	//  top: 148/@px;
	//}

	a {

	  display: block;
	  text-decoration: none;
	  width: 100%;
	  height: 100%;
	  position: relative;
	  color: inherit;
	  overflow: hidden;

	  &:hover, &:focus {

		.show-p {
		  i {
			transform: scale(1.5);
		  }
		}

	  }

	}

	.p-name {

	  font-size: 20px;
	  font-size: 20/@px;
	  line-height: 24px;
	  line-height: 24/@px;
	  //white-space: nowrap;
	  overflow: hidden;
	  text-align: left;
	  padding: 0 16px;
	  padding: 0 16/@px;
	  padding-top: 16px;
	  padding-top: 16/@px;
	  text-overflow: ellipsis;

	  [lang="ar"] & {
		text-align: right;
		right: 0;
		left: auto;
	  }

	}

	.p-thumb-container {
	  width: 85%;
	  margin: 16px auto 0 auto;
	}

	.p-thumb {
	  display: block;
	  width: 100%;
	  height: auto;
	  margin: 0 auto;
	  margin-left: 5px;
	  margin-left: 5/@px;
	}

	.show-p {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  padding: 0 16px;
	  padding: 0 16/@px;
	  padding-bottom: 8px;
	  padding-bottom: 8/@px;
	  font-size: 20px;
	  font-size: 20/@px;
	  text-align: left;
	  i {
		transition: transform @transition_duration;
		//backface-visibility: hidden;
	  }
	}

	.icon_female, .icon_male {
	  position: absolute;
	  background: #fff;
	  opacity: 1;
	}

	.icon_female {
	  right: 12px;
	  right: 12/@px;
	  bottom: 7px;
	  bottom: 7/@px;
	  width: 19px;
	  width: 19/@px;
	  height: 23px;
	  height: 23/@px;
	}

	.icon_male {
	  right: 32px;
	  right: 32/@px;
	  bottom: 7px;
	  bottom: 7/@px;
	  width: 22px;
	  width: 22/@px;
	  height: 23px;
	  height: 23/@px;
	}

	&.male {
	  .icon_male {
		opacity: 0;
	  }
	}

	&.female {
	  .icon_female {
		opacity: 0;
	  }
	}

  }

  &.vp0x640 {
	.selector {

	  margin: 0 0 112px 0;
	  margin: 0 0 112/@px 0;
	  text-align: left;

	}
	.selector_item {

	  display: block;
	  margin: 0;

	  span {

		line-height: 36px;
		line-height: 36/@px;
		font-size: 19px;
		font-size: 19/@px;

	  }

	}
	.products-inner {

	  margin-left: -4px;
	  margin-left: -4/@px;
	  white-space: nowrap;

	}
	.tech-box {

	  margin: 0 8px;
	  margin: 0 8/@px;
	  margin-bottom: 23px;
	  margin-bottom: 23/@px;
	  width: 281px;
	  width: 281/@px;
	  height: 213px;
	  height: 213/@px;

	}
  }
}