@import "../../../style/imports/new_vars.less";
@import "../../../style/imports/mixins.less";

.page_type_overview {

  @innerWidth: 903;

  .page_content {
    padding: 56/@px 0 244/@px 0;
  }

  .products-inner, .selector {
    .flex-display();
    .flex-wrap(wrap);
    max-width: @innerWidth/@px;
    margin: 0 auto;
  }

  .products-inner {
    .justify-content(space-between);
  }

  .selector {
    margin-bottom: 66/@px;
  }
  .selector_item {

    display: block;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;

    .flex-shrink(0);
    .flex-grow(0);
    .flex-basis(33%);

    &.active {
      color: #fff;
    }

    span {

      display: block;
      line-height: 33/@px;
      font-size: 20/@px;
      text-transform: uppercase;

    }

  }
  .wrapper_product_list {
    margin-top: 56/@px;
  }

  .product-divider {
  }

  .product-box {

    display: block;

    .flex-shrink(0);
    .flex-grow(0);
    .flex-basis(33%);

    margin-bottom: 56/@px;

    a {

      .font_opensans;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;

      display: block;
      position: relative;
      z-index: 1;

      width: 290/@px;
      height: 220/@px;

      //background-image: url(images/Overview/product_bg.png);
      //background-repeat: no-repeat;
      //background-size: 100% 100%;

      &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
      }

      &::after {
        left: 0;
        top: 0;
        background-image: url(images/Overview/product_bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      &::before {
        right: 0;
        bottom: 0;
        width: 20%;
        height: 15%;
        background: transparent;
      }

      &:hover, &:focus {
        .show-p {
          i {
            transform: scale(1.5);
          }
        }
      }
    }
    .p-name {

      font-size: 20/@px;
      text-align: left;
      padding: 0 16/@px;
      width: 80%;
      position: absolute;
      left: 0;
      top: 16/@px;
      white-space: normal;

      [lang="ar"] & {
        text-align: right;
        right: 0;
        left: auto;
      }

    }
    .p-thumb-container {

      width: 85%;
      margin: 0 auto;
      padding-top: 58/@px;

    }
    .p-thumb {

      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;

    }
    .show-p {

      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 16/@px;
      padding-bottom: 8/@px;
      font-size: 20/@px;
      text-align: left;

      i {

        transition: transform @transition_duration;

      }
    }
    .icon_female, .icon_male {

      position: absolute;
      background: #fff;
      opacity: 1;

    }
    .icon_female {

      right: 12/@px;
      bottom: 7/@px;
      width: 19/@px;
      height: 23/@px;

    }
    .icon_male {

      right: 32/@px;
      bottom: 7/@px;
      width: 22/@px;
      height: 23/@px;

    }
    &.male {
      .icon_male {

        opacity: 0;

      }
    }
    &.female {
      .icon_female {

        opacity: 0;

      }
    }
  }
  &.vp0x960 {
    .selector_item {
      .flex-basis(50%);
    }
    .product-box {
      .flex-basis(50%);
    }
  }
  &.vp0x640 {
    .selector {

      margin: 0 0 112/@px 0;

    }
    .selector_item {

      .flex-basis(50%);

      span {

        line-height: 36/@px;
        font-size: 19/@px;

      }

    }
    .products-inner {

      margin-left: -4/@px;
      white-space: nowrap;

    }
    .product-box {

      margin-bottom: 23/@px;
      .flex-basis(50%);

    }
    .product-divider {
      &:nth-of-type(3n) {

        display: none;

      }
      &:nth-of-type(2n) {

        display: block;

      }
    }
  }
}