@import "../../../style/imports/new_vars";
@import "../../../style/imports/mixins";

/**
Styling Headerleiste
 */

.topbar_inner {

  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 0 76px 0 44px;
  padding: 0 unit(76/1050*100, ~"%") 0 unit(44/1050*100, ~"%");

  .vp0x960 & {
	padding: 0 unit(44/1050*100, ~"%") 0 unit(44/1050*100, ~"%");
  }

}

.topbar_left,
.topbar_right {
  display: table-cell;
  vertical-align: middle;
}

.topbar_left {
  width: 1%;
}

.topbar_right {
  text-align: right;
  font-size: 0px;
}

.topbar_logo {
  display: block;
  // margin: 0 0 0 44px;
  svg {
	height: 50px;
	height: 50/@px;
  }
}

.topbar_nav {
  white-space: nowrap;
  //margin-right: 152px;
}

.topnav_item {
  display: inline-block;
  vertical-align: middle;
  padding: 22px 0;
  padding: 22/@px 0;

  &.burger {
	margin: 0 32px 0 16px;
	margin: 0 32/@px 0 16/@px;
  }

}

.topnav_btn {
  display: table-cell;
  width: 46px;
  width: 46/@px;
  min-width: 46px;
  min-width: 46/@px;
  height: 46px;
  height: 46/@px;
  min-height: 46px;
  min-height: 46/@px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.topnav_icon {
  display: inline-block;
}

.topnav_icon_instagram {
  width: 28px;
  width: 28/@px;
  height: 28px;
  height: 28/@px;
}

.topnav_icon_burger {
  width: 37px;
  width: 37/@px;
  height: 21px;
  height: 21/@px;
}

.topnav_search_icon {
  width: 29px;
  width: 29/@px;
  height: 29px;
  height: 29/@px;
  background-size: 100% 100%;
}

.topnav_icon_facebook {
  width: 28px;
  width: 28/@px;
  height: 28px;
  height: 28/@px;
  background-size: 100% 100%;
}

.vp0x640 {

  .topnav_item.burger {
	margin-right: 0;
	margin-left: 8px;
	margin-left: 8/@px;
  }

  .topbar_inner {
	padding: 0;
  }

}

/**
Styling Sidebar
 */

.sidebar_holder {
  position: relative;
}

.sidebar_wrapper {
  position: absolute !important;
  display: none;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 98;
  border-left: 3px solid #fff;
  border-width: 3/@px;
  width: 100%;
  max-width: 562px;
  max-width: 562/@px;
}

.sidebar_top {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.sidebar_top_inner {
  display: table;
  width: 100%;
}

.sidebar_top_cell {
  height: 88px;
  height: 88/@px;
  width: 41.75%;
  display: table-cell;
  vertical-align: middle;
  &.lang {
	text-align: center;
  }
  &.season {
	text-align: center;
  }
  &.closebtn {
	text-align: right;
	width: 16.5%;
  }
}

.sidebar_close_holder {
  display: inline-block;
}

.sidebar_close {
  display: inline-block;
  width: 50px;
  width: 50/@px;
  text-align: center;
  margin-right: 32px;
  margin-right: 32/@px;
  .close {
	width: 25px;
	width: 25/@px;
	height: 25px;
	height: 25/@px;
  }
}

.sidebar_content {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 88px;
  margin-top: 88/@px;
  width: 100%;
  z-index: 1;
  background: inherit;
  text-align: left;
}

.sidebar_section {

  background-image: url('../../../images/Navigation/rhomb/sidebar_rhomb_white.png');
  background-size: 53px 27px;
  background-size: 53/@px 27/@px;
  background-repeat: no-repeat;

  &.active {
	.sidebar_kategorie {
	  color: #fff;
	}
  }

}

.sidebar_kategorie_holder {
  padding-left: 65px;
  padding-left: 65/@px;
}

.sidebar_kategorie {
  color: #999;
  font-size: 22px;
  font-size: 22/@px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: -.2em;
}

.sidebar_programme {
  padding-left: 65px;
  padding-left: unit(65/562*100, ~"%");
  padding-right: 75px;
  padding-right: unit(75/562*100, ~"%");
}

.sidebar_programme_list {

  text-transform: uppercase;
  margin: 16px 0 64px 0;
  margin: 16/@px 0 64/@px 0;

}

.sidebar_programm {
  float: left;
  width: 50%;
  margin: 4px 0;
  margin: 4/@px 0;
}

.sidebar_programm_link {

  position: relative;
  color: #999;
  display: inline-block;
  font-size: 0;
  max-width: 100%;

  &.active {
	// color: #fff;
  }

  &:hover, &:focus {
	span {
	  i {
		transform: scale(1.5);
	  }
	}
  }

}

.sidebar_programm_text {

  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-size: 24/@px;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  i {
	transition-property: transform;
	transition-duration: @transition_duration;
	backface-visibility: hidden;
  }

}

.lang_list {

  font-family: "Open Sans";
  font-size: 20px;
  font-size: 20/@px;
  height: 40px;
  height: 40/@px;
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 100px;
  max-width: 100/@px;
  margin: 0 auto;
  white-space: nowrap;

  &.disabled {

	opacity: .5;
	pointer-events: none;

  }

  &[tabindex="0"] {

	display: none;

  }

  &:not(.open) {
	.is_option {

	  width: 0;
	  height: 0;
	  overflow: hidden;

	}
  }

  .lang_item {

	display: block;
	cursor: pointer;
	outline: none;
	position: relative;

	.lang_item_holder {
	  &:before, &:after {

		content: "";
		position: absolute;
		display: block;
		width: 20px;
		width: 20/@px;
		height: 40px;
		height: 40/@px;
		background: inherit;
		top: 0;
		z-index: -1;

	  }
	}

	&:nth-child(odd) {

	  .lang_item_holder {

		&:before, &:after {
		  transform: skewX(-27deg);
		}

		&:before {
		  transform-origin: 0 100%;
		  left: -20px;
		  left: -20/@px;
		}

		&:after {
		  transform-origin: 0 0;
		  right: -20px;
		  right: -20/@px;
		}

	  }

	}

	&:nth-child(even) {

	  .lang_item_holder {

		&:before, &:after {
		  transform: skewX(27deg);
		}

		&:before {
		  transform-origin: 0 0;
		  left: -20px;
		  left: -20/@px;
		}

		&:after {
		  transform-origin: 0 100%;
		  right: -20px;
		  right: -20/@px;
		}

	  }

	}

	&.is_option:nth-child(odd) {

	  left: 20px;
	  left: 20/@px;
	  margin: 5px 0;
	  margin: 5/@px 0;

	}

	&.is_option:nth-child(even) {

	  left: -20px;
	  left: -20/@px;
	  margin: 5px 0;
	  margin: 5/@px 0;

	}

	.lang_item_link {

	  display: block;
	  text-decoration: none;

	}

	.lang_item_holder {

	  display: block;
	  text-align: center;
	  position: relative;
	  height: 40px;
	  height: 40/@px;
	  line-height: 40px;
	  line-height: 40/@px;

	  span {

		vertical-align: middle;

	  }

	}

  }

  .country_flag {

	display: inline-block;
	width: 18px;
	width: 18/@px;
	height: 12px;
	height: 12/@px;
	padding: 2px;
	padding: 2/@px;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;

  }

  .lang_text {

	display: inline-block;
	text-transform: uppercase;

  }

}

&.vp0x480 {

  .sidebar_section {
	background-size: 53px 31px;
	background-size: 53/@px 31/@px;
  }

  .sidebar_programme {
	padding-left: 65/2px;
	padding-left: unit(65/2/562*100, ~"%");
	padding-right: 75/2px;
	padding-right: unit(75/2/562*100, ~"%");
  }

  .sidebar_kategorie_holder {
	padding-left: 65/2px;
	padding-left: 65/@px;
  }

  .sidebar_kategorie {
	font-size: 11px;
	font-size: 22/@px;
  }

  .sidebar_programm_text {
	font-size: 12px;
	font-size: 24/@px;
  }

  .sidebar_programme_list {
	margin: 16px 0 64px 0;
	margin: 16/@px 0 64/@px 0;
  }

}

/**
Styling Breadcrumbs
 */

.breadcrumbs {

  font-weight: bold;
  font-size: 18px;
  font-size: 18/@px;
  line-height: 40px;
  line-height: 40/@px;
  text-transform: uppercase;
  //white-space: nowrap;

  .inner_wrapper {

	padding: 0;
	padding-top: 14px;
	padding-top: 14/@px;

  }

}

.bread_inner {

  margin: 0 0 0 -35px;
  margin: 0 0 0 -35/@px;

}

.bread_item {

  display: inline-block;
  position: relative;
  z-index: 1;
  background: @scheme0_secondary;
  color: @scheme0_primary;
  margin: 4px 75px 4px 0;
  margin: 4/@px 75/@px 4/@px 0;

  text-align: center;
  height: 40px;
  height: 40/@px;

  &.bread_last {
	color: #fff;
  }

  > span, > a {

	height: 40px;
	height: 40/@px;
	padding: 0 35px;
	padding: 0 35/@px;
	.fixRemTransformRender();
	background: inherit;

  }

  span {

	display: inline-block;

	i {

	  font-size: 1.25em;
	  vertical-align: text-bottom;
	  transition: transform @transition_duration;

	}

  }

  a {

	display: inline-block;
	color: inherit;
	text-decoration: none;
	position: relative;

	&:hover, &:focus {

	  span i {

		transform: scale(1.5);

	  }

	}

  }

  &:before, &:after {

	content: "";
	position: absolute;
	display: block;
	width: 70px;
	width: 70/@px;
	height: 40px;
	height: 40/@px;
	background: inherit;
	top: 0;
	z-index: -1;
	transform: skewX(-58deg);

  }

  &:before {

	transform-origin: 0 100%;
	left: -64px;
	left: -64/@px;

  }

  &:after {

	transform-origin: 0 0;
	right: -64px;
	right: -64/@px;

  }

}

.bread_item.bread_category {
}

.bread_item.bread_program {
}

.vp0x1280 {
  .bread_inner {

	margin: 0 0 0 27px;
	margin: 0 0 0 27/@px;

  }
}

.vp0x640 {
  .breadcrumbs {

	font-size: 17px;
	font-size: 17/@px;
	line-height: 38px;
	line-height: 38/@px;

	.inner_wrapper {

	  padding-top: 53px;
	  padding-top: 53/@px;

	}

  }
  .bread_inner {

	margin: 0 0 0 27px;
	margin: 0 0 0 27/@px;

  }
  .bread_item {

	margin-right: 71px;
	margin-right: 71/@px;
	height: 38px;
	height: 38/@px;

	> span, > a {

	  padding: 0 30px;
	  padding: 0 30/@px;
	  height: 38px;
	  height: 38/@px;

	}

	&::before, &::after {

	  width: 66px;
	  width: 66/@px;
	  height: 38px;
	  height: 38/@px;

	}
	&::before {

	  left: -61px;
	  left: -61/@px;

	}
	&::after {

	  right: -61px;
	  right: -61/@px;

	}
  }
}

/**
Styling Suche
 */

#search {

  position: relative;
  z-index: 10;

  border-left: 2px solid #fff;
  border-left: 2/@px solid #fff;
  border-right: 4px solid #fff;
  border-right: 4/@px solid #fff;

  margin: 0 16px 0 49px;
  margin: 0 16/@px 0 49/@px;

  &:not([active=true]) {

  }

  &[active=true] {
	.topnav_btn_search {
	  &:hover, &:focus {
		background: none;
	  }
	}

  }

  &.interact {
  }

  .vp0x960 & {

	margin-left: 24px;
	margin-left: 24/@px;

  }

}

.topnav_btn_search {
  position: relative;
}

#search-submit {
  display: none;
}

.search_cell {
  display: table-cell;
  vertical-align: middle;
}

.search_btn {
  position: relative;
  overflow: hidden;
}

.search_padding {
  padding: 0 20px;
  padding: 0 20/@px;
}

.search_form_ani {
  width: 0;
  overflow: hidden;
}

.search_form_wrapper {
  width: auto;
  &.hide {
	display: none;
  }
  &.visible {
	display: table-cell;
  }
  .search_padding {
	padding: 0 32px;
	padding: 0 32/@px;
  }
}

.search_form_cell {
  display: table-cell;
  vertical-align: middle;
  padding-right: 16px;
  padding-right: 16/@px;
  &:last-child {
	padding-right: 0;
  }
}

.search_input_wrapper {
  position: relative;
  margin: 0 54px;
  margin: 0 54/@px;
  display: inline-block;
  vertical-align: middle;
  &:before, &:after {
	content: "";
	position: absolute;
	display: block;
	width: 54px;
	width: 54/@px;
	height: 33px;
	height: 33/@px;
	background: #fff;
	top: 0;
	transform: skewX(-58deg);
	z-index: -1;
  }
  &:before {
	transform-origin: 0 100%;
	left: -54px;
	left: -54/@px;
  }
  &:after {
	transform-origin: 0 0;
	right: -54px;
	right: -54/@px;
  }
}

.topnav_btn_close {

}

.topnav_search_close {
  display: inline-block;
  width: 25px;
  width: 25/@px;
  height: 25px;
  height: 25/@px;
  background-size: 100% 100%;
  vertical-align: middle;
}

#search-input {

  outline: none;
  border: none;
  font-size: 13px;
  font-size: 13/@px;
  height: 33px;
  height: 33/@px;
  color: @input_color;

  .appearance();

  &::placeholder {
	color: gray;
  }

}

#search-result {
  position: absolute;
  right: 0;
  top: 100%;
  border-color: #fff;
  //Erhöhe Breite mit negativem Margin, um mit Border des Suchfeldes übereinzustimmen
  width: auto;
  margin-left: -2px;
  margin-left: -2/@px;
  margin-right: -4px;
  margin-right: -4/@px;
}

.search-result-item {

  border-width: 0 4px 2px 2px;
  border-width: 0 4/@px 2/@px 2/@px;
  border-style: solid;
  border-color: inherit;
  &:first-child {
	border-top-width: 2px;
	border-top-width: 2/@px;
  }

  width: 100%;
  padding: 2px;
  padding: 2/@px;
  text-align: left;

  a {
	display: block;
	padding: 0.5rem;
	color: inherit;
	.font_opensans;
	text-decoration: none;
  }

}

.search-result-img, .search-result-name {
  display: table-cell;
  vertical-align: middle;
}

.search-result-img {
  width: 35%;
  max-width: 35%;
  padding-right: 1rem;
  img {
	max-width: 100%;
  }
}

.search-result-name {
  width: 65%;
  max-width: 65%;
  font-size: 1rem;
  font-weight: bold;
}