@base: 16;
@px: unit(@base, rem); //Divisor to transform px values to rem
@transition_duration: 250ms;

//Basic colors
//Nur in Ausnahmefällen direkt verwenden!

@asics_blue: #001e62;
@asics_skyblue: #00bbdc;
@asics_lightblue: #40b7ed;
@asics_matblue: #79d6e5;

@asics_lightgreen: #d0df00;
@asics_green: #00b398;
@asics_matgreen: #88e7df;

@asics_coral: #f8485e;
@asics_orangered: #ff4800;
@asics_darkorange: #ff8500;
@asics_orange: #ffa300;
@asics_lightorange: #ffcb00;

@asics_purple: #9b26b6;

//Global colors
@input_color: @asics_blue;
@startbild_textcolor: @asics_skyblue;

//Global Sidebar colors
@sidebar_running: @asics_lightblue;
@sidebar_indoor: @asics_orange;
@sidebar_training: @asics_purple;
@sidebar_tennis: @asics_coral;
@sidebar_tech: @asics_lightblue;

/*
scheme_0: Scheme 0 (Default)
scheme_1: Scheme 1 (Running/Easy)
scheme_2: Scheme 2 (Running/Road)
scheme_3: Scheme 3 (Running/Fast)
scheme_4: Scheme 4 (Running/Trail)
scheme_5: Scheme 5 (Running/Technology)
scheme_6: Scheme 6 (Running/Apparel)
scheme_7: Scheme 7 (Tennis/Speed)
scheme_8: Scheme 8 (Tennis/Stability)
scheme_9: Scheme 9 (Training/Power)
scheme_10: Scheme 10 (Training/Wellness)
scheme_11: Scheme 11 (Indoor/Handball)
scheme_12: Scheme 12 (Indoor/Multicourt)
scheme_13: Scheme 13 (Indoor/Volleyball)
- scheme_14: Scheme 14 (Indoor/Technology)
 */

//Scheme0 Default
@scheme0_primary: @asics_lightgreen;
@scheme0_secondary: @asics_skyblue;
@scheme0_accent: @asics_blue;
@scheme0_btn_hover: darken(@asics_lightgreen, 5%);

//Scheme1 Easy
@scheme1_primary: @asics_matgreen;
@scheme1_secondary: @asics_blue;
@scheme1_accent: @asics_blue;
@scheme1_btn_hover: darken(@asics_matgreen, 5%);

//Scheme2 Road
@scheme2_primary: @asics_lightblue;
@scheme2_secondary: @asics_blue;
@scheme2_accent: @asics_blue;
@scheme2_btn_hover: darken(@asics_lightblue, 5%);

//Scheme3 Fast
@scheme3_primary: @asics_matblue;
@scheme3_secondary: @asics_blue;
@scheme3_accent: @asics_blue;
@scheme3_btn_hover: darken(@asics_matblue, 5%);

//Scheme4 Trail
@scheme4_primary: @asics_green;
@scheme4_secondary: @asics_blue;
@scheme4_accent: @asics_blue;
@scheme4_btn_hover: darken(@asics_green, 5%);

//Scheme5 Running/Technology
@scheme5_primary: @asics_skyblue;
@scheme5_secondary: @asics_purple;
@scheme5_accent: @asics_purple;
@scheme5_btn_hover: darken(@asics_skyblue, 5%);

//Scheme6 Running/Apparel
@scheme6_primary: @asics_coral;
@scheme6_secondary: @asics_blue;
@scheme6_accent: @asics_blue;
@scheme6_btn_hover: darken(@asics_coral, 5%);

//Scheme7 Speed
@scheme7_primary: @asics_coral;
@scheme7_secondary: @asics_orange;
@scheme7_accent: @asics_orange;
@scheme7_btn_hover: darken(@asics_coral, 5%);

//Scheme8 Stability
@scheme8_primary: @asics_orangered;
@scheme8_secondary: @asics_orange;
@scheme8_accent: @asics_orange;
@scheme8_btn_hover: darken(@asics_orangered, 5%);

//Scheme9 Power
@scheme9_primary: @asics_purple;
@scheme9_secondary: @asics_lightgreen;
@scheme9_accent: @asics_lightgreen;
@scheme9_btn_hover: darken(@asics_purple, 5%);

//Scheme10 Wellness
@scheme10_primary: @asics_purple;
@scheme10_secondary: @asics_lightgreen;
@scheme10_accent: @asics_lightgreen;
@scheme10_btn_hover: darken(@asics_purple, 5%);

//Scheme11 Handball
@scheme11_primary: @asics_lightorange;
@scheme11_secondary: @asics_purple;
@scheme11_accent: @asics_purple;
@scheme11_btn_hover: darken(@asics_lightorange, 5%);

//Scheme12 Multicourt
@scheme12_primary: @asics_darkorange;
@scheme12_secondary: @asics_purple;
@scheme12_accent: @asics_purple;
@scheme12_btn_hover: darken(@asics_darkorange, 5%);

//Scheme13 Volleyball
@scheme13_primary: @asics_orange;
@scheme13_secondary: @asics_purple;
@scheme13_accent: @asics_purple;
@scheme13_btn_hover: darken(@asics_orange, 5%);

