// @imports
@import "imports/reset.less";
@import "imports/mixins.less";
@import "imports/new_vars.less";

/**
* Font Face
 */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('fonts/OpenSans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/OpenSans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/OpenSans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ url('fonts/OpenSans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/OpenSans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/OpenSans/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('fonts/OpenSans/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/OpenSans/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/OpenSans/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */ url('fonts/OpenSans/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/OpenSans/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {

  font-family: "ASICS";
  src: url("fonts/Asics/ASICS-Regular.eot"),
  url("fonts/Asics/ASICS-Regular.woff2") format("woff2"),
  url("fonts/Asics/ASICS-Regular.woff") format("woff"),
  url("fonts/Asics/ASICS-Regular.ttf") format("truetype");

}

@font-face {

  font-family: "ASICS";
  font-weight: bold;
  src: url("fonts/Asics/ASICS-Bold.eot"),
  url("fonts/Asics/ASICS-Bold.woff") format("woff"),
  url("fonts/Asics/ASICSOffice-Bold.ttf") format("truetype");

}

@font-face {

  font-family: "ASICS";
  font-weight: 100;
  src: url("fonts/Asics/ASICS-Light.eot"),
  url("fonts/Asics/ASICS-Light.woff2") format("woff2"),
  url("fonts/Asics/ASICS-Light.ttf") format("truetype");

}

body {

  font-family: "ASICS", "Open Sans", sans-serif;
  font-feature-settings: "kern" on, "liga" on, "calt" on;
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -o-font-feature-settings: "kern" on, "liga" on, "calt" on;

}

strong {
  font-weight: bold;
}

.paragraphs {
  font-weight: bold;
  .font_opensans();
  .has_paragraphs();
  .vp0x640 & {
    font-size: 20/@px;
  }
}

/**
 * Development
 */

.print-debug {

  padding: 25px;
  background: limegreen;
  color: #000;
  font-family: "Lucida Console", Monaco, monospace;
  border: 0 solid aliceblue;
  border-bottom-width: 2px;
  text-shadow: none;

}

.error {

  padding: 25px;
  background: darkred;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  text-shadow: none;

}

/*
 * Clearfix
 */

.clearfix::before,
.clearfix::after {

  content: " ";
  display: table;

}

.clearfix::after {

  clear: both;

}

.clearfix {

  *zoom: 1;

}

/**
Hilfsklassen
 */

.no-trans * {

  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;

}

.hide {

  display: none !important;

}

.noselect {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/**
Main Styles
 */

.arrow {

  height: 0;
  width: 0;
  border: 7px solid transparent;
  border: 7 solid transparent;

}

.arrow.up {

  border-bottom-color: #fff;

}

.arrow.down {

  border-top-color: #fff;

}

.close_ref {
  &:hover {
    .close {

      transform: rotate(180deg);

    }
  }
  &:focus {
    .close {
      b {
        &:nth-child(1) {

          transform: rotate(33deg);

        }
        &:nth-child(2) {

          transform: rotate(-33deg);

        }
      }
    }
  }
}

.close {

  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition-duration: @transition_duration*2;
  transition-property: transform;
  backface-visibility: hidden;

  b {

    display: block;
    width: 133%;
    height: 15%;
    background: #000;
    position: absolute;
    left: -16.5%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    backface-visibility: hidden;

    &:nth-child(1) {

      transform: rotate(45deg);

    }
    &:nth-child(2) {

      transform: rotate(-45deg);

    }
  }
  &:hover {

    transform: rotate(180deg);

  }
  &:focus {

    outline: none;

    b {
      &:nth-child(1) {

        transform: rotate(33deg);

      }
      &:nth-child(2) {

        transform: rotate(-33deg);

      }
    }
  }
}

/**
* Desktop Main
 */

body {

  min-height: 100vh;
  overflow-x: hidden;
  background: #1a1f21;
  color: #fff;

  &.vp0x640 .page_content {

    background-image: none !important;

  }

}

.site_wrapper {

  width: 100%;
  //overflow-x: hidden; verursacht Fehler: Vertikale Scrollbar, wenn Sidebar geöffnet und die Dokumenthöhe geringer ist, als die Fensterhöhe.
  position: relative;

}

.inner_wrapper {

  width: 100%;
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 76px;
  box-sizing: border-box;

}

.vp0x1201 {
  .inner_wrapper {

    padding: 0 unit(76/1202*100, ~"%");

  }
}

.vp641x1050 {
  .inner_wrapper {

    padding: 0 unit(38/1202*100, ~"%");

  }
}

.vp0x640 {
  .inner_wrapper {

    padding: 0 27px;
    padding: 0 27/@px;

  }
}

/**
* Overlay
*/

.prevent_page {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  background: #000;
  opacity: .5;

}

.big_overlay {

  position: absolute;
  z-index: 99;

  .white_1, .white_2 {

    content: "";
    position: absolute;
    display: block;
    background: #fff;
    opacity: .33;
    z-index: -1;
    backface-visibility: hidden;

  }
  .white_2 {

    transform: rotate(8deg);

  }
}

.big_content {

  width: 500px;
  width: 500/@px;
  box-sizing: border-box;
  padding: 50px 40px;
  padding: 50/@px 40/@px;

  [lang="ar"] & {
    text-align: right;
    direction: rtl;
  }

  &[data-farbe=video] {

    padding: 0;
    width: 512px;
    width: 512/@px;

    .big_title {

      display: none;

    }
    .big_beschreibung {

      margin: 0;

      video, iframe {

        width: 512px;
        width: 512/@px;
        display: block;

      }
    }
  }
}

.big_titel {

  .font_opensans;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  font-size: 32/@px;
  text-transform: uppercase;

  span {

    font: inherit;

  }

}

.big_beschreibung {

  .font_opensans;
  font-style: italic;
  font-size: 16px;
  margin-top: 16px;
  margin-top: 16/@px;
  line-height: 24px;
  line-height: 24/@px;

  p {

    font: inherit;

  }

}

.vp0x640 {

  .big_beschreibung {

    font-size: 24px;
    font-size: 24/@px;
    line-height: 36px;
    line-height: 36/@px;

  }

}

.big_close {

  background-image: url("images/overlay_close.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 63px;
  width: 63/@px;
  height: 63px;
  height: 63/@px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

}

/**
* Fade in
*/

body.js {

  display: none;

}

body.ready {

  display: block;

}

/**
* Season Button
 */

.sidebar_wrapper {

  .season_list {

    font-family: "Open Sans";
    font-size: 20px;
    font-size: 20/@px;
    height: 40px;
    height: 40/@px;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    display: inline-block;

    &.disabled {

      opacity: .5;
      pointer-events: none;

    }

  }

  .season_item {

    display: block;
    cursor: pointer;
    outline: none;
    position: relative;

    .season_item_holder {

      &:before, &:after {

        content: "";
        position: absolute;
        display: block;
        width: 20px;
        width: 20/@px;
        height: 40px;
        height: 40/@px;
        background: inherit;
        top: 0;
        z-index: -1;

      }

    }

    &:nth-child(odd) {

      .season_item_holder {

        &:before, &:after {
          transform: skewX(-27deg);
        }

        &:before {
          transform-origin: 0 100%;
          left: -20px;
          left: -20/@px;
        }

        &:after {
          transform-origin: 0 0;
          right: -20px;
          right: -20/@px;
        }

      }

    }

    &:nth-child(even) {

      .season_item_holder {

        &:before, &:after {
          transform: skewX(27deg);
        }

        &:before {
          transform-origin: 0 0;
          left: -20px;
          left: -20/@px;
        }

        &:after {
          transform-origin: 0 100%;
          right: -20px;
          right: -20/@px;
        }

      }

    }

    .season_item_holder {

      display: block;
      text-align: center;
      position: relative;
      height: 40px;
      height: 40/@px;
      line-height: 40px;
      line-height: 40/@px;
      padding: 0 0;

      span {

        vertical-align: middle;

      }

    }

  }

  .season_icon {
    width: 40px;
    width: 40/@px;
    height: 40px;
    height: 40/@px;
    float: left;
    svg {
      width: 100%;
      height: 100%;
      display: block;
      path {
        fill: @scheme0_primary;
      }
    }
  }

  .season_text {

    float: left;
    margin-left: .5em;
    text-transform: uppercase;

  }

}

.header_wrapper {

  .season_toggle_btn {
    font-family: "ASICS";
    font-weight: bold;
    color: #00bbdc;
    background: #001e62;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    min-height: 55px;
    min-height: 55/@px;
    z-index: 1;
  }

  .season_toggle_icon {
    float: left;
    position: relative;
    width: 70px;
    width: 70/@px;
    height: 55px;
    height: 55/@px;
    svg {
      display: block;
      width: 39px;
      width: 39/@px;
      height: 24px;
      height: 24/@px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      path {
        fill: #00bbdc;
      }
    }
  }

  .season_toggle_text {
    display: block;
    float: left;
    padding-left: 7px;
    padding-left: 7/@px;
    padding-right: 15px;
    padding-right: 15/@px;
    padding-top: 13px;
    padding-top: 13/@px;
    padding-bottom: 13px;
    padding-bottom: 13/@px;
    text-transform: uppercase;
  }

  .season_toggle_goto {
    font-size: 12px;
    font-size: 12/@px;
    white-space: nowrap;
  }

  .season_toggle_label {
    font-size: 17px;
    font-size: 17/@px;
    white-space: nowrap;
  }

}