@import "imports/new_vars";


/////Global scheme

//Sidebar

.sidebar_wrapper {
  background: @scheme0_primary;
  border-color: @scheme0_accent;
}

.sidebar_close {
  b {
    background: @scheme0_accent;
  }
  .close_ref {
    &:hover, &:focus {
      background: @scheme0_btn_hover !important;
    }
  }
}

.lang_item {

}

.lang_item_holder {
  background: @scheme0_accent;
  color: @scheme0_primary;
  &:hover, &:focus {
    background: @asics_lightblue;
  }
}

.season_item_holder {
  background: @scheme0_accent;
  color: @scheme0_primary;
  &:hover, &:focus {
    background: @asics_lightblue;
  }
}

.sidebar_section {
  background-image: url('images/Navigation/rhomb/sidebar_rhomb_white.png');
  .sidebar_programm_text i {
    color: #fff;
  }
  .sidebar_programm_link {
    &:hover, &:focus, &.active {
      color: #fff;
    }
  }
  &.running {
    background-image: url('images/Navigation/rhomb/sidebar_rhomb_lightblue.png');
    .sidebar_programm_text i {
      color: @sidebar_running;
    }
    .sidebar_programm_link {
      &:hover, &:focus {
        color: @sidebar_running;
      }
    }
  }
  &.indoor {
    background-image: url('images/Navigation/rhomb/sidebar_rhomb_orange.png');
    .sidebar_programm_text i {
      color: @sidebar_indoor;
    }
    .sidebar_programm_link {
      &:hover, &:focus {
        color: @sidebar_indoor;
      }
    }
  }
  &.training {
    background-image: url('images/Navigation/rhomb/sidebar_rhomb_purple.png');
    .sidebar_programm_text i {
      color: @sidebar_training;
    }
    .sidebar_programm_link {
      &:hover, &:focus {
        color: @sidebar_training;
      }
    }
  }
  &.tennis {
    background-image: url('images/Navigation/rhomb/sidebar_rhomb_red.png');
    .sidebar_programm_text i {
      color: @sidebar_tennis;
    }
    .sidebar_programm_link {
      &:hover, &:focus {
        color: @sidebar_tennis;
      }
    }
  }
  &.technology_highlights {
    background-image: url('images/Navigation/rhomb/sidebar_rhomb_lightblue.png');
    .sidebar_programm_text i {
      color: @sidebar_tech;
    }
    .sidebar_programm_link {
      &:hover, &:focus {
        color: @sidebar_tech;
      }
    }
  }
}

.auswahl_bereich .tech > a {
  color: @asics_lightblue;
}

.tech_container .arrow {
  border-top-color: @asics_lightblue;
}



@import "schemes/scheme0.less";
@import "schemes/scheme1.less";
@import "schemes/scheme2.less";
@import "schemes/scheme3.less";
@import "schemes/scheme4.less";
@import "schemes/scheme5.less";
@import "schemes/scheme6.less";
@import "schemes/scheme7.less";
@import "schemes/scheme8.less";
@import "schemes/scheme9.less";
@import "schemes/scheme10.less";
@import "schemes/scheme11.less";
@import "schemes/scheme12.less";
@import "schemes/scheme13.less";

