@s_color_1: #fff;
@s_background_color_1: rgba(255, 255, 255, 0.2);
@s_background_color_2: rgba(255, 255, 255, 0.11);
@s_background_color_3: rgba(255, 255, 255, 0.02);
@s_background_color_4: rgba(255, 255, 255, 0.1);

.page_type_simple {
  .page_simple {
    background: #101213;
    position: relative;
    overflow: hidden;
    color: @s_color_1;
    &:before {
      width: 100%;
      position: absolute;
      content: '';
      height: 1px;
      background: linear-gradient(to right, #101213, rgba(255, 255, 255, 0.33), #101213);
      z-index: 5;
    }

    .inner_wrapper {
      padding-top: 93px;
      padding-top: 5.8125rem;
      padding-bottom: 352px;
      padding-bottom: 22rem;
      position: relative;
    }
    .top-triangles {
      background-image: url('images/Overview/top/dreieck_top.png');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      position: absolute;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
      top: -1.75rem;
      left: 50%;
      transform: translateX(-55rem);
      width: 28.5625rem;
      height: 14.25rem;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 10.625rem;
        top: 1.75rem;
        width: 14.3125rem;
        height: 7.125rem;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .left-triangles {
      position: absolute;
      left: -27.6875rem;
      bottom: -34.8125rem;
      width: 41.0625rem;
      height: 82.1875rem;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
    }
    .bottom-triangles {
      width: 100%;
      position: absolute;
      height: 14.125rem;
      display: inline-block;
      bottom: 0;
      transform: translateX(-3%);
      img {
        transform: translateY(-60%);
      }
      .triangle {
        position: absolute;
        height: 15.75rem;
        background-color: @s_background_color_1;
        transform: rotate(45deg) translateX(-44%) translateY(42%);
        width: 15.75rem;
        top: 46%;
        left: 50%;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          height: 15.75rem;
          background-color: @s_background_color_2;
          width: 15.75rem;
          left: 3.5rem;
          bottom: 1.5625rem;
          z-index: 1;
        }
        .big-t {
          position: absolute;
          height: 25rem;
          background-color: @s_background_color_3;
          width: 25rem;
          left: 3.5625rem;
          bottom: 3.125rem;
          z-index: 0;
        }
        &:after {
          content: "";
          position: absolute;
          height: 15.75rem;
          background-color: @s_background_color_4;
          width: 15.75rem;
          left: 21.625rem;
          bottom: 16.25rem;
          z-index: 1;
        }
      }
    }
    &:after {
      background-image: url('images/Overview/bt.png');
      background-position: top;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      width: 30rem;
      left: 50%;
      background-size: contain;
      transform: translateX(21rem);
      height: 18.75rem;
      top: 0;
    }
  }
  .page_simple.blue {
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_blue.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_blue.png');
      background-repeat: no-repeat;
    }
  }
  &.vp-1400 {
    .page_simple {
      .top-triangles {
        top: -3rem;
        transform: translateX(-50rem) scale(0.8);
      }
      .left-triangles {
        left: -33rem;
      }
    }
  }
  &.vp-960 {
    .page_simple {
      .top-triangles {
        transform: translateX(-43rem);
      }
      .left-triangles {
        opacity: 0;
      }
      .bottom-triangles {
        transform: translateX(15%);
        img {
          display: none;
        }
        .triangle {
          .big-t {
            left: 9rem;
            bottom: -2.5rem;
          }
        }
      }
    }
  }
  &.vp-640 {
    .page_title {
      text-align: center;
    }
    .page_simple {
      .top-triangles {
        transform: translateX(-33rem);
      }
      .left-triangles {
        opacity: 1;
        left: -36rem;
        bottom: -30rem;
      }
      .bottom-triangles {
        img {
          display: block;
          width: 9rem;
          position: absolute;
          left: -10rem;
          transform: translateY(-63%);
        }
        .triangle {
          position: absolute;
          height: 15.75rem;
          background-color: @s_background_color_1;
          transform: rotate(45deg) translateX(-70%) translateY(68%);
          width: 15.75rem;
          top: 46%;
          left: 50%;
          z-index: 1;
          .big-t {
            left: 5rem;
            bottom: -0.5rem;
          }
          &:after {
            display: block;
            left: 13.5625rem;
            bottom: 10.25rem;
          }
        }
      }
    }
  }
}