@import "../../../style/imports/new_vars.less";
@import "../../../style/imports/mixins.less";

.page_type_overview {

  .page_content {

    padding: 56px 0 244px 0;
    padding: 56/@px 0 244/@px 0;

  }
  .products-inner {

    text-align: center;
    //white-space: nowrap;
    font-size: 0;

  }
  .selector {

    margin: 0 0 66px 0;
    margin: 0 0 66/@px 0;
    text-align: center;

  }
  .selector_item {

    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    margin: 0 22px;
    margin: 0 22/@px;

    span {

      position: relative;
      display: block;
      line-height: 33px;
      line-height: 33/@px;
      font-size: 20px;
      font-size: 20/@px;
      text-transform: uppercase;

    }

  }
  .wrapper_product_list {

    margin-top: 56px;
    margin-top: 56/@px;

  }
  .product-divider {

    display: none;
    //height: 2px;
    //background: red;

    &:nth-of-type(3n) {

      //display: block;

    }

  }
  .product-box {

    .font_opensans;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 8px;
    margin: 0 8/@px;
    margin-bottom: 56px;
    margin-bottom: 56/@px;
    width: 290px;
    width: 290/@px;
    height: 220px;
    height: 220/@px;
    background-image: url(images/Overview/product_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: top;
    color: #000;

    a {

      display: block;
      text-decoration: none;
      width: 100%;
      height: 100%;
      position: relative;
      color: inherit;

      &:hover, &:focus {
        .show-p {
          i {

            transform: scale(1.5);

          }
        }
      }
    }
    .p-name {

      font-size: 20px;
      font-size: 20/@px;
      text-align: left;
      padding: 0 16px;
      padding: 0 16/@px;
      width: 80%;
      position: absolute;
      left: 0;
      top: 16px;
      top: 16/@px;
      white-space: normal;

	  [lang="ar"] & {
		text-align: right;
		right: 0;
		left: auto;
	  }

    }
    .p-thumb-container {

      width: 85%;
      margin: 0 auto;
      padding-top: 58px;
      padding-top: 58/@px;

    }
    .p-thumb {

      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;

    }
    .show-p {

      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 16px;
      padding: 0 16/@px;
      padding-bottom: 8px;
      padding-bottom: 8/@px;
      font-size: 20px;
      font-size: 20/@px;
      text-align: left;

      i {

        transition: transform @transition_duration;

      }
    }
    .icon_female, .icon_male {

      position: absolute;
      background: #fff;
      opacity: 1;

    }
    .icon_female {

      right: 12px;
      right: 12/@px;
      bottom: 7px;
      bottom: 7/@px;
      width: 19px;
      width: 19/@px;
      height: 23px;
      height: 23/@px;

    }
    .icon_male {

      right: 32px;
      right: 32/@px;
      bottom: 7px;
      bottom: 7/@px;
      width: 22px;
      width: 22/@px;
      height: 23px;
      height: 23/@px;

    }
    &.male {
      .icon_male {

        opacity: 0;

      }
    }
    &.female {
      .icon_female {

        opacity: 0;

      }
    }
  }
  &.vp0x640 {
    .selector {

      margin: 0 0 112px 0;
      margin: 0 0 112/@px 0;
      text-align: left;

    }
    .selector_item {

      display: block;
      margin: 0;

      span {

        line-height: 36px;
        line-height: 36/@px;
        font-size: 19px;
        font-size: 19/@px;

      }

    }
    .products-inner {

      margin-left: -4px;
      margin-left: -4/@px;
      white-space: nowrap;

    }
    .product-box {

      margin: 0 8px;
      margin: 0 8/@px;
      margin-bottom: 23px;
      margin-bottom: 23/@px;
      width: 281px;
      width: 281/@px;
      height: 213px;
      height: 213/@px;

    }
    .product-divider {
      &:nth-of-type(3n) {

        display: none;

      }
      &:nth-of-type(2n) {

        display: block;

      }
    }
  }
}