@to_color_1: #fff;
@to_font_family_1: "Roboto Condensed", sans-serif;
@to_background_color_1: rgba(255, 255, 255, 0.2);
@to_background_color_2: rgba(255, 255, 255, 0.11);
@to_background_color_3: rgba(255, 255, 255, 0.02);
@to_background_color_4: rgba(255, 255, 255, 0.1);
@to_border_top_color_1: #445253;
@to_border_top_color_2: rgba(255, 255, 255, 0.0275);

.page_type_tech_overview {
  .bottom-triangles {
    width: 100%;
    position: absolute;
    height: 14.125rem;
    display: inline-block;
    bottom: 0;
    transform: translateX(-3%);
    img {
      transform: translateY(-60%);
    }
    .triangle {
      position: absolute;
      height: 15.75rem;
      background-color: @to_background_color_1;
      transform: rotate(45deg) translateX(-44%) translateY(42%);
      width: 15.75rem;
      top: 46%;
      left: 50%;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        height: 15.75rem;
        background-color: @to_background_color_2;
        width: 15.75rem;
        left: 3.5rem;
        bottom: 1.5625rem;
        z-index: 1;
      }
      .big-t {
        position: absolute;
        height: 25rem;
        background-color: @to_background_color_3;
        width: 25rem;
        left: 3.5625rem;
        bottom: 3.125rem;
        z-index: 0;
      }
      &:after {
        content: "";
        position: absolute;
        height: 15.75rem;
        background-color: @to_background_color_4;
        width: 15.75rem;
        left: 21.625rem;
        bottom: 16.25rem;
        z-index: 1;
      }
    }
  }
  .vp-960 {
    .bottom-triangles {
      transform: translateX(15%);
      img {
        display: none;
      }
      .triangle {
        .big-t {
          left: 9rem;
          bottom: -2.5rem;
        }
      }
    }
    .product-page {
      .wrapper {
        &:last-of-type {
          padding-bottom: 4.6875rem;
        }
        .products-inner {
          .product-box {
            .p-thumb {
              transform: translateX(-50%) scale(0.99);
            }
          }
        }
      }
      .top-triangles {
        transform: translateX(-43rem);
      }
      .left-triangles {
        opacity: 0;
      }
    }
    .breadcrumbs {
      &:after {
        opacity: 0;
      }
    }
  }
  .vp-640 {
    .bottom-triangles {
      img {
        display: block;
        width: 9rem;
        position: absolute;
        left: -10rem;
        transform: translateY(-63%);
      }
      .triangle {
        position: absolute;
        height: 15.75rem;
        background-color: @to_background_color_1;
        transform: rotate(45deg) translateX(-70%) translateY(68%);
        width: 15.75rem;
        top: 46%;
        left: 50%;
        z-index: 1;
        .big-t {
          left: 5rem;
          bottom: -0.5rem;
        }
        &:after {
          display: block;
          left: 13.5625rem;
          bottom: 10.25rem;
        }
      }
    }
    .product-page {
      .wrapper {
        &:last-of-type {
          padding-bottom: 0;
        }
        .p-headline {
          min-height: 8.5rem;
          text-align: center;
          width: 18.75rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .inner_wrapper {
        width: 37.5rem;
      }
      .top-triangles {
        transform: translateX(-33rem);
      }
      .left-triangles {
        opacity: 1;
        left: -36rem;
        bottom: -30rem;
      }
    }
  }
  .vp960 {
    .bottom-triangles {
      .triangle {
        &:after {
          display: none;
        }
      }
    }
  }
  .product-page {
    overflow: hidden;
    position: relative;
    z-index: 1;
    .product-page-bg {
      position: relative;
      background: #252c2e;
    }
    .wrapper {
      margin: 0 auto;
      width: 100%;
      &:nth-of-type(1) {
        padding-top: 1px;
      }
      &:last-of-type {
        padding-bottom: 0rem;
      }
      .p-headline {
        padding-top: 2.5rem;
        font-size: 3.125rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-family: @to_font_family_1;
        font-style: italic;
        font-weight: bold;
      }
      .products-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .product-box {
          width: 18.125rem;
          a {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 18.125rem;
            height: 14.6875rem;
            margin-bottom: 2.5rem;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              display: block;
              background-image: url(images/Overview/blende.png);
              background-repeat: no-repeat;
              background-position: bottom center;
              background-size: contain;
              z-index: 1;
            }
            &:hover {
              text-decoration: none;
              .show-p {
                &:before {
                  transform: translateX(33%);
                }
              }
            }
            &:focus {
              text-decoration: none;
              .show-p {
                &:before {
                  transform: translateX(33%);
                }
              }
            }
          }
          .p-name {
            color: @to_color_1;
            margin-left: 1rem;
            margin-top: 1rem;
            display: inline-block;
            font-family: @to_font_family_1;
            font-size: 1.25rem;
            font-style: italic;
            font-weight: bold;
            z-index: 1;
          }
          .p-desc {
            color: @to_color_1;
            margin-left: 1rem;
            margin-top: -8.25rem;
            font-style: italic;
            font-family: @to_font_family_1;
            font-size: 1rem;
            z-index: 1;
          }
          .p-thumb {
            width: 100%;
            justify-self: center;
            align-self: center;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            z-index: 0;
            left: 50%;
          }
          .show-p {
            display: block;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.125rem;
            line-height: 2.5rem;
            color: @to_color_1;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            align-self: center;
            justify-self: flex-end;
            width: 100%;
            height: 2.5rem;
            margin-right: 0.5rem;
            text-indent: -10px;
            position: relative;
            font-family: @to_font_family_1;
            font-style: italic;
            z-index: 1;
            &:before {
              content: "";
              display: inline-block;
              background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAPBAMAAADaL8iNAAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMA0tjMGg8UDbCvlRb2xzDCAAAAMElEQVQI12MoYACCKSBCyAFIyKiBiIMJQOKMKYg4HAAkziyAsUxhstowHS1ADDYFABgzDiSZAWG0AAAAAElFTkSuQmCC");
              background-repeat: no-repeat;
              background-size: cover;
              width: 0.4375rem;
              height: 0.9375rem;
              transform: translateX(-33%);
              transition: transform .165s;
            }
          }
          .show-p.mw {
            &:after {
              content: "";
              width: 2.25rem;
              height: 2.25rem;
              background-size: contain;
              right: -0.25rem;
              bottom: 0.625rem;
              position: absolute;
              background-image: url(images/Overview/mw.png);
              background-repeat: no-repeat;
            }
          }
          .show-p.m {
            &:after {
              content: "";
              width: 2.25rem;
              height: 2.25rem;
              background-size: contain;
              right: -0.25rem;
              bottom: 0.625rem;
              position: absolute;
              background-image: url(images/Overview/m.png);
              background-repeat: no-repeat;
            }
          }
          .show-p.w {
            &:after {
              content: "";
              width: 2.25rem;
              height: 2.25rem;
              background-size: contain;
              right: -0.25rem;
              bottom: 0.625rem;
              position: absolute;
              background-image: url(images/Overview/w.png);
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
    .wrapper.text {
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
      p {
        font-size: 1rem;
      }
    }
    .inner_wrapper {
      min-height: 53.7rem;
      position: relative;
      width: 41.25rem;
      padding-bottom: 11.75rem;
    }
    .top-triangles {
      background-image: url('images/Overview/top/dreieck_top.png');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      position: absolute;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
      top: -1.75rem;
      left: 50%;
      transform: translateX(-55rem);
      width: 28.5625rem;
      height: 14.25rem;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 10.625rem;
        top: -10.2rem;
        width: 0;
        height: 0;
        border: 9.025rem solid rgba(0, 0, 0, 0);
        border-top-color: @to_border_top_color_1;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
        border-right: 0;
      }
    }
    .left-triangles {
      position: absolute;
      left: -27.6875rem;
      bottom: -34.8125rem;
      width: 41.0625rem;
      height: 82.1875rem;
      background-position: top;
      background-size: cover;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
      z-index: 1;
      background-image: url('images/Overview/botleft/asics_silver_triangle.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.silver {
    .products-inner {
      .show-p {
        background-image: url(images/Overview/silver_btn.png);
      }
    }
  }
  .vp-1400 {
    .product-page {
      .top-triangles {
        top: -3rem;
        transform: translateX(-50rem) scale(0.8);
      }
      .left-triangles {
        left: -33rem;
      }
    }
  }
  .breadcrumbs {
    overflow: hidden;
    position: relative;
    z-index: 2;
    overflow: visible;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(12rem);
      top: -3.875rem;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
      border: 18.75rem transparent solid;
      border-top-color: @to_border_top_color_2;
    }
    .inner_wrapper {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 1.875rem;
        top: 0;
        width: 100vw;
        height: 100%;
        background: #252c2e;
      }
    }
  }
}