@import "new_vars.less";

.font_asics() {
  font-family: "ASICS", "Open Sans", sans-serif;
}

.font_opensans() {
  font-family: "Open Sans", sans-serif;
}

.has_paragraphs() {
  font-size: 16/@px;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
  p {
    margin: 1em 0;
    &:first-child, &:first-of-type {
      margin-top: 0;
    }
  }
}

.appearance (@value: none) {
  -webkit-appearance: @value;
  -moz-appearance: @value;
  -ms-appearance: @value;
  -o-appearance: @value;
  appearance: @value;
}

.abs_center() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.fixRemTransformRender() {
  transform: skewX(0.01deg);
}

.textStroke(@color: #2bbfff) {
  text-shadow: @color 3px 0px 0px, @color 2.83487px 0.981584px 0px, @color 2.35766px 1.85511px 0px, @color 1.62091px 2.52441px 0px, @color 0.705713px 2.91581px 0px, @color -0.287171px 2.98622px 0px, @color -1.24844px 2.72789px 0px, @color -2.07227px 2.16926px 0px, @color -2.66798px 1.37182px 0px, @color -2.96998px 0.42336px 0px, @color -2.94502px -0.571704px 0px, @color -2.59586px -1.50383px 0px, @color -1.96093px -2.27041px 0px, @color -1.11013px -2.78704px 0px, @color -0.137119px -2.99686px 0px, @color 0.850987px -2.87677px 0px, @color 1.74541px -2.43999px 0px, @color 2.44769px -1.73459px 0px, @color 2.88051px -0.838247px 0px;
}

.textStroke2(@color: #2bbfff) {
  text-shadow: @color 2px 0px 0px, @color 1.75517px 0.958851px 0px, @color 1.0806px 1.68294px 0px, @color 0.141474px 1.99499px 0px, @color -0.832294px 1.81859px 0px, @color -1.60229px 1.19694px 0px, @color -1.97998px 0.28224px 0px, @color -1.87291px -0.701566px 0px, @color -1.30729px -1.5136px 0px, @color -0.421592px -1.95506px 0px, @color 0.567324px -1.91785px 0px, @color 1.41734px -1.41108px 0px, @color 1.92034px -0.558831px 0px;
}

.bgStripes(@color: #00b398, @color2: #ffffff) {
  background: repeating-linear-gradient(-45deg, @color 0px, @color 4.5px, #ffffff 5px, #ffffff 5.5px);
}

// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
  display: ~"-webkit-@{display}";
  display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
  display: ~"-ms-@{display}"; // IE11
  display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-flex: @columns;
  -ms-flex: @columns;
  flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
  -ms-flex-direction: @direction;
  flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
  -ms-flex-wrap: @wrap;
  flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
  -ms-flex-flow: @flow;
  flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
  -ms-order: @order;
  order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
  -ms-flex-grow: @grow;
  flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
  -ms-flex-shrink: @shrink;
  flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
  -ms-flex-basis: @width;
  flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
  -ms-justify-content: @justify;
  justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
.align-content(@align: stretch) {
  -webkit-align-content: @align;
  -ms-align-content: @align;
  align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
.align-items(@align: stretch) {
  -webkit-align-items: @align;
  -ms-align-items: @align;
  align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
.align-self(@align: auto) {
  -webkit-align-self: @align;
  -ms-align-self: @align;
  align-self: @align;
}