@import "../../../style/imports/mixins.less";
@import "../../../style/imports/new_vars.less";

.special_teaser_wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 40/@px;
  margin-bottom: 84/@px;
}

.special_teaser_inner {
  padding: 0 !important;
}

.special_teaser_space {
  position: relative;
  padding-bottom: 433px;
  padding-bottom: unit(433/1202*100, ~"%");
}

.vp0x640 {
  .special_teaser_space {
    padding-bottom: 573px;
    padding-bottom: unit(573/640*100, ~"%");
  }
}

.special_teaser_bg {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}