<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	<title>ASICS</title>
	<style type="text/css" media="screen">
		@font-face { font-family: 'WOFF ASICS-Light'; src: url('ASICS-Light.woff'); }
		@font-face { font-family: 'WOFF ASICS-Regular'; src: url('ASICS-Regular.woff'); }
		@font-face { font-family: 'WOFF ASICS-Bold'; src: url('ASICS-Bold.woff'); }
		@font-face { font-family: 'WOFF2 ASICS-Light'; src: url('ASICS-Light.woff2'); }
		@font-face { font-family: 'WOFF2 ASICS-Regular'; src: url('ASICS-Regular.woff2'); }
		@font-face { font-family: 'WOFF2 ASICS-Bold'; src: url('ASICS-Bold.woff2'); }
		@font-face { font-family: 'EOT ASICS-Light'; src: url('ASICS-Light.eot'); }
		@font-face { font-family: 'EOT ASICS-Regular'; src: url('ASICS-Regular.eot'); }
		@font-face { font-family: 'EOT ASICS-Bold'; src: url('ASICS-Bold.eot'); }
		
		body { 
			font-family: "WOFF ASICS-Light"; 
			font-feature-settings: "kern" on, "liga" on, "calt" on;
			-moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
			-webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
			-ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
			-o-font-feature-settings: "kern" on, "liga" on, "calt" on;
		}
		p { padding: 5px; margin: 10px; }
		p#p08 { font-size: 08pt; }
		p#p09 { font-size: 09pt; }
		p#p10 { font-size: 10pt; }
		p#p11 { font-size: 11pt; }
		p#p12 { font-size: 12pt; }
		p#p13 { font-size: 13pt; }
		p#p14 { font-size: 14pt; }
		p#p15 { font-size: 15pt; }
		p#p16 { font-size: 16pt; }
		p#largeParagraph { font-size: 32pt; }
		p#veryLargeParagraph { font-size: 100pt; }		
	</style>
	<script type="text/javascript">
		function updateParagraph() {
			var txt = document.getElementById('textInput');
			
			var p08 = document.getElementById('p08');
			var p09 = document.getElementById('p09');
			var p10 = document.getElementById('p10');
			var p11 = document.getElementById('p11');
			var p12 = document.getElementById('p12');
			var p13 = document.getElementById('p13');
			var p14 = document.getElementById('p14');
			var p15 = document.getElementById('p15');
			var p16 = document.getElementById('p16');
			var pLarge = document.getElementById('largeParagraph');
			var pVeryLarge = document.getElementById('veryLargeParagraph');
			
			p08.textContent = txt.value;
			p09.textContent = txt.value;
			p10.textContent = txt.value;
			p11.textContent = txt.value;
			p12.textContent = txt.value;
			p13.textContent = txt.value;
			p14.textContent = txt.value;
			p15.textContent = txt.value;
			p16.textContent = txt.value;
			pLarge.textContent = txt.value;
			pVeryLarge.textContent = txt.value;
		}
		function changeFont() {
			var selector = document.getElementById('fontFamilySelector');
			var selected_index = selector.selectedIndex;
			var selected_option_text = selector.options[selected_index].text;
			document.getElementById('fontTestBody').style.fontFamily = selected_option_text;
		}
		function setDefaultText(defaultText) {
			document.getElementById('textInput').value = decodeEntities(defaultText);
			updateParagraph();
		}
		function setLat1() {
			var lat1 = "abcdefghijklm nopqrstuvwxyz ABCDEFGHIJKLM NOPQRSTUVWXYZ &Agrave;&Aacute;&Acirc;&Atilde;&Auml;&Aring;&AElig;&Ccedil;&Egrave;&Eacute;&Ecirc;&Euml;&Igrave;&Iacute;&Icirc;&Iuml;&ETH;&Ntilde;&Ograve;&Oacute;&Ocirc;&Otilde;&Ouml;&Oslash;&OElig;&THORN;&Ugrave;&Uacute;&Ucirc;&Uuml;&Yacute;&Yuml; &agrave;&aacute;&acirc;&atilde;&auml;&aring;&aelig;&ccedil;&egrave;&eacute;&ecirc;&euml;&igrave;&iacute;&icirc;&iuml;&eth;&ntilde;&ograve;&oacute;&ocirc;&otilde;&ouml;&oslash;&oelig;&thorn;&szlig;&ugrave;&uacute;&ucirc;&uuml;&yacute;&yuml; .,:;&middot;&hellip;&iquest;?&iexcl;!&laquo;&raquo;&lsaquo;&rsaquo; /|&brvbar;\()[]{}_-&ndash;&mdash;&sbquo;&bdquo;&lsquo;&rsquo;&ldquo;&rdquo;&quot;&#x27; #&amp;&sect;@&bull;&shy;*&dagger;&Dagger;&para; +&times;&divide;&plusmn;=&lt;&gt;&not;&mu; ^~&acute;`&circ;&macr;&tilde;&uml;&cedil; &yen;&euro;&pound;$&cent;&curren;&fnof; &trade;&reg;&copy; 1234567890 &ordf;&ordm;&deg;%&permil; &sup1;&sup2;&sup3;&frac14;&frac12;&frac34;";
			return setDefaultText(lat1);
		}
		function setCharset() {
			var completeCharSet = "&#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;";
			setDefaultText(completeCharSet);
		}
		function decodeEntities(string){
			var elem = document.createElement('div');
			elem.innerHTML = string;
			return elem.textContent;
		}
	</script>
</head>
<body id="fontTestBody">
	<select size="1" id="fontFamilySelector" name="fontFamilySelector" onchange="changeFont()">
		<option value="ASICS-Light.woff">WOFF ASICS-Light</option>
		<option value="ASICS-Regular.woff">WOFF ASICS-Regular</option>
		<option value="ASICS-Bold.woff">WOFF ASICS-Bold</option>
		<option value="ASICS-Light.woff2">WOFF2 ASICS-Light</option>
		<option value="ASICS-Regular.woff2">WOFF2 ASICS-Regular</option>
		<option value="ASICS-Bold.woff2">WOFF2 ASICS-Bold</option>
		<option value="ASICS-Light.eot">EOT ASICS-Light</option>
		<option value="ASICS-Regular.eot">EOT ASICS-Regular</option>
		<option value="ASICS-Bold.eot">EOT ASICS-Bold</option>
	</select>
	<input type="text" value="Type Text Here." id="textInput" onkeyup="updateParagraph()" size="80" />
	<p>
		<a href="javascript:setCharset();">Charset</a>
		<a href="javascript:setLat1();">Lat1</a>
		<a href="http://stateofwebtype.com/#eot">eot?</a>
		<a href="http://stateofwebtype.com/#woff">woff?</a>
		<a href="http://stateofwebtype.com/#woff2">woff2?</a>
	</p>
	<p id="p08">08pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p09">09pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p10">10pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p11">11pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p12">12pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p13">13pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p14">14pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p15">15pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="p16">16pt &#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="largeParagraph">&#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
	<p id="veryLargeParagraph">&#x0041; &#x0042; &#x0043; &#x0044; &#x0045; &#x0046; &#x0047; &#x0048; &#x0049; &#x004A; &#x004B; &#x004C; &#x004D; &#x004E; &#x004F; &#x0050; &#x0051; &#x0052; &#x0053; &#x0054; &#x0055; &#x0056; &#x0057; &#x0058; &#x0059; &#x005A; &#x00C1; &#x00C2; &#x00C4; &#x00C0; &#x00C5; &#x00C3; &#x00C6; &#x00C7; &#x00D0; &#x00C9; &#x00CA; &#x00CB; &#x00C8; &#x00CD; &#x00CE; &#x00CF; &#x00CC; &#x0141; &#x00D1; &#x00D3; &#x00D4; &#x00D6; &#x00D2; &#x00D8; &#x00D5; &#x0152; &#x00DE; &#x0160; &#x1E9E; &#x00DA; &#x00DB; &#x00DC; &#x00D9; &#x1E82; &#x0174; &#x1E84; &#x1E80; &#x00DD; &#x0176; &#x0178; &#x1EF2; &#x017D; &#x0061; &#x0062; &#x0063; &#x0064; &#x0065; &#x0066; &#x0067; &#x0068; &#x0069; &#x006A; &#x006B; &#x006C; &#x006D; &#x006E; &#x006F; &#x0070; &#x0071; &#x0072; &#x0073; &#x0074; &#x0075; &#x0076; &#x0077; &#x0078; &#x0079; &#x007A; &#x00E1; &#x00E2; &#x00E4; &#x00E0; &#x00E5; &#x00E3; &#x00E6; &#x00E7; &#x00F0; &#x00E9; &#x00EA; &#x00EB; &#x00E8; &#x0131; &#x00ED; &#x00EE; &#x00EF; &#x00EC; &#x0142; &#x00F1; &#x00F3; &#x00F4; &#x00F6; &#x00F2; &#x00F8; &#x00F5; &#x0153; &#x00FE; &#x0161; &#x00DF; &#x00FA; &#x00FB; &#x00FC; &#x00F9; &#x1E83; &#x0175; &#x1E85; &#x1E81; &#x00FD; &#x0177; &#x00FF; &#x1EF3; &#x017E; &#x00AA; &#x00BA; &#x03C0; &#x0030; &#x0031; &#x0032; &#x0033; &#x0034; &#x0035; &#x0036; &#x0037; &#x0038; &#x0039; &#x00B9; &#x00B2; &#x00B3; &#x2074; &#x2044; &#x00BD; &#x00BC; &#x00BE; &#x002A; &#x005C; &#x00B7; &#x2022; &#x003A; &#x002C; &#x2026; &#x0021; &#x00A1; &#x0023; &#x002E; &#x003F; &#x00BF; &#x0022; &#x0027; &#x003B; &#x002F; &#x005F; &#x007B; &#x007D; &#x005B; &#x005D; &#x0028; &#x0029; &#x2014; &#x2013; &#x002D; &#x00AB; &#x00BB; &#x2039; &#x203A; &#x201E; &#x201C; &#x201D; &#x2018; &#x2019; &#x201A; &#x0020; &#x00A0; &#x000D; &#x00A2; &#x00A4; &#x0024; &#x20AC; &#x0192; &#x00A3; &#x00A5; &#x002B; &#x2212; &#x00D7; &#x00F7; &#x003D; &#x2260; &#x003E; &#x003C; &#x2265; &#x2264; &#x00B1; &#x2248; &#x007E; &#x00AC; &#x221E; &#x2205; &#x222B; &#x2126; &#x2206; &#x220F; &#x2211; &#x221A; &#x00B5; &#x2202; &#x0025; &#x2030; &#x25CA; &#x0040; &#x0026; &#x00B6; &#x00A7; &#x00A9; &#x00AE; &#x2122; &#x00B0; &#x007C; &#x00A6; &#x2020; &#x2113; &#x2021; &#x212E; &#x005E; &#x0308; &#x0307; &#x0300; &#x0301; &#x0302; &#x030A; &#x0303; &#x0327; &#x0335; &#x0338; &#x00B4; &#x02D8; &#x02C7; &#x00B8; &#x02C6; &#x00A8; &#x02D9; &#x0060; &#x02DD; &#x00AF; &#x02DA; &#x02DC;</p>
</body>
