@import "../../../style/imports/vars";

@o_color_1: rgba(255, 255, 255, 0.5);
@o_color_7: red;
@o_color_8: #cc0000;
@o_font_family_1: "Roboto Condensed", sans-serif;
@o_background_color_1: #3f4142;
@o_background_color_2: rgba(255, 255, 255, 0.2);
@o_background_color_3: rgba(255, 255, 255, 0.11);
@o_background_color_4: rgba(255, 255, 255, 0.02);
@o_background_color_5: rgba(255, 255, 255, 0.1);
@o_border_top_color_1: rgba(255, 255, 255, 0.0275);

.page_type_overview {

  .selector {
    transform: skew(-45deg);
    margin-left: 3.75rem;
    padding-top: 3.125rem;
    div {
      background-color: @o_background_color_1;
      font-family: @o_font_family_1;
      font-size: 1rem;
      font-style: italic;
      font-weight: bold;
      color: @o_color_1;
      height: 1.875rem;
      line-height: 1.875rem;
      transition: 250ms ease;
      display: inline-block;
      float: left;
      cursor: pointer;
      &:hover {
        color: @text;
      }
      &:last-child {
        margin-left: 0.75rem;
      }
      span {
        transform: skew(45deg);
        display: inline-block;
        position: relative;
        padding: 0 1.5rem;
      }
    }
    div.active {
      background: linear-gradient(to right, @b-color-c 0%, @b-color-b 28%, @b-color-a 100%);
      color: @text;
    }
  }
  .bottom-triangles {
    width: 100%;
    position: absolute;
    height: 14.125rem;
    display: inline-block;
    bottom: 0;
    transform: translateX(-3%);
    img {
      transform: translateY(-60%);
    }
    .triangle {
      position: absolute;
      height: 15.75rem;
      background-color: @o_background_color_2;
      transform: rotate(45deg) translateX(-44%) translateY(42%);
      width: 15.75rem;
      top: 46%;
      left: 50%;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        height: 15.75rem;
        background-color: @o_background_color_3;
        width: 15.75rem;
        left: 3.5rem;
        bottom: 1.5625rem;
        z-index: 1;
      }
      .big-t {
        position: absolute;
        height: 25rem;
        background-color: @o_background_color_4;
        width: 25rem;
        left: 3.5625rem;
        bottom: 3.125rem;
        z-index: 0;
      }
      &:after {
        content: "";
        position: absolute;
        height: 15.75rem;
        background-color: @o_background_color_5;
        width: 15.75rem;
        left: 21.625rem;
        bottom: 16.25rem;
        z-index: 1;
      }
    }
  }
  .product-page {
    overflow: hidden;
    position: relative;
    z-index: 1;
    .product-page-bg {
      position: relative;
      background: #252c2e;
    }
    .wrapper {
      margin: 0 auto;
      width: 100%;
      &:nth-of-type(1) {
        padding-top: 1px;
      }
      &:last-of-type {
        padding-bottom: 0rem;
      }
      .p-headline {
        padding-top: 2.5rem;
        font-size: 3.125rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-family: @o_font_family_1;
        font-style: italic;
        font-weight: bold;
      }
      .products-inner {
        display: flex;
        flex-wrap: wrap;
        .product-box {
          width: 18.125rem;
          &:nth-of-type(3n+2) {
            margin: 0 0.9375rem;
          }
          a {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url(images/Overview/blende.png), radial-gradient(at -200% 0%, #252c2e 66%, #666 140%);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: contain;
            width: 18.125rem;
            height: 14.6875rem;
            margin-bottom: 2.5rem;
            &:hover {
              text-decoration: none;
              .show-p {
                &:before {
                  transform: translateX(33%);
                }
              }
            }

            &:focus {
              text-decoration: none;
              .show-p {
                &:before {
                  transform: translateX(33%);
                }
              }
            }
          }

          .p-draft {
            position: absolute;
            font-size: 12px;
            font-size: 0.75rem;
            color: @o_color_8;
          }
          .p-name {
            color: @text;
            margin-left: 1rem;
            margin-top: 2rem;
            display: inline-block;
            font-family: @o_font_family_1;
            font-size: 1.25rem;
          }
          .p-thumb {
            width: 100%;
            max-width: 15rem;
            max-height: 7.8125rem;
            justify-self: center;
            align-self: center;
          }
          .show-p {
            display: block;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.125rem;
            line-height: 2.5rem;
            color: @text;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            align-self: center;
            justify-self: flex-end;
            width: 100%;
            height: 2.5rem;
            margin-right: 0.5rem;
            text-indent: -10px;
            position: relative;
            font-family: @o_font_family_1;
            font-style: italic;
            &:before {
              content: "";
              display: inline-block;
              background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAPBAMAAADaL8iNAAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMA0tjMGg8UDbCvlRb2xzDCAAAAMElEQVQI12MoYACCKSBCyAFIyKiBiIMJQOKMKYg4HAAkziyAsUxhstowHS1ADDYFABgzDiSZAWG0AAAAAElFTkSuQmCC");
              background-repeat: no-repeat;
              background-size: cover;
              width: 0.4375rem;
              height: 0.9375rem;
              transform: translateX(-33%);
              transition: transform .165s;
            }
          }
          .show-p.mw {
            &:after {
              content: "";
              width: 2.25rem;
              height: 2.25rem;
              background-size: contain;
              right: -0.25rem;
              bottom: 0.625rem;
              position: absolute;
              background-image: url(images/Overview/mw.png);
              background-repeat: no-repeat;
            }
          }
          .show-p.m {
            &:after {
              content: "";
              width: 2.25rem;
              height: 2.25rem;
              background-size: contain;
              right: -0.25rem;
              bottom: 0.625rem;
              position: absolute;
              background-image: url(images/Overview/m.png);
              background-repeat: no-repeat;
            }
          }
          .show-p.w {
            &:after {
              content: "";
              width: 2.25rem;
              height: 2.25rem;
              background-size: contain;
              right: -0.25rem;
              bottom: 0.625rem;
              position: absolute;
              background-image: url(images/Overview/w.png);
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
    .wrapper.text {
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
      color: @o_color_7;
      p {
        font-size: 1rem;
      }
    }
    .inner_wrapper {
      position: relative;
      padding-bottom: 11.75rem;
      min-height: 53.7rem;
    }
    .top-triangles {
      background-image: url('images/Overview/top/dreieck_top.png');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      position: absolute;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
      top: -1.75rem;
      left: 50%;
      transform: translateX(-55rem);
      width: 28.5625rem;
      height: 14.25rem;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 10.625rem;
        top: 1.75rem;
        width: 14.3125rem;
        height: 7.125rem;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .left-triangles {
      position: absolute;
      left: -27.6875rem;
      bottom: -34.8125rem;
      width: 41.0625rem;
      height: 82.1875rem;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
    }
  }
  .product-page.lightblue {
    .p-headline {
      color: @lb-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/lightblue_btn.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_lightblue.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_lightblue.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.blue {
    .p-headline {
      color: @b-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/blue_btn.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_blue.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_blue.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.darkgreen {
    .p-headline {
      color: @g-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/green_btn.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_green.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_green.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.lightgreen {
    .p-headline {
      color: @lg-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/lightgreen_btn.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_lightgreen.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_lightgreen.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.orange {
    .p-headline {
      color: @or-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/btn_orange.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_orange.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_orange.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.yellow {
    .p-headline {
      color: @y-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/btn_yellow.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_yellow.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_yellow.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.carrot {
    .p-headline {
      color: @c-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/btn_carrot.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_carrot.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_carrot.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.red {
    .p-headline {
      color: @r-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/btn_red.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_red.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_red.png');
      background-repeat: no-repeat;
    }
  }
  .product-page.ocean {
    .p-headline {
      color: @oc-color-c;
    }
    .products-inner {
      .show-p {
        background-image: url(images/Overview/ocean_btn.png);
      }
    }
    .top-triangles {
      &:before {
        background-image: url('images/Overview/top/triangle_top_ocean.png');
        background-repeat: no-repeat;
      }
    }
    .left-triangles {
      background-image: url('images/Overview/botleft/triangle_botleft_ocean.png');
      background-repeat: no-repeat;
    }
  }
  .breadcrumbs {
    overflow: hidden;
    position: relative;
    z-index: 2;
    overflow: visible;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(12rem);
      top: -3.875rem;
      -webkit-transition: linear 125ms;
      -moz-transition: linear 125ms;
      -ms-transition: linear 125ms;
      -o-transition: linear 125ms;
      transition: linear 125ms;
      border: 18.75rem transparent solid;
      border-top-color: @o_border_top_color_1;
      pointer-events: none;
    }
    .inner_wrapper {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 1.875rem;
        top: 0;
        width: 100vw;
        height: 100%;
        background: #252c2e;
      }
    }
  }
  &.vp-1400 {
    .product-page {
      .top-triangles {
        top: -3rem;
        transform: translateX(-50rem) scale(0.8);
      }
      .left-triangles {
        left: -33rem;
      }
    }
  }
  &.vp-960 {
    .bottom-triangles {
      transform: translateX(15%);
      img {
        display: none;
      }
      .triangle {
        .big-t {
          left: 9rem;
          bottom: -2.5rem;
        }
      }
    }
    .product-page {
      .wrapper {
        &:last-of-type {
          padding-bottom: 4.6875rem;
        }
        .products-inner {
          justify-content: space-between;
          .product-box {
            &:nth-of-type(3n+2) {
              margin: 0;
            }
          }
        }
      }
      .top-triangles {
        transform: translateX(-43rem);
      }
      .left-triangles {
        opacity: 0;
      }
    }
    .breadcrumbs {
      &:after {
        opacity: 0;
      }
    }
  }
  &.vp-640 {
    .selector {
      display: block;
      text-align: center;
      div {
        float: none;
      }
    }
    .bottom-triangles {
      img {
        display: block;
        width: 9rem;
        position: absolute;
        left: -10rem;
        transform: translateY(-63%);
      }
      .triangle {
        position: absolute;
        height: 15.75rem;
        background-color: @o_background_color_2;
        transform: rotate(45deg) translateX(-70%) translateY(68%);
        width: 15.75rem;
        top: 46%;
        left: 50%;
        z-index: 1;
        .big-t {
          left: 5rem;
          bottom: -0.5rem;
        }
        &:after {
          display: block;
          left: 13.5625rem;
          bottom: 10.25rem;
        }
      }
    }
    .product-page {
      .wrapper {
        &:last-of-type {
          padding-bottom: 0;
        }
        .p-headline {
          min-height: 8.5rem;
          text-align: center;
          width: 18.75rem;
          margin-left: auto;
          margin-right: auto;
          padding-top: 0;
        }
      }
      .top-triangles {
        transform: translateX(-33rem);
      }
      .left-triangles {
        opacity: 1;
        left: -36rem;
        bottom: -30rem;
      }
    }
  }
}