@t_color_1: #fff;
@t_color_2: #0a354d;
@t_color_3: #459bb8;
@t_color_4: #005851;
@t_color_5: #52baa9;
@t_color_6: #7f8385;
@t_color_7: #7e8598;
@t_color_8: #788093;
@t_color_9: #b1dbd0;
@t_color_10: #b8ded4;
@t_color_11: #8aa09c;
@t_color_12: #849b97;
@t_color_13: #a7c4d6;
@t_color_14: #aec9d9;
@t_color_15: inherit;
@t_color_16: #adb5bb;
@t_color_17: #415069;
@t_color_18: #7fb0c6;
@t_color_19: #4a746e;
@t_color_20: #8bccbe;

@t_color_21: #ffffff;
@t_fontfamily_1: "Roboto Condensed", sans-serif;
@t_fontfamily_2: "Roboto", sans-serif;
@t_background_color_1: #1b2225;
@t_background_color_2: #1e2325;
@t_background_color_3: #082f43;
@t_background_color_4: #4ab8a5;
@t_background_color_5: #004e47;
@t_background_color_6: #4395b0;
@t_background_color_7: #191b1c;
@t_background_color_8: transparent;

.page_type_tech {

  background-color: @t_background_color_1;

  .breadcrumbs {
    background: linear-gradient(to right, #303a3c 40%, #252c2e 40%);
    z-index: 3;
    .bread_item {
      &:first-child {
        margin-left: -260px;
        padding-left: 260px;
      }
    }
  }
  .vp-960 {
    .breadcrumbs {
      position: relative;
    }
    .product_top {
      &:after {
        display: none;
      }
    }
    .design {
      height: 15.125rem;
      background-position: 35% 0;
    }
    .flap {
      a {
        font-size: 1.25rem;
        width: 10%;
      }
      p {
        width: 5rem;
        top: 37%;
        text-align: right;
        left: 53%;
        line-height: 1.4rem;
      }
      transform: translateX(-32rem);
      z-index: 2;
    }
    .product_description {
      height: 15rem;
      .paragraphs {
        h2 {
          margin: 2rem 0 0;
        }
      }
      p {
        padding: 0 3rem;
        width: 100%;
      }
      h2 {
        padding: 0 3rem;
        width: 100%;
      }
    }
    .info-menu {
      .heading {
        font-size: 1.125rem;
        margin-right: 20rem;
        line-height: 1.8rem;
        height: 1.8rem;
        width: 8rem;
      }
      .menu-point {
        height: auto;
        border-right: 0.125rem solid gray;
        padding-right: 1.5rem;
        line-height: 1.25rem;
        &:nth-last-child(1) {
          border: none;
          padding: 0;
        }
      }
      background-color: @t_background_color_7;
      width: 30rem;
      transform-origin: 0 0;
      transform: translateX(7.375rem) skew(-45deg);
      padding-bottom: 0.625rem;
      margin-top: -4.5rem;
      .menu-wrapper {
        margin-left: 3.5rem;
        width: 26rem;
      }
    }

    .tech-header {
      h2 {
        width: 41.25rem;
        margin: 0 auto;
        text-align: left;
        padding: 0 1.875rem;
      }
      &:after {
        width: 59.9375rem;
        background-image: url('images/TechHighlights/tech_header_tablet.png');
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
      }
      div.out {
        transform: translateX(3.125rem) translateY(100%);
      }
      div {
        transform: translateX(3.125rem);
      }
      span {
        transform: translateX(8rem);
      }
    }
    .tech {
      background: none;
      li {
        width: 75%;
      }
      &:after {
        visibility: visible;
        height: 22.5rem;
        width: 11.3125rem;
        right: -10rem;
        top: 2rem;
        transform: translateX(-50%);
        background-image: url('images/TechHighlights/tech_tri_top.png');
        position: absolute;
        background-size: contain;
      }
      .close-tech.out {
        transform: translateX(9.375rem) translateY(100%);
      }
      .close-tech {
        transform: translateX(9.375rem);
      }
    }
    .features-header {
      div.out {
        transform: translateX(3.125rem) translateY(100%);
      }
      div {
        transform: translateX(3.125rem);
      }
      span {
        transform: translateX(8rem);
      }
      h2 {
        width: 41.25rem;
        margin: 0 auto;
        text-align: left;
        padding: 0 1.875rem;
      }
      &:after {
        height: 7.4375rem;
        width: 19.25rem;
        background-image: url('images/TechHighlights/feat_header_tablet.png');
        background-position: inherit;
        background-size: auto;
        left: 50%;
        transform: translateX(70%);
      }
    }
    .features {
      background: none;
      .column {
        width: 50%;
      }
      .close-features.out {
        transform: translateX(9.375rem) translateY(100%);
      }
      .close-features {
        transform: translateX(9.375rem);
      }
      &:after {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 11.25rem;
        width: 5rem;
        right: 0;
        bottom: 1.875rem;
        background-image: url('images/TechHighlights/feat_tri_bottom.png');
        position: absolute;
        background-size: contain;
      }
    }
    .content-split {
      &:nth-child(2) {
        margin-top: 3rem;
        padding: 0;
      }
      &:nth-child(1) {
        padding: 0;
        margin-bottom: 0rem;
      }
      p {
        font-size: 1.25rem;
      }
      li {
        font-size: 1.25rem;
      }
      width: 100%;
    }
  }
  .product_top {
    background: #252c2e;
    padding-top: 1px;
    position: relative;
    z-index: 1;
    padding-bottom: 1px;
  }
  .vp-1400 {
    .product_top {
      &:after {
        right: 0;
      }
    }
    .tech-header {
      &:after {
        width: 100%;
        background-image: url('images/TechHighlights/tech-bg-1400.png');
        background-size: cover;
        background-position: center;
        top: 0;
        border: none;
        transform: none;
        left: 0;
      }
    }
    .features-header {
      &:after {
        height: 7.5rem;
        width: 100%;
        background-image: url('images/TechHighlights/feat-bg-1400.png');
        background-size: cover;
        background-position: center;
        transform: unset;
        border: none;
        left: 0;
      }
    }
  }
  .design {
    background-color: @t_background_color_2;
    height: 8.5625rem;
    margin-bottom: 1.25rem;
    margin-top: 1.875rem;
    overflow: hidden;
    position: relative;
    background-image: url('images/TechHighlights/design_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .inner_wrapper {
      height: 100%;
      position: relative;
    }
    &:before {
      content: "";
      background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.33), transparent);
      width: 100%;
      height: 1px;
      display: block;
      top: 0;
      z-index: 1;
      left: 0;
      position: absolute;
    }
    &:after {
      content: "";
      background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.33), transparent);
      width: 100%;
      height: 1px;
      display: block;
      bottom: 0;
      z-index: 1;
      left: 0;
      position: absolute;
    }
  }
  .flap {
    position: absolute;
    width: 22.5rem;
    height: 40rem;
    left: 50%;
    transform: translateX(-48rem);
    z-index: 3;
    top: -12rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    a {
      pointer-events: all;
    }
    p {
      position: absolute;
      left: 37%;
      font-size: 20px;
      top: 37.3%;
      font-style: italic;
      color: @t_color_1;
      text-transform: uppercase;
    }
    span {
      display: block;
      top: 12.1rem;
      position: absolute;
      text-align: center;
      left: 12.3rem;
      font-family: @t_fontfamily_1;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-style: italic;
      width: 9.0625rem;
    }
  }
  .vp-640 {
    .flap {
      left: 36%;
      transform: translateX(-30rem);
      top: -6.5rem;
    }
    .product_description {
      p {
        padding: 0 2.5rem;
        width: 100%;
        font-size: 1.25rem;
      }
      h2 {
        padding: 0 2.5rem;
        width: 100%;
        font-size: 1.25rem;
        font-size: 1.4rem;
      }
      .paragraphs {
        p {
          pointer-events: all;
        }
        overflow: hidden;
      }
    }
    .info-menu {
      .heading {
        margin-right: 40rem;
      }
      .pre-t {
        transform: scale(1.6) skew(45deg);
        left: -3.5rem;
        top: 1.1rem;
      }
      .pre-t-2 {
        transform: scale(1.8) skew(43deg);
        left: -2.59rem;
        top: 0.55rem;
      }
      .menu-point {
        font-size: 1.25rem;
        height: 2rem;
        line-height: 2rem;
        margin-bottom: 0.25rem;
      }
      width: 50rem;
      margin-top: -2rem;
      transform: translateX(13.375rem) skew(-45deg);
      .menu-wrapper {
        margin-left: 5rem;
      }
    }

    .tech-header {
      h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
      }
      &:after {
        width: 40rem;
        background-image: url('images/TechHighlights/tech_header.png');
        background-size: contain;
      }
      div {
        transform: none;
        left: auto;
        right: 0;
      }
      div.out {
        transform: translateY(100%);
      }
      span {
        img {
          left: 50%;
          top: 3rem;
        }
        &:before {
          left: 5%;
          width: 14.5rem;
        }
        left: 60%;
      }
    }
    .tech {
      li {
        p {
          font-size: 1.25rem;
        }
        width: 100%;
      }
      &:before {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 22.5rem;
        width: 17.8125rem;
        left: 6rem;
        bottom: -1.5rem;
        transform: translateX(-50%);
        background-image: url('images/TechHighlights/tech_tri_bottom.png');
        position: absolute;
        background-size: contain;
      }
      .close-tech {
        transform: none;
        left: auto;
        right: 0;
      }
      .close-tech.out {
        transform: translateY(100%);
      }
    }
    .features-header {
      div {
        transform: none;
        left: auto;
        right: 0;
      }
      div.out {
        transform: translateY(100%);
      }
      span {
        img {
          left: 50%;
          top: 3rem;
        }
        &:before {
          left: 5%;
          width: 14.5rem;
        }
        left: 60%;
      }
      h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
      }
      &:after {
        height: 7.5rem;
        width: 40rem;
        background-image: url('images/TechHighlights/feat_header.png');
        left: 0;
        transform: unset;
      }
    }
    .features {
      .close-features {
        transform: translateY(0);
        left: auto;
        right: 0;
      }
      .close-features.out {
        transform: translateY(100%);
      }
      .column {
        width: 100%;
        margin: 0.9375rem 0;
      }
      h2 {
        font-size: 1.5625rem;
      }
      h4 {
        font-size: 1.25rem;
      }
      span {
        font-size: 1.25rem;
      }
      &:after {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 22.4375rem;
        width: 10.0625rem;
        right: 0;
        bottom: 1.875rem;
        background-image: url('images/TechHighlights/feat_tri_bottom.png');
        position: absolute;
        background-size: contain;
      }
      &:before {
        transform-origin: 0 0;
        z-index: -1;
        content: '';
        height: 3.9375rem;
        width: 6.375rem;
        left: 0;
        top: 0;
        background-image: url('images/TechHighlights/feat_tri_top.png');
        position: absolute;
        background-size: contain;
      }
    }
  }
  .grey {
    .flap {
      background-image: url('images/TechHighlights/flap_grey.png');
    }
    .tech-header {
      background-image: url('images/TechHighlights/tech_header_bg.jpg'), linear-gradient(to left, #435051 0%, #435051 50%, #757778 51%, #757778 100%);
      background-position: 50% 0;
      div {
        background-image: url('images/TechHighlights/Features_close_Easy_Produkt_grey.png');
      }
      span {
        &:before {
          background-image: url('images/TechHighlights/road_open_grey.png');
        }
      }
    }
    .tech {
      .close-tech {
        background-image: url('images/TechHighlights/Features_close_Trail_Produkt_grey.png');
      }
    }
    .features {
      .close-features {
        background-image: url('images/TechHighlights/Features_close_Trail_Produkt_grey.png');
      }
    }
    .features-header {
      div {
        background-image: url('images/TechHighlights/Features_close_Easy_Produkt_grey.png');
      }
      span {
        &:before {
          background-image: url('images/TechHighlights/road_open_grey.png');
        }
      }
      background-image: url('images/TechHighlights/features_header_bg.jpg'), linear-gradient(to left, #435051 0%, #435051 50%, #757778 51%, #757778 100%);
      background-position: 50% 0;
    }
  }
  .product_description {
    padding: 0 0 3rem 0;
    overflow: hidden;
    height: 20rem;
    pointer-events: none;
    .paragraphs {
      h2 {
        font-size: 1.25rem;
        font-style: normal;
        padding: 0 4.6875rem 0 4.6875rem;
        color: @t_color_6;
        margin: 3rem 0 0;
        line-height: 1.5em;
      }
      p {
        pointer-events: none;
        span {
          pointer-events: all;
        }
      }
    }
    p {
      padding: 0 4.6875rem;
      box-sizing: border-box;
    }
    .weiterlesen {
      white-space: nowrap;
      cursor: pointer;
      font-style: italic;
      &:after {
        content: "";
        display: inline-block;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAFBAMAAABhiAtlAAAAG1BMVEUAAAD////////////////////////////////rTT7CAAAACHRSTlMA+INzWEUz31zPGGUAAAAnSURBVAjXY9BoFBTsUGBglujoEGZgYHDsaHQAUqwSogwgkJ7AwAAAbBcFNeF/F2gAAAAASUVORK5CYII=");
        background-repeat: no-repeat;
        background-size: cover;
        width: 0.6875rem;
        height: 0.3125rem;
      }
    }
  }
  section {
    position: relative;
  }
  .info-menu {
    width: 54.0625rem;
    margin: auto;
    transform: translateX(1.375rem) skew(-45deg);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    -webkit-transition: ease 500ms;
    -moz-transition: ease 500ms;
    -ms-transition: ease 500ms;
    -o-transition: ease 500ms;
    transition: ease 500ms;
    .heading {
      float: left;
    }
    .pre-t {
      overflow: hidden;
      transform: scale(0.7) skew(45deg);
      position: absolute;
      left: -1.875rem;
      top: -0.25rem;
      width: 0;
      height: 0;
      border-left: 1.375rem solid transparent;
      border-right: 1.375rem solid transparent;
      border-top: 1.4375rem solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    .pre-t-2 {
      overflow: hidden;
      transform: scale(0.7) skew(43deg);
      position: absolute;
      left: -2.1875rem;
      top: 0.125rem;
      width: 0;
      height: 0;
      border-left: 1.375rem solid transparent;
      border-right: 1.375rem solid transparent;
      border-top: 1.5rem solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    .after-t {
      overflow: hidden;
      transform: scale(0.7) skew(45deg);
      position: absolute;
      right: -1.75rem;
      bottom: -0.25rem;
      width: 0;
      height: 0;
      border-left: 1.375rem solid transparent;
      border-right: 1.375rem solid transparent;
      border-bottom: 1.4375rem solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    .after-t-2 {
      overflow: hidden;
      transform: scale(0.7) skew(45deg);
      position: absolute;
      right: -2.1875rem;
      bottom: 0.125rem;
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 23px solid #6a7388;
      cursor: auto;
      margin: 0;
      opacity: 0;
      -webkit-transition: ease 500ms;
      -moz-transition: ease 500ms;
      -ms-transition: ease 500ms;
      -o-transition: ease 500ms;
      transition: ease 500ms;
    }
    * {
      transform: skew(45deg);
    }
    .menu-point {
      font-size: 0.8125rem;
      height: 100%;
      line-height: 2.9375rem;
      align-self: center;
      cursor: pointer;
      float: left;
      margin-left: 1rem;
      margin-right: 0rem;
      -webkit-transition: ease 250ms;
      -moz-transition: ease 250ms;
      -ms-transition: ease 250ms;
      -o-transition: ease 250ms;
      transition: ease 250ms;
      transform: skew(-45deg);
    }
    .menu-point.active {
      color: @t_color_1;
    }
    h4 {
      font-size: 0.8125rem;
      font-weight: bold;
      font-style: italic;
      margin-left: 1rem;
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      margin-right: 0.5rem;
      height: 1.6875rem;
      width: 7.25rem;
      text-align: center;
      color: @t_color_1;
      position: relative;
      line-height: 1.6875rem;
      &:before {
        content: "";
        position: absolute;
        transform: skewX(-45deg);
        display: block;
        background: #3f4142;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }
  }
  .info-menu.focus {
    .pre-t {
      opacity: 0.5;
    }
    .pre-t-2 {
      opacity: 0.5;
    }
    .after-t {
      opacity: 0.5;
    }
    .after-t-2 {
      opacity: 0.5;
    }
  }
  .tech-header {
    color: @t_color_1;
    z-index: 1;
    background: linear-gradient(to right, #788093 0%, #415069 28%, #093248 100%);
    height: 7.4rem;
    font-family: @t_fontfamily_1;
    background-repeat: no-repeat;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 7.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    h2 {
      margin: 0;
      font-size: 3.125rem;
      color: @t_color_15;
      font-style: italic;
    }
    &:after {
      content: '';
      height: 7.5rem;
      width: 100px;
      z-index: -1;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      border-left: transparent 120px solid;
      border-right: transparent 120px solid;
      border-top: rgba(255, 255, 255, 0.05) 120px solid;
      transform-origin: 0 0;
      transform: scaleY(-1) translateY(-50%) translateX(95%);
    }
    div {
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    div.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    span {
      top: 0.875rem;
      position: absolute;
      left: 50%;
      transform: translateX(14.5625rem);
      line-height: normal;
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      transition: 1s ease;
      &:hover {
        img {
          top: 5.3125rem;
        }
      }
      img {
        -webkit-transition: ease 250ms;
        -moz-transition: ease 250ms;
        -ms-transition: ease 250ms;
        -o-transition: ease 250ms;
        transition: ease 250ms;
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: table;
        left: 50%;
        transform: translateX(-50%);
        top: 5rem;
      }
      &:before {
        content: "";
        display: block;
        height: 7.4375rem;
        width: 18.875rem;
        background-repeat: no-repeat;
        position: absolute;
        top: -0.875rem;
        transform: translateX(-45.5%);
        left: 50%;
        z-index: -1;
      }
    }
  }
  .highlight {
    z-index: 5;
    svg {
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
  }
  .tech-bg {
    background-color: @t_background_color_1;
  }
  .tech {
    background-color: @t_background_color_8;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-image: url('images/TechHighlights/tech-t-left.png'), url('images/TechHighlights/tech-t-right.png');
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-position: left bottom, right top;
    ul {
      margin: 2.25rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    li {
      margin-bottom: 2.25rem;
      width: 50%;
      padding-right: 1.5rem;
      p {
        font-family: @t_fontfamily_2;
        line-height: 1.5em;
      }
    }
    h2 {
      font-weight: bold;
      font-family: @t_fontfamily_1;
      color: @t_color_8;
      font-style: normal;
      font-size: 20px;
      font-size: 1.25rem;
      margin: 0 0 .25em 0;
    }
    &:after {
      content: '';
      visibility: hidden;
      width: 58.625rem;
      height: 175rem;
      position: absolute;
      right: -59.5rem;
      bottom: 0;
      transform: translateX(-50%) scale(0.5);
      transform-origin: 0 0;
      z-index: -1;
    }
    .close-tech {
      cursor: pointer;
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    .close-tech.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    .inner_wrapper {
      padding-bottom: 4rem;
    }
  }
  .tech-desc {
    transition: color .165s;
    cursor: pointer;
    &:hover {
      color: @t_color_16;
      text-decoration: none;
    }
    &:focus {
      color: @t_color_16;
      text-decoration: none;
    }
  }
  .features-header {
    overflow: hidden;
    height: 7.5rem;
    font-family: @t_fontfamily_1;
    font-weight: bold;
    font-style: italic;
    color: @t_color_1;
    line-height: 7.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    div {
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    div.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    span {
      top: 0.875rem;
      position: absolute;
      left: 50%;
      transform: translateX(14.5625rem);
      line-height: normal;
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      transition: 1s ease;
      &:hover {
        img {
          top: 5.3125rem;
        }
      }
      img {
        -webkit-transition: ease 250ms;
        -moz-transition: ease 250ms;
        -ms-transition: ease 250ms;
        -o-transition: ease 250ms;
        transition: ease 250ms;
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: table;
        left: 50%;
        transform: translateX(-50%);
        top: 5rem;
      }
      &:before {
        content: "";
        display: block;
        height: 7.4375rem;
        width: 18.875rem;
        background-repeat: no-repeat;
        position: absolute;
        top: -0.875rem;
        transform: translateX(-45.5%);
        left: 50%;
        z-index: -1;
      }
    }
    h2 {
      margin: 0;
      font-size: 3.125rem;
      color: @t_color_15;
    }
    &:after {
      content: '';
      background-size: contain;
      transform-origin: 0 0;
      display: block;
      position: absolute;
      top: 0;
      z-index: -1;
      height: 7.5rem;
      width: 80px;
      left: 50%;
      border-left: transparent 120px solid;
      border-right: transparent 120px solid;
      border-top: rgba(255, 255, 255, 0.05) 120px solid;
      transform: scaleY(-1) translateY(-50%) translateX(-210%);
    }
  }
  .features {
    overflow: hidden;
    position: relative;
    background-image: url('images/TechHighlights/feat-t-top.png'), url('images/TechHighlights/feat-t-right.png');
    background-position: left top, right;
    background-repeat: no-repeat;
    .column {
      margin: 2.25rem 0;
      display: block;
      width: 33%;
      float: left;
    }
    .close-features {
      background-repeat: no-repeat;
      width: 12.375rem;
      height: 6.1875rem;
      background-size: 100%;
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(14.875rem);
      bottom: 0;
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
    }
    .close-features.out {
      transform: translateX(14.875rem) translateY(100%);
    }
    li {
      margin: 0em 0;
    }
    h2 {
      font-size: 1.25rem;
      color: @t_color_8;
      font-style: normal;
      float: left;
      width: 50%;
    }
    h4 {
      display: block;
      float: left;
      line-height: 1.5em;
      vertical-align: top;
      font-size: 16px;
      font-size: 1rem;
      color: @t_color_17;
      text-align: right;
      font-style: normal;
      text-transform: none;
      margin: 0;
    }
    span {
      display: block;
      float: left;
      line-height: 1.5em;
      vertical-align: top;
      vertical-align: top;
      text-align: left;
      font-family: @t_fontfamily_2;
    }
    .inner_wrapper {
      padding-bottom: 4rem;
    }
  }
  .footer_wrapper {
    position: relative;
    z-index: 1;
  }
  .site_wrapper {
    .paragraphs {
      p {
        margin: 0;
      }
    }
  }
  .content-split.heading {
    margin: 3rem 0 0;
    float: left;
    width: 100%;
  }
  .heading {
    & + div {
      > .content-split {
        margin-top: 0;
      }
    }
  }
  .content-split {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3rem 0;
    &:nth-child(1) {
      padding-right: 1.875rem;
    }
    p {
      &:last-child {
        margin-bottom: 0rem;
      }
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 1.5em;
      font-family: @t_fontfamily_2;
    }
    ul {
      &:last-child {
        margin-bottom: 0rem;
      }
      margin: 0;
      margin-bottom: 1.5rem;
      li {
        &:before {
          content: "▸";
        }
        width: 100%;
        margin: 0;
      }
    }
    img {
      &:last-child {
        margin-bottom: 0rem;
      }
      max-width: 100%;
      margin-bottom: 1.5rem;
    }
    &:nth-child(2) {
      padding-left: 1.875rem;
    }
    h2 {
      color: @t_color_21;
      font-family: @t_fontfamily_2;
      font-size: 1.25rem;
      line-height: 1.5em;
      font-weight: 600;
      margin: 0;
      text-transform: inherit;
      font-style: normal;
      font-size: 1.5rem;
    }
    h3 {
      color: @t_color_21;
      font-family: @t_fontfamily_2;
      font-size: 1.25rem;
      line-height: 1.5em;
      font-weight: 600;
      margin: 0;
      text-transform: inherit;
      font-style: normal;
      font-size: 1.5rem;
    }
    li {
      font-size: 1rem;
      line-height: 1.5em;
      font-family: @t_fontfamily_2;
    }
  }
  .trenner {
    width: 100%;
    height: 1px;
    float: left;
    background-image: url('images/TechHighlights/slide_trenner.png');
    background-size: 100% auto;
  }
}

@ts_color_1: #333;
@ts_border_color_1: transparent #fff transparent transparent;
@ts_border_color_2: transparent transparent #fff transparent;
#tech {
  @keyframes slide_left {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  @keyframes fade_left {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }
  @keyframes slide_right {
    0% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
  }

  @keyframes fade_right {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
  .slider {
    width: 100%;
    margin: 0 auto;
  }
  .first-teaser {
    margin: 0 auto;
    z-index: 3;
    .inner_wrapper {
      max-width: 60rem;
      width: 90%;
    }
  }
  .slider_wrapper {
    position: relative;
  }
  .slider_holder {
    width: 100%;
    height: 35rem;
    position: relative;
    .arrow {
      cursor: pointer;
      position: absolute;
      width: 50px;
      height: 95px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      z-index: 1;
      pointer-events: initial;
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: @ts_border_color_1;
        opacity: .4;
        left: 0;
        top: 0;
        transition-duration: .165s;
        transition-property: opacity, transform;
        border-width: 2.96875rem 3.125rem 2.96875rem 0;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: @ts_border_color_1;
        opacity: .4;
        left: 0;
        top: 0;
        transition-duration: .165s;
        transition-property: opacity, transform;
        border-width: 2.671875rem 2.8125rem 2.671875rem 0;
        left: 0px;
        top: 0.9375rem;
      }
      &:hover {
        &:after {
          opacity: .4;
          transform: translate(0.1875rem, -0.1875rem);
        }
        &:before {
          opacity: .4;
          transform: translate(-0.1875rem, 0.1875rem);
        }
      }
    }
    .arrow.prev {
      left: -4.0625rem;
      outline: none;
    }
    .arrow.next {
      right: -4.0625rem;
      transform: scaleX(-1);
      outline: none;
    }
  }
  .slider_gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 1rem;
      background: linear-gradient(to right, #252c2e, transparent);
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 1rem;
      right: 0;
      background: linear-gradient(to left, #252c2e, transparent);
    }
  }
  .slider_arrows {
    width: 47.5rem;
    position: absolute;
    height: 100%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
  }
  .vp-940 {
    .slider_arrows {
      width: 70%;
    }
  }
  .slider_frame {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.33s transform ease-out;
  }
  .slider_item {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 100%;
    video, iframe {
      width: 100%;
      height: 100%;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .slider_item[data-item="0"] {
    left: 0;
  }
  .slider_nav {
    text-align: center;
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .slider_nav_triangle {
    display: inline-block;
    margin: 0 0.375rem;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.09375rem 1.125rem 1.09375rem;
    border-color: @ts_border_color_2;
    transition-duration: .165s;
    transition-property: opacity, transform;
    opacity: .33;
    &:hover {
      opacity: .66;
    }
  }
  .slider_nav_triangle.active {
    opacity: 1;
  }
  .gender_select {
    width: 10.625rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: @ts_color_1;
    white-space: nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    outline: none;
    margin-left: 1.5625rem;
    .unskew {
      width: 100%;
    }
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      background: #373b3d;
      border: 1px solid #a0a2a3;
      transform: skew(-45deg);
      width: 100%;
      height: 100%;
    }
    .bg-active {
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
      transform: skew(-45deg) scaleX(0.75);
      transform-origin: 0% 50%;
      transition: transform-origin 0.165s;
    }
    .men {
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 7.75rem;
      left: 0;
      top: 0;
      .unskew {
        padding-left: 0.9375rem;
      }
    }
    .women {
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 7.75rem;
      right: 0;
      top: 0;
      text-align: right;
      .unskew {
        padding-right: 0.9375rem;
      }
    }
    .men_icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-image: url('images/Product_v200/men-icon-active.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 0.875rem;
      height: 0.875rem;
      margin-right: 1.125rem;
    }
    .men_label {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      transition: opacity .165s;
      opacity: 0;
    }
    .women_icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-image: url('images/Product_v200/women-icon-active.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 0.6875rem;
      height: 1.0625rem;
      margin-left: 1.125rem;
    }
    .women_label {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      transition: opacity .165s;
      opacity: 0;
    }
    .men.inactive {
      .men_icon {
        background-image: url('images/Product_v200/men-icon-inactive.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .women.inactive {
      .women_icon {
        background-image: url('images/Product_v200/women-icon-inactive.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .gender_select.men {
    .bg-active {
      transform-origin: 0% 50%;
    }
    .men_label {
      opacity: 1;
    }
    .women_label {
      opacity: 0;
    }
  }
  .gender_select.women {
    .bg-active {
      transform-origin: 100% 50%;
    }
    .men_label {
      opacity: 0;
    }
    .women_label {
      opacity: 1;
    }
  }
  .material_selection {
    padding-left: 12.5rem;
    text-align: right;
    font-size: 0;
    line-height: 135px;
    white-space: nowrap;
    .material_inner {
      display: inline-block;
      vertical-align: middle;
      line-height: 5.9375rem;
    }
    .tri {
      pointer-events: none;
      vertical-align: top;
      display: inline-block;
      margin: 0 -2.1875rem;
      width: 9.375rem;
      height: 4.6875rem;
      position: relative;
      top: 0;
      .tri_container {
        width: 9.375rem;
        height: 4.6875rem;
        position: relative;
        overflow: hidden;
        transition: transform .33s;
      }
      .tri_hover {
        pointer-events: all;
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 6.625rem;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        cursor: pointer;
        background: #000;
        opacity: .5;
        transition: opacity .33s;
        &:hover {
          opacity: 0;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(even) {
        transform: rotate(180deg);
        margin-top: 1.25rem;
      }
      &:nth-child(even).active {
        .tri_container {
          transform: translateY(-0.625rem);
        }
      }
    }
    .tri.active {
      .tri_hover {
        opacity: .01;
      }
      .tri_container {
        transform: translateY(-0.625rem);
      }
    }
    .tri_holder {
      position: relative;
      left: -13.75rem;
      top: -9.375rem;
    }
  }
  .highlight {
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    svg {
      margin-left: -3.125rem;
      margin-top: -4.0625rem;
      transform-origin: 50% 50%;
    }
  }
  .slider_item.pos-pre {
    -webkit-animation: 0.33s fade_left forwards;
    -moz-animation: 0.33s fade_left forwards;
    -o-animation: 0.33s fade_left forwards;
    animation: 0.33s fade_left forwards;
  }
  .slider_item.pos-active {
    left: 0;
  }
  .slider_item.pos-next {
    -webkit-animation: 0.33s fade_right forwards;
    -moz-animation: 0.33s fade_right forwards;
    -o-animation: 0.33s fade_right forwards;
    animation: 0.33s fade_right forwards;
  }
  .slider_item.transition {
    -webkit-transition: left 0.33s ease-out;
    -moz-transition: left 0.33s ease-out;
    -ms-transition: left 0.33s ease-out;
    -o-transition: left 0.33s ease-out;
    transition: left 0.33s ease-out;
  }
  .anim-right {
    -webkit-animation: 0.33s slide_left forwards;
    -moz-animation: 0.33s slide_left forwards;
    -o-animation: 0.33s slide_left forwards;
    animation: 0.33s slide_left forwards;
  }
  .anim-left {
    -webkit-animation: 0.33s slide_right forwards;
    -moz-animation: 0.33s slide_right forwards;
    -o-animation: 0.33s slide_right forwards;
    animation: 0.33s slide_right forwards;
  }
  &.vp-960 {
    .slider_holder {
      height: 30.5rem;
    }
    .slider_arrows {
      width: 80%;
    }
    .slider_item {
      video {
        width: 50rem;
        max-width: 100%;
      }
      background-size: cover;
    }
    .gender_select {
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      top: 1.8125rem;
    }
    .material_selection {
      padding-left: 0;
      text-align: center;
      padding-top: 5.375rem;
      line-height: 8.4375rem;
    }
  }
  &.vp-640 {
    .first-teaser {
      .inner_wrapper {
        width: 31rem;
      }
    }
    .slider_holder {
      height: 40rem;
      .arrow.prev {
        left: -2.9rem;
      }
      .arrow.next {
        right: -2.9rem;
      }
    }
  }
}