@import "../imports/new_vars";

/////Scheme0 default
//Dient außerdem als Fallback für Scheme-abhängige Styles

.nav_programm_item {

  //Fallback

  .holder_name {

    color: @asics_lightblue;

  }

  .btn_programm, .btn_konzept {

    color: @asics_lightblue;
    background: @asics_lightgreen;

  }

  .overlay_konzept {

    color: @asics_lightblue;
    background: fade(@asics_lightgreen, 90%);

  }

  .overlay_konzept_close .close b {

    background: fade(@asics_lightgreen, 90%);

  }

}

.sidebar_programm_link, .sidebar_kategorie {
  color: @asics_blue;
}

.body_scheme.scheme_default, .body_scheme[class^=scheme] {

  //Body

  background-color: @scheme0_primary;

  .page_content {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("images/global/scheme0/scheme0_pattern.png");
    background-position: center bottom;
  }

  .nav_kategorie {
    background-color: @scheme0_primary;
  }

  &.page_type_overview {
  }

  &.page_type_product {
    .page_content {
      .inner_wrapper {
        background-color: @scheme0_primary;
      }
    }
  }

  //Page type simple
  .page_simple {
    .inner_wrapper {
      background: @scheme0_primary;
    }
  }

  //Overlay
  .big_content {
    background: @scheme0_primary;
  }

  //Topbar, Footer

  .footer_wrapper {
    color: @scheme0_accent;
    background-color: @scheme0_primary;
  }

  .topbar_svg, .footer_svg {
    path, rect {
      fill: @scheme0_accent;
    }
  }

  .topnav_btn {
    &:hover, &:focus {
      background: @scheme0_btn_hover;
    }
  }

  .topnav_search_icon {
    background-image: url(images/Navigation/Suchicon_blue.png);
  }

  .topnav_search_close {
    b {
      background: @scheme0_accent;
    }
  }

  .topnav_icon_facebook {
    background-image: url(images/Navigation/Facebook_blue.png);
  }

  //Suchfeld
  .topnav_search {
    background: @scheme0_primary;
  }

  #search {
    border-color: @scheme0_accent;
  }

  #search-result {
    background: @scheme0_primary;
    color: @scheme0_accent;
    border-color: @scheme0_accent;
  }

  //Breadcrumbs
  .bread_item {

    background: @scheme0_secondary;
    color: @scheme0_primary;

    &.bread_last {
      color: #fff;
    }

  }

  //Startseite: Auswahl Kategorie
  .nav_kategorie_item {
    color: @scheme0_accent;
    &.active {
      color: #fff;
    }
    &:hover, &:focus {
      background: fade(@scheme0_btn_hover, 50%);
    }
  }

  //Startseite: Startscreen
  .hover_shoes,
  .hover_apparel {
    color: @startbild_textcolor;
    &::before {
      background: @scheme0_primary;
    }
  }

  //Startseite: Auswahl Typ
  .nav_typ_item {
    color: @scheme0_secondary;
    &.active {
      color: @scheme0_primary;
      .nav_typ_item_inner {
        background: @scheme0_secondary;
      }
    }
  }

  //Overview Shoes
  .selector_item {
    span {
      color: @scheme0_secondary;
    }
    &.active {
      span {
        color: #fff;
      }
    }
  }

  .product-box {
    color: @scheme0_primary;
  }

  //Overview Technologies
  .tech-box {
    background-color: @scheme0_primary;
  }

  //Detailseite Shoes

  .info-btn {
    background: @scheme0_secondary;
    color: @scheme0_primary;
  }

  .menu-point {
    color: @scheme0_secondary;
  }

  .gender_select {

    .men_label, .women_label, .men_icon, .women_icon {
      background: @scheme0_secondary;
      color: @scheme0_primary;
    }

    .men_icon, .women_icon {
      path {
        fill: @scheme0_primary;
      }
    }

    &.men {
      .men_label, .men_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

    &.women {
      .women_label, .women_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

  }

  .technologies_headline, .features_headline, .detail_auf, .detail_zu {

    background: @scheme0_secondary;
    color: #fff;

  }

  .technologies_list {

    li {

      h2 {
        color: #fff;
      }

      p {
        color: @scheme0_secondary;
      }

    }

  }

  .feature_value {
    color: @scheme0_secondary;
  }

}