@import "../imports/new_vars";

/////scheme4 Trail

.nav_programm_item {

  &.scheme_4 {
    .holder_name {
      color: @asics_green;
    }
    .btn_programm, .btn_konzept {
      color: @asics_blue;
      background: @asics_green;
    }
    .overlay_konzept {
      color: @asics_blue;
      background: fade(@asics_green, 90%);
    }
    .overlay_konzept_close .close b {
      background: @asics_blue;
    }
  }

}

.body_scheme.scheme_4 {

  background-color: @scheme4_primary;

  .page_content {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &.page_type_overview, &.page_type_tech_overview {
    .page_content {
      background-image: url(images/global/scheme4/scheme4_overview.png);
      background-position: center bottom;
    }
  }

  &.page_type_product, &.page_type_tech {
    .page_content {
      background-image: url(images/global/scheme4/scheme4_detail.png);
      background-position: left bottom;
      .inner_wrapper {
        background-color: @scheme4_primary;
      }
    }
  }

  //Overlay
  .big_content {
    background: @scheme4_primary;
  }

  //Topbar, Footer

  .footer_wrapper {
    color: @scheme4_accent;
    background-color: @scheme4_primary;
  }

  .topbar_svg, .footer_svg {
    path, rect {
      fill: @scheme4_accent;
    }
  }

  .topnav_btn {
    &:hover, &:focus {
      background: @scheme4_btn_hover;
    }
  }

  .topnav_search_icon {
    background-image: url(images/Navigation/Suchicon_blue.png);
  }

  .topnav_search_close {
    b {
      background: @scheme4_accent;
    }
  }

  .topnav_icon_facebook {
    background-image: url(images/Navigation/Facebook_blue.png);
  }

  //Suchfeld

  .topnav_search {
    background: @scheme4_primary;
  }

  #search {
    border-color: @scheme4_accent;
  }

  #search-result {
    background: @scheme4_primary;
    color: @scheme4_accent;
    border-color: @scheme4_accent;
  }

  //Breadcrumbs
  .bread_item {

    background: @scheme4_secondary;
    color: @scheme4_primary;

    &.bread_last {
      color: #fff;
    }

  }

  //Startseite: Auswahl Kategorie
  .nav_kategorie_item {
    color: #fff;
    &.active {
      color: @scheme4_accent;
    }
    &:hover, &:focus {
      background: @scheme4_btn_hover;
    }
  }

  //Startseite: Startscreen
  .hover_shoes,
  .hover_apparel {
    color: @startbild_textcolor;
    &::before {
      background: @scheme4_primary;
    }
  }

  //Startseite: Auswahl Typ
  .nav_typ_item {
    color: @scheme4_secondary;
    &.active {
      color: @scheme4_primary;
      .nav_typ_item_inner {
        background: @scheme4_secondary;
      }
    }
  }

  //Overview Shoes
  .selector_item {
    span {
      color: @scheme4_secondary;
    }
    &.active {
      span {
        color: #fff;
      }
    }
  }

  .product-box {
    color: @scheme4_secondary;
  }

  //Overview Technologies
  .tech-box {
    background-color: @scheme4_primary;
  }

  //Detailseite Shoes

  .product_description {
    color: @scheme4_secondary;
  }

  .info-btn {
    background: @scheme4_secondary;
    color: @scheme4_primary;
  }

  .menu-point {
    color: @scheme4_secondary;
  }

  .gender_select {

    .men_label, .women_label, .men_icon, .women_icon {
      background: @scheme4_secondary;
      color: @scheme4_primary;
    }

    .men_icon, .women_icon {
      path {
        fill: @scheme4_primary;
      }
    }

    &.men {
      .men_label, .men_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

    &.women {
      .women_label, .women_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

  }

  .technologies_headline, .features_headline, .detail_auf, .detail_zu {

    background: @scheme4_secondary;
    color: #fff;

    &.active {
      color: @scheme4_primary;
    }

  }

  .technologies_list {

    li {

      h2 {
        color: #fff;
      }

      p {
        color: @scheme4_secondary;
      }

    }

  }

  .feature_value {
    color: @scheme4_secondary;
  }

}