@import "../imports/new_vars";

/////scheme3 Fast

.nav_programm_item {

  //Fast
  &.scheme_3 {
    .holder_name {
      color: @asics_matblue;
    }
    .btn_programm, .btn_konzept {
      color: @asics_blue;
      background: @asics_matblue;
    }
    .overlay_konzept {
      color: @asics_blue;
      background: fade(@asics_matblue, 90%);
    }
    .overlay_konzept_close .close b {
      background: @asics_blue;
    }
  }

}

.body_scheme.scheme_3 {

  background-color: @scheme3_primary;

  .page_content {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .page_content {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &.page_type_overview, &.page_type_tech_overview {
    .page_content {
      background-image: url(images/global/scheme3/scheme3_overview.png);
      background-position: center bottom;
    }
  }

  &.page_type_product, &.page_type_tech {
    .page_content {
      background-image: url(images/global/scheme3/scheme3_detail_top.png), url(images/global/scheme3/scheme3_detail_bottom.png);
      background-position: right top, left bottom;
      .inner_wrapper {
        background-color: @scheme3_primary;
      }
    }
  }

  //Overlay
  .big_content {
    background: @scheme3_primary;
  }

  //Topbar, Footer

  .footer_wrapper {
    color: @scheme3_accent;
    background-color: @scheme3_primary;
  }

  .topbar_svg, .footer_svg {
    path, rect {
      fill: @scheme3_accent;
    }
  }

  .topnav_btn {
    &:hover, &:focus {
      background: @scheme3_btn_hover;
    }
  }

  .topnav_search_icon {
    background-image: url(images/Navigation/Suchicon_blue.png);
  }

  .topnav_search_close {
    b {
      background: @scheme3_accent;
    }
  }

  .topnav_icon_facebook {
    background-image: url(images/Navigation/Facebook_blue.png);
  }

  //Suchfeld

  .topnav_search {
    background: @scheme3_primary;
  }

  #search {
    border-color: @scheme3_accent;
  }

  #search-result {
    background: @scheme3_primary;
    color: @scheme3_accent;
    border-color: @scheme3_accent;
  }

  //Breadcrumbs
  .bread_item {

    background: @scheme3_secondary;
    color: @scheme3_primary;

    &.bread_last {
      color: #fff;
    }

  }

  //Startseite: Auswahl Kategorie
  .nav_kategorie_item {
    color: #fff;
    &.active {
      color: @scheme3_accent;
    }
    &:hover, &:focus {
      background: @scheme3_btn_hover;
    }
  }

  //Startseite: Startscreen
  .hover_shoes,
  .hover_apparel {
    color: @startbild_textcolor;
    &::before {
      background: @scheme3_primary;
    }
  }

  //Startseite: Auswahl Typ
  .nav_typ_item {
    color: @scheme3_secondary;
    &.active {
      color: @scheme3_primary;
      .nav_typ_item_inner {
        background: @scheme3_secondary;
      }
    }
  }

  //Overview Shoes
  .selector_item {
    span {
      color: @scheme3_secondary;
    }
    &.active {
      span {
        color: #fff;
      }
    }
  }

  .product-box {
    color: @scheme3_secondary;
  }

  //Overview Technologies
  .tech-box {
    background-color: @scheme3_primary;
  }

  //Detailseite Shoes

  .product_description {
    color: @scheme3_secondary;
  }

  .info-btn {
    background: @scheme3_secondary;
    color: @scheme3_primary;
  }

  .menu-point {
    color: @scheme3_secondary;
  }

  .gender_select {

    .men_label, .women_label, .men_icon, .women_icon {
      background: @scheme3_secondary;
      color: @scheme3_primary;
    }

    .men_icon, .women_icon {
      path {
        fill: @scheme3_primary;
      }
    }

    &.men {
      .men_label, .men_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

    &.women {
      .women_label, .women_icon {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }

  }

  .technologies_headline, .features_headline, .detail_auf, .detail_zu {

    background: @scheme3_secondary;
    color: #fff;

    &.active {
      color: @scheme3_primary;
    }

  }

  .technologies_list {

    li {

      h2 {
        color: #fff;
      }

      p {
        color: @scheme3_secondary;
      }

    }

  }

  .feature_value {
    color: @scheme3_secondary;
  }

}