@import "../../../style/imports/new_vars.less";
@import "../../../style/imports/mixins.less";

.page_type_simple {

  .page_content {

    .font_opensans;
    .has_paragraphs;

  }

  .page_title {
    font-size: 50px;
    margin: .5em 0;
    line-height: 1em;
  }

  .simple_content {

    padding: 28px 75px;
    margin: 28px 0;

  }

  &.vp0x960 {

    .page_title {

      font-size: 50px;
      font-size: 50/@px;

    }

    .simple_content {

      padding: 28px 0;
      padding: 28/@px 0;
      margin: 28px 0;
      margin: 28/@px 0;

    }

  }

  &.vp0x640 {

    .page_content {
      font-size: 20px;
      font-size: 20/@px;
    }

  }

}