@import "../../../style/imports/mixins.less";
@import "../../../style/imports/new_vars.less";

@path: "../module/Footer/";

.footer_wrapper {

  .font_opensans;
  font-size: 14px;
  font-size: 14/@px;

}

.inner_wrapper.footer_inner {

  padding-top: 25px;
  padding-top: 25/@px;
  padding-bottom: 25px;
  padding-bottom: 25/@px;
  position: relative;

  .vp0x640 & {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

  }
}

.footer_logo_svg {

  width: 105px;
  width: 105/@px;
  height: 34px;
  height: 34/@px;

  .vp0x640 & {

    display: block;
    margin: auto;
    margin-top: 24px;
    margin-top: 24/@px;

  }
}

.footer_copyright, .footer_nav {

  float: left;
  width: 50%;
  margin-top: 8px;
  margin-top: 8/@px;
  font-size: 16px;
  font-size: 16/@px;
  text-transform: uppercase;

  .vp0x640 & {

    width: auto;
    text-align: center;
    font-size: 14px;
    font-size: 14/@px;

  }
}

.footer_copyright {

  text-align: left;

}

.footer_nav {

  text-align: right;

}

.footer_nav_item {

  display: inline-block;
  padding: 0 10px;
  padding: 0 10/@px;

  a {

    color: inherit;
    text-decoration: none;

  }
  .vp0x640 & {

    font-size: 24.4px;
    font-size: 24.4/@px;

  }
  &:first-child {

    padding-left: 0;

  }
  &:last-child {

    padding-right: 0;

  }
}
