@import "../../../style/imports/new_vars.less";
@import "../../../style/imports/mixins.less";

@keyframes fade_in_highlight {
  0% {
	opacity: 0;
  }
  50% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}

@keyframes slide_left {
  0% {
	left: 100%;
  }
  100% {
	left: 0%;
  }
}

@keyframes fade_left {
  0% {
	left: 0%;
  }
  100% {
	left: -100%;
  }
}

@keyframes slide_right {
  0% {
	left: -100%;
  }
  100% {
	left: 0%;
  }
}

@keyframes fade_right {
  0% {
	left: 0%;
  }
  100% {
	left: 100%;
  }
}

.page_type_tech {
  .page_content {

	padding-top: 0px;
	padding-bottom: 51px;
	padding-bottom: 51/@px;

  }
  .product_single {

	margin-top: 9px;
	margin-top: 9/@px;

	.inner_wrapper {
	  &.detail_slider {

		padding: 0 0;

	  }
	}
  }
  .detail_section {

	padding: 0 75px;

  }
  .detail_content {

	overflow: hidden;

  }
  .slider {

	width: 100%;
	margin: 0 auto;

  }
  .slider_wrapper {

	position: relative;

	.arrow {

	  cursor: pointer;
	  position: absolute;
	  width: 50px;
	  height: 95px;
	  top: 249px;
	  margin: auto 0;
	  z-index: 1;

	  &:after {

		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
		opacity: .35;
		left: 0;
		top: 0;
		transition-duration: .165s;
		transition-property: opacity, transform;
		border-width: 47px 50px 47px 0;

	  }
	  &:before {

		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
		opacity: .35;
		left: 0;
		top: 0;
		transition-duration: @transition_duration;
		transition-property: opacity, transform;
		border-width: 43px 45px 43px 0;
		left: 0px;
		top: 15px;

	  }
	  &:hover {
		&:after {

		  opacity: .7;
		  transform: translate(3px, -3px);

		}
		&:before {

		  opacity: .7;
		  transform: translate(-3px, 3px);

		}
	  }
	}
	.arrow.prev {

	  left: 233px;
	  outline: none;

	}
	.arrow.next {

	  right: 233px;
	  transform: scaleX(-1);
	  outline: none;

	}
  }
  .slider_holder {

	width: 100%;
	height: 560px;
	position: relative;

  }
  .slider_gallery {

	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
	position: relative;

  }
  .slider_frame {

	width: 100%;
	height: 100%;
	display: block;
	transition: 0.33s transform ease-out;

  }
  .slider_item {

	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	left: 100%;

	img {

	  width: 100%;
	  height: auto;
	  max-width: 100%;
	  max-height: 100%;

	}
	&[data-item="0"] {

	  left: 0;

	}
	&.pos-pre {

	  animation: @transition_duration fade_left forwards;

	}
	&.pos-next {

	  animation: @transition_duration fade_right forwards;

	}
	&.transition {

	  transition: left @transition_duration ease-out;

	}
	&.anim-right {

	  animation: @transition_duration slide_left forwards;

	}
	&.anim-left {

	  animation: @transition_duration slide_right forwards;

	}
  }
  .slider_video {

	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;

  }
  .slider_nav {

	position: absolute;
	width: 100%;
	bottom: 50px;
	bottom: 50/@px;
	text-align: center;

  }
  .slider_nav_triangle {

	display: inline-block;
	margin: 0 6px;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 18px 18px 18px;
	border-width: 0 18/@px 18/@px 18/@px;
	border-color: transparent transparent #fff transparent;
	transition-duration: @transition_duration;
	transition-property: opacity, transform;
	opacity: .35;
	outline: none;

	&:hover {
	  opacity: .66;
	}

  }
  .slider_nav_triangle.active {

	opacity: 1;

  }
  .product_description {

	.font_opensans;
    .has_paragraphs;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	font-weight: bold;
	padding-bottom: 80px;
	padding-top: 40px;
	text-align: left;

	[lang="ar"] & {
	  text-align: right;
	}

  }
  .product_description_heading {

	font-size: 18px;
	text-transform: uppercase;

  }
  .technologies {

	.font_opensans;
    .has_paragraphs;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 40px;
	//text-align: justify;

  }
  .section_technologies, .section_features {

	padding-bottom: 80px;

  }
  .technologies_header, .features_header {

	text-align: center;

  }
  .features_header_inner, .technologies_header_inner {

	display: inline-block;
	position: relative;

  }
  .detail_section_controls {

	position: absolute;
	top: 100%;
	left: 100%;
	height: 40px;
	height: 40/@px;
	white-space: nowrap;

  }
  .detail_auf, .detail_zu {

	display: inline-block;
	position: relative;
	width: 25px;
	width: 25/@px;
	height: 40px;
	height: 40/@px;
	line-height: 40px;
	line-height: 40/@px;
	vertical-align: middle;
	font-size: 18px;
	font-size: 18/@px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1;
	background: #000;
	margin-right: 65px;
	margin-right: 65/@px;
	cursor: pointer;
	color: #fff;

	&:before, &:after {

	  content: "";
	  position: absolute;
	  display: block;
	  width: 65px;
	  width: 65/@px;
	  height: 40px;
	  height: 40/@px;
	  background: inherit;
	  top: 0;
	  z-index: -1;
	  transform: skewX(-58deg);

	}
	&:before {

	  transform-origin: 0 100%;
	  left: -65px;
	  left: -65/@px;

	}
	&:after {

	  transform-origin: 0 0;
	  right: -65px;
	  right: -65/@px;

	}
  }
  .technologies_headline, .features_headline {

	display: inline-block;
	position: relative;
	min-width: 395px;
	min-width: 395/@px;
	height: 40px;
	height: 40/@px;
	line-height: 40px;
	line-height: 40/@px;
	vertical-align: middle;
	font-size: 18px;
	font-size: 18/@px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1;

	.fixRemTransformRender();

	&:before, &:after {

	  content: "";
	  position: absolute;
	  display: block;
	  width: 65px;
	  width: 65/@px;
	  height: 40px;
	  height: 40/@px;
	  background: inherit;
	  top: 0;
	  z-index: -1;
	  transform: skewX(-58deg);

	}
	&:before {

	  transform-origin: 0 100%;
	  left: -65px;
	  left: -65/@px;

	}
	&:after {

	  transform-origin: 0 0;
	  right: -65px;
	  right: -65/@px;

	}
  }
  .features {

	width: 100%;
	margin-top: 80px;
	margin-top: 80/@px;
	.font_opensans;
	font-size: 16px;
	font-size: 16/@px;
	line-height: 21px;
	line-height: 21/@px;
	font-weight: bold;

  }
  .technologies_list {

	.font_opensans;
	margin-top: 80px;
	margin-top: 80/@px;
	font-size: 0;

	li {

	  display: inline-block;
	  width: 50%;
	  margin-bottom: 20px;
	  margin-bottom: 20/@px;

	  h2 {

		font-size: 18px;
		font-size: 18/@px;
		line-height: 24px;
		line-height: 24/@px;
		font-weight: bold;
		text-transform: uppercase;

	  }
	  p {

		font-size: 16px;
		font-size: 16/@px;
		line-height: 24px;
		line-height: 24/@px;
		font-weight: bold;

	  }
	  &.updates {

		width: 100%;

	  }
	}
	.tech-desc {

	  outline: none;
	  cursor: pointer;

	}
  }

  .techtype_apparel_highlight {
	.technologies, .features {
	  .content-split {
		&:nth-child(1) {

		  padding-right: 0;

		}
		&:nth-child(2) {

		  padding-left: 28px;
		  padding-left: 28/@px;

		}
	  }
	  .content-align {

		max-width: 549px;
		max-width: 549/@px;

	  }
	  .content-image {

		max-width: 201px;
		max-width: 201/@px;

	  }

	}
	.features {
	  .heading {

		font-size: 24px;
		font-size: 24/@px;
		padding-bottom: 24px;
		padding-bottom: 24/@px;

	  }
	  strong {

		//font-weight: normal;
		color: #fff;
		font-size: 18px;
		font-size: 18/@px;
		text-transform: uppercase;

	  }
	}
  }
  .techtype_shoe, .techtype_apparel_product {
	.content-split {
	  &:nth-child(1) {

		padding-right: 28px;
		padding-right: 28/@px;

	  }
	  &:nth-child(2) {

		padding-left: 28px;
		padding-left: 28/@px;

	  }
	  p {

		text-align: left;

	  }
	}
  }
  .technologies, .features {

	font-weight: bold;
	margin-top: 80px;
	margin-top: 80/@px;

	.content-align {

	  margin: 0 auto;

	}
	.content-row {

	  display: table;
	  width: 100%;

	}
	.content-split {

	  display: table-cell;
	  vertical-align: top;
	  width: 50%;

	  p {

        .has_paragraphs;
		//font-size: 20px;
		//font-size: 20/@px;
		margin-bottom: 16px;
		margin-bottom: 16/@px;

		[lang="ar"] & {
		  text-align: right;
		  direction: rtl;
		}

	  }
	}
	.heading {

	  font-size: 18px;
	  font-size: 18/@px;
	  color: #fff;
	  text-transform: uppercase;

	  [lang="ar"] & {
		text-align: right;
		width: 50%;
	  }

	}
	.content-image {

	  display: block;
	  margin: 0 0 0 auto;

	}
	.trenner {

	  clear: both;
	  padding: 10px 0;
	  padding: 10/@px 0;

	}
  }
  &.vp0x1201 {
	.detail_section {

	  padding-right: 0;
	  padding-left: 0;

	}
  }
  &.vp0x960 {

	.slider_holder {

	  height: 560px;
	  height: 560/@px;

	}
	.slider_wrapper {

	  .arrow {

		width: 40px;
		width: 40/@px;
		height: 60px;
		height: 60/@px;
		top: 249px;
		top: 249/@px;

		&:after {

		  border-width: 47/@px 50/@px 47/@px 0;
		  //border-width: 47/2/@px 50/2/@px 47/2/@px 0;

		}

		&:before {

		  border-width: 43/@px 45/@px 43/@px 0;
		  //border-width: 43/2/@px 45/2/@px 43/2/@px 0;
		  top: 7.5px;
		  top: 7.5/@px;

		}
		&:hover {
		  &:after {

			opacity: .7;
			transform: translate(2px, -2px);

		  }
		  &:before {

			opacity: .7;
			transform: translate(-2px, 2px);

		  }
		}
		&.next {

		  right: 25px;
		  right: 25/@px;

		}
		&.prev {

		  left: 25px;
		  left: 25/@px;

		}
	  }
	}
	.product_description {

	  .font_opensans;
	  font-size: 20px;
	  font-size: 20/@px;
	  line-height: 28px;
	  line-height: 28/@px;
	  font-weight: bold;
	  font-weight: bold;
	  padding-bottom: 110px;
	  padding-bottom: 110/@px;
	  padding-top: 70px;
	  padding-top: 70/@px;
	  text-align: left;

	}
	.product_description_heading {

	  font-size: 22px;
	  font-size: 22/@px;
	  text-transform: uppercase;

	}
	.section_technologies {

	  padding-bottom: 110px;
	  padding-bottom: 110/@px;

	}
	.section_features {

	  padding-bottom: 0;

	}
	.technologies_header, .features_header {

	  padding-right: 164px;
	  padding-left: 40px;
	  padding-right: 164/@px;
	  padding-left: 40/@px;

	}
	.features_header_inner, .technologies_header_inner {

	  width: 100%;

	}
	.technologies_headline, .features_headline {

	  width: 100%;

	}
	.technologies, .features {

	  margin-top: 110px;
	  margin-top: 110/@px;

	  .content-row {

		.flex-display();
		.flex-direction(column-reverse);

		.heading {

		  font-size: 22px;
		  font-size: 22/@px;
		  text-align: center;
		  margin-bottom: 40px;
		  margin-bottom: 40/@px;

		}

	  }
	  .content-split {

		display: block;
		padding: 0;
		width: 100%;
		margin-bottom: 40px;
		margin-bottom: 40/@px;

		&.heading {

		  font-size: 22px;
		  font-size: 22/@px;
		  text-align: center;

		}

		p {

		  font-size: 20px;
		  font-size: 20/@px;
		  line-height: 28px;
		  line-height: 28/@px;

		}

		img {

		  max-width: 100%;

		}

	  }
	  .content-image {

		margin: 0 auto;
		max-width: 100%;

	  }
	  .image_field {

		text-align: center;

	  }
	}
	.technologies_list li {

	  width: 100%;
	  padding: 0;

	}
	.features {

	  display: block;

	}
  }
  &.vp0x640 {
	.page_content {

	  padding-top: 30px;
	  padding-top: 30/@px;

	}
  }
}